<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en, ko">

  <!-- body --------------------------------------------------------------------------------------->
  <body>

    <!-- footer ----------------------------------------------------------------------------------->
    <div th:fragment="footer">
      <footer class="footer">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-2 col-md-6 col-sm-6 col-12 mb-3">
              <div class="footer__about">
                <div class="footer__logo" style="margin-left: -20px;">
                  <a th:href="@{/}"><img th:src="@{https://storage.googleapis.com/jungho-bucket/JUNGHQLO/images/icon/logo.png}" width="150px" height="150px"/></a>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-6 mb-3">
              <div class="footer__widget">
                <h6>Shopping</h6>
                <ul>
                  <li><a href="">Clothing Store</a></li>
                  <li><a href="">Trending Shoes</a></li>
                  <li><a href="">Accessories</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-6 mb-3">
              <div class="footer__widget">
                <h6>Shopping</h6>
                <ul>
                  <li><a href="">Contact Us</a></li>
                  <li><a href="">Payment Methods</a></li>
                  <li><a href="">Exchanges</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-3">
              <div class="footer__widget">
                <h6>NewLetter</h6>
                <div class="footer__newslatter">
                  <p class="p">Be the first to know about new arrivals!</p>
                  <form action="">
                    <input type="text" placeholder="Your email">
                    <button type="submit"><span class="icon_mail_alt"></span></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 text-center">
              <div class="footer__copyright__text">
                <p class="p">JUNGHQLO(주) ⓒ 2023 JUNGHQLO. All Rights Reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- /.footer -->


  </body>
</html>
<!-- /.html -->