<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en, ko">

  <!-- head --------------------------------------------------------------------------------------->
  <head>

		<!-- meta -->
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" th:href="@{https://storage.googleapis.com/jungho-bucket/JUNGHQLO/IMAGE/icon/favicon.ico}"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{https://storage.googleapis.com/jungho-bucket/JUNGHQLO/IMAGE/icon/logo.png}"/>

		<!-- font -->
    <link th:href="@{https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap}" rel="stylesheet"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/fonts/slick.ttf}"  rel="application/octet-stream"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/fonts/slick.woff}"
    rel="application/octet-stream"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/fonts/slick.svg}"
    rel="image/svg+xml"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/fonts/slick.eot}"
    rel="application/vnd.ms-fontobject"/>

    <!-- css 1 -->
		<link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/css/bootstrap.min.css}"
    rel="stylesheet"/>
    <link th:href="@{https://cdn.jsdelivr.net/npm/@icon/elegant-icons@0.0.1-alpha.4/elegant-icons.min.css}" rel="stylesheet"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css}" rel="stylesheet"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css}"
    rel="stylesheet"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css}" rel="stylesheet"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css}" rel="stylesheet"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/slicknav.min.css}"
    rel="stylesheet"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css}"
    rel="stylesheet"/>

    <!-- css 2 -->
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/responsive.css}" rel="stylesheet"/>
    <link th:href="@{/css/preview.css}" rel="stylesheet"/>
    <link th:href="@{/css/jungho.css}" rel="stylesheet"/>

		<!-- js 1 -->
    <script defer th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js}">
    </script>
    <script defer th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}">
    </script>
    <script defer th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.min.js}"></script>
    <script defer th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js}"></script>
    <script defer th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js}"></script>
    <script defer th:src="@{https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js}"></script>
    <script defer th:src="@{https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/jquery.slicknav.min.js}"></script>
    <script defer th:src="@{https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.1/mixitup.min.js}">
    </script>
    <script defer th:src="@{https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js}"></script>
    <script defer th:src="@{https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js}"></script>
    <script defer th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.7/umd/popper.min.js}"></script>
    <script defer th:src="@{https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js}"></script>

    <!-- js 2 -->
    <script defer th:src="@{/js/main.js}"></script>
    <script defer th:src="@{/js/notice.js}"></script>
    <script defer th:src="@{/js/contact.js}"></script>
    <script defer th:src="@{/js/qna.js}"></script>
    <script defer th:src="@{/js/orders.js}"></script>
    <script defer th:src="@{/js/member.js}"></script>
    <script defer th:src="@{/js/board.js}"></script>
    <script defer th:src="@{/js/product.js}"></script>
    <script defer th:src="@{/js/preview.js}"></script>
    <script defer th:src="@{/js/jungho.js}"></script>

	</head>
  <!-- /.head -->

</html>
<!-- /.html -->
