<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en, ko">

  <!-- body --------------------------------------------------------------------------------------->
  <body>

    <!-- main -->
    <div th:fragment="main">

      <!-- main -->
      <section class="hero">

        <div class="hero__slider owl-carousel">
          <!-- main image loof -->
          <th:block th:each="i : ${#numbers.sequence(1, 2)}">
            <div class="hero__items set-bg" th:attr="data-setbg=@{https://storage.googleapis.com/jungho-bucket/JUNGHQLO/images/main/main-{i}.png(i=${i})}">
              <div class="container">
                <div class="row">
                  <div class="col-xl-5 col-lg-7 col-md-8">
                    <div class="hero__text">
                      <h6>Summer Collection</h6>
                      <h2>Summer - Fall Collections 2023</h2>
                      <p class="p">A specialist label creating luxury essentials. Ethically crafted with an unwavering commitment to exceptional quality.</p>
                      <a th:href="@{/product/getProductList}" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </th:block>
        </div>
      </section><br><br><br>
      <!-- /.main -->

      <!-- product -->
      <section class="product spad">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- styling -->
              <ul class="filter__controls">
                <li data-filter=".new-arrivals" class="active">Modern Styles</li>
                <li data-filter=".hot-sales">Classic Styles</li>
              </ul>
            </div>
          </div>
          <div class="row product__filter">
            <!-- recommended 1~4 -->
            <th:block th:each="i : ${#numbers.sequence(1, 4)}">
              <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                <div class="product__item">
                  <div class="product__item__pic set-bg" th:attr="data-setbg=@{https://storage.googleapis.com/jungho-bucket/JUNGHQLO/images/recommend/recommend-{i}.jpg(i=${i})}"></div>
                  <div class="product__item__text">
                    <h6>Modern Styles</h6>
                    <!-- prevent click -->
                    <a class="add-cart" href="javascript:void(0);">Modern Styles</a>
                    <h5>
                      <i class="fas fa-won-sign fa-xs"></i>
                      <span th:id="'price-' + ${i}"></span>
                    </h5>
                    <!-- color -->
                    <div class="product__color__select">
                      <label for="pc-1"><input type="radio" id="pc-1"></label>
                      <label class="active black" for="pc-2"><input type="radio" id="pc-2"></label>
                      <label class="grey" for="pc-3"><input type="radio" id="pc-3"></label>
                    </div>
                  </div>
                </div>
              </div>
            </th:block>

            <!-- recommended 5~8 -->
            <th:block th:each="i : ${#numbers.sequence(5, 8)}">
              <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                <div class="product__item">
                  <div class="product__item__pic set-bg" th:attr="data-setbg=@{https://storage.googleapis.com/jungho-bucket/JUNGHQLO/images/recommend/recommend-{i}.jpg(i=${i})}"></div>
                  <div class="product__item__text">
                    <h6>Casual Styles</h6>
                    <a class="add-cart" href="javascript:void(0);">Casual Styles</a>
                    <h5>
                      <i class="fas fa-won-sign fa-xs"></i>
                      <span th:id="'price-' + ${i}"></span>
                    </h5>
                    <!-- color -->
                    <div class="product__color__select">
                      <label for="pc-1"><input type="radio" id="pc-1"></label>
                      <label class="active black" for="pc-2"><input type="radio" id="pc-2"></label>
                      <label class="grey" for="pc-3"><input type="radio" id="pc-3"></label>
                    </div>
                  </div>
                </div>
              </div>
            </th:block>
            <!-- /.col -->

          </div>
        </div>
      </section>
      <!-- /.product -->

      <!-- instagram -->
      <section class="instagram spad mt-n3">
        <div class="container">
          <div class="row">

              <div class="col-lg-8">
                <div class="instagram__pic">
                  <th:block th:each="i : ${#numbers.sequence(1, 6)}">
                  <div class="instagram__pic__item set-bg" th:attr="data-setbg=@{https://storage.googleapis.com/jungho-bucket/JUNGHQLO/images/instagram3/instagram-{i}.jpg(i=${i})}"></div>
                  </th:block>
                </div>
              </div>

            <div class="col-lg-4">
              <div class="instagram__text">
                <h2>Instagram</h2>
                <p class="p">
                  In a quaint village by the sea, young Amelia dreamed of adventure. She spent her days exploring the shoreline, collecting seashells and watching the ships sail by.
                </p>
                <h3>#JUNGQLO</h3>
              </div>
            </div>
          </div>
        </div>
      </section><br><br><br>
      <!-- /.instagram -->

    </div>
    <!-- /.main -->

  </body>
</html>
<!-- /.html -->