<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en, ko">

  <!-- body --------------------------------------------------------------------------------------->
  <body>

    <!-- navigation -->
    <div th:fragment="navigation">
      <section class="breadcrumb-option">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="breadcrumb__text">
                <h4>
                  <i th:class="${icon}"></i>
                  &nbsp;&nbsp;<th:block th:text="${text1}"></th:block>
                </h4>
                <div class="breadcrumb__links">
                  <a th:href="@{/}">
                    <i class="fa fa-home"></i>
                    &nbsp;&nbsp;&nbsp Home
                  </a>
                  <span><th:block th:text="${text2}"></th:block></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- /.navigation -->

  </body>
</html>
<!-- /.html -->