<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en, ko">

  <!-- body --------------------------------------------------------------------------------------->
  <body>

    <!-- slider -->
    <div class="jungho-slider" th:fragment="jungho-slider">
      <th:block th:each="i : ${#numbers.sequence(1, 7)}">
        <img th:src="@{https://storage.googleapis.com/jungho-bucket/JUNGHQLO/images/instagram3/instagram-{i}.jpg(i=${i})}"/>
      </th:block>
    </div>
    <!-- /.slider -->

  </body>
</html>
<!-- /.html -->