<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- head -->
  <th:block th:replace="~{layouts/head :: head}" />

  <!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layouts/navigation :: navigation (
    icon = 'fas fa-chalkboard-teacher',
    text1 = ${PAGE},
    text2 = ${THEME}
  )}" />

  <!-- main -->
  <main class="container-fluid px-30">
    <div class="row">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
    <form th:action="@{|/board/addBoard}" th:method="${'POST" enctype="multipart/form-data'}">

      <!-- hidden -->
      <input th:type="${'hidden" th:id="|board_writer" th:name="board_writer" th:value="${session.member_id}|'}"/>
      <input th:type="${'hidden" th:id="|board_count" th:name="board_count" th:value="0|'}"/>
      <input th:type="${'hidden" th:id="|board_like" th:name="board_like" th:value="0|'}"/>
      <input th:type="${'hidden" th:id="|board_dislike" th:name="board_dislike" th:value="0|'}"/>

      <!-- row 1 -->
      <div class="row">

        <!-- col 1 -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <!-- title -->
          <div class="row d-row-center mb-20">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="fs-1-8rem fw-800 light-black">게시판 등록</h6>

          <!-- row 2 -->
          <div class="row">

            <!-- title -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="checkout-input">
                <p class="p">제목<span>*</span></p>
                <input th:type="${'text" th:placeholder="|Title" th:name="board_title" th:id="board_title|'}"/>
              </div>
            </div>
            <!-- detail -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="checkout-input">
                <p class="p">내용<span>*</span></p>
                <textarea th:placeholder="${'|Detail" th:id="board_contents" th:name="board_contents|'}"></textarea>
              </div>
            </div>
          </div>
          <div class="row mb-5">
            <!-- existing image 1 -->
            <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
              <div class="checkout-input">
                <div class="previewExisting-group">
                  <p class="p">기존 이미지<span>*</span></p>
                  <img class="existingMiniBox" id="existingMiniBox" th:src="${'@{https://storage.googleapis.com/jungho-bucket/JUNGHQLO/IMAGE/icon/noimage.png}'}"/>
                </div>
              </div>
            </div>
            <!-- board image 1 -->
            <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
              <div class="checkout-input">
                <div class="previewMini-group">
                  <p class="p"><label for="imageFile1">게시물 이미지<span>*</span></label></p>
                  <input th:type="${'file" id="imageFile1" onchange="junghoPreview(1)" class="imageFile" name="board_imgsFile'}"/>
                  <div class="imageMiniLoader" id="imageMiniLoader1"></div>
                  <img class="imageMiniBox" id="imageMiniBox1"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- preview -->
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="row">
            <!-- preview image -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="previewImage-group">
                <h4 class="p"><i class="fa fa-image"></i>&nbsp;Preview</h4>
                <hr>
                <div class="imageLoader" id="imageLoader"></div>
                <img class="imageBox" id="imageBox"/>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- button -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="previewButton-group">
                <button class="jungho-button" id="resetButton" th:type="${'reset'}"
                th:onclick="|window.location.reload()|">새로고침</button>
                <button class="jungho-button" id="submitButton" th:type="${'submit'}"
                th:onclick="|return addBoard()|">등록하기</button>
                <button th:type="${'button" class="jungho-button" th:onclick="|location.href='@{/}'|'}"> 홈으로 </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </main>

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>