<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- head -->
  <th:block th:replace="~{layouts/head :: head}" />

  <!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layouts/navigation :: navigation}" />

  <!-- main -->
  <section class="container-fluid">
    <div class="row d-center">
      <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8">
        <!-- form -->
        <form
          th:id="${'formData'}"
          th:name="${'formData'}"
          th:class="${'formData'}"
        >
          <!-- list -->
          <div class="row">
            <th:block th:each="LIST : ${LIST}">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 p-20">
                <div class="border-1 radius-2 shadow-3 w-300 h-300 object-cover">
                  <div
                    th:id="${'board-bg'}"
                    th:name="${'board-bg'}"
                    th:class="${'radius-2 z-100'}"
                    th:attr="board-bg=@{|${STORAGE}/${page}/${LIST['board_imgsUrl']}|}"
                  >
                  </div>
                  <div class="blog-item-text z-200">
                    <!-- date & view -->
                    <div class="d-row-between">
                      <div class="d-row-left">
                        <i class="far fa-calendar-alt"></i>
                        <div
                          th:class="${'fs-0-7rem fw-600 dark-grey ms-5'}"
                          th:text="${#strings.substring((LIST['board_update'] != null ? LIST['board_update'] : LIST['board_date']), 0, 10)}"
                        >
                        </div>
                      </div>
                      <div class="d-row-right">
                        <i class="fa fa-eye"></i>
                        <div
                          th:class="${'fs-0-7rem fw-600 dark-grey ms-5'}"
                          th:text="${LIST['board_count']}"
                        >
                        </div>
                      </div>
                    </div>
                    <!-- hr -->
                    <br class="mt-10 mb-10" />
                    <!-- title -->
                    <div
                      th:id="${'board_title'}"
                      th:name="${'board_title'}"
                      th:class="${'fs-1-0rem fw-700 light-black'}"
                      th:text="${#strings.abbreviate(LIST['board_title'], 20)}"
                    >
                    </div>
                    <!-- hr -->
                    <br class="mt-10 mb-10" />
                    <!-- click read more -->
                    <div class="d-row-center">
                      <input
                        th:type="${'hidden'}"
                        th:id="${'board_number'}"
                        th:name="${'board_number'}"
                        th:value="${LIST['board_number']}"
                      />
                      <div
                        th:id="${'read-more'}"
                        th:name="${'read-more'}"
                        th:class="${'pointer-burgundy fs-0-9rem fw-600 upper'}"
                        th:onclick="goDetail([[${LIST['board_number']}]])"
                      >
                        Read More
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </th:block>
          </div>
        </form>
      </div>
    </div>
  </section>

  <!-- script -->
  <script defer>
    // set background image
    const blogBg = document.querySelectorAll('[board-bg]');
    blogBg.forEach((bg) => {
      const bgUrl = bg.getAttribute('board-bg');
      bg.style.backgroundImage = `url(${bgUrl})`;
      bg.style.width = '100%';
      bg.style.height = '100%';
      bg.style.backgroundSize = 'cover';
      bg.style.backgroundPosition = 'center';
    });
    // blog-item-text 호버했을때 효과
    const blogItemText = document.querySelectorAll('.blog-item-text');
    blogItemText.forEach((text) => {
      text.addEventListener('mouseover', () => {
        text.style.scale = '1.1';
        text.style.transition = 'all 0.3s';
      });
      text.addEventListener('mouseout', () => {
        text.style.scale = '1';
        text.style.transition = 'all 0.3s';
      });
    });
  </script>

  <!-- hr -->
  <th:block th:replace="~{components/divider :: divider}" />

  <!-- sorting -->
  <th:block th:replace="~{components/sorting :: sorting}" />

  <!-- hr -->
  <th:block th:replace="~{components/divider :: divider}" />

  <!-- button -->
  <th:block th:replace="~{components/button :: button}" />

  <!-- hr -->
  <th:block th:replace="~{components/divider :: divider}" />

  <!-- pagination -->
  <th:block th:replace="~{components/pagination :: pagination}" />

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>