<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- head -->
  <th:block th:replace="~{layouts/head :: head}" />

  <!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layouts/navigation :: navigation}" />

  <!-- main -->
  <section class="container-fluid px-30">
    <div class="row d-row-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
        <!-- detail -->
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <th:block th:each="LIST: ${LIST}">
              <div
                th:class="${'border-1 radius-2 shadow-1 p-30'}"
                th:classappend="${LISTStat.last ? '' : 'mb-20'}"
              >
                <!-- logo + title -->
                <div class="d-row-left w-100p mb-20">
                  <img
                    th:src="@{|${LIST['board_imgsUrl']}|}"
                    th:loading="${'lazy'}"
                    th:alt="${'logo'}"
                    th:width="${'30px'}"
                    th:height="${'30px'}"
                    th:class="${'radius-2 me-10'}"
                  />
                  <div
                    th:id="${'board_title'}"
                    th:name="${'board_title'}"
                    th:text="${#strings.abbreviate(LIST['board_title'], 20)}"
                    th:class="${'fs-1-2rem fw-700 burgundy hover'}"
                    th:onclick="|location.href='@{|/${page}/detail${PAGE}?board_number=${LIST['board_number']}|}'|"
                  >
                  </div>
                  <div
                    th:id="${'board_number'}"
                    th:name="${'board_number'}"
                    th:text="${LIST['board_number']}"
                    th:class="${'fs-0-9rem fw-600 grey ms-auto'}"
                  >
                  </div>
                </div>
                <!-- contents -->
                <div class="d-row-left w-100p mb-30">
                  <div
                    th:id="${'board_contents'}"
                    th:name="${'board_contents'}"
                    th:text="${#strings.abbreviate(LIST['board_contents'], 40)}"
                    th:class="${'fs-0-9rem fw-600 light-black'}"
                  >
                  </div>
                </div>
                <!-- date & view count -->
                <div class="d-row-between w-100p">
                  <div class="d-row-center">
                    <i th:class="${'fa fa-calendar fs-0-7rem me-10'}"></i>
                    <div
                      th:id="${'board_date'}"
                      th:name="${'board_date'}"
                      th:class="${'fs-0-9rem fw-600 dark'}"
                      th:text="${#strings.substring((LIST['board_update'] != null ? LIST['board_update'] : LIST['board_date']), 0, 10)}"
                    >
                    </div>
                  </div>
                  <div class="d-row-center">
                    <i th:class="${'fa fa-eye fs-0-7rem me-10'}"></i>
                    <div
                      th:id="${'board_count'}"
                      th:name="${'board_count'}"
                      th:text="${LIST['board_count']}"
                      th:class="${'fs-0-9rem fw-600 dark'}"
                    >
                    </div>
                  </div>
                </div>
              </div>
            </th:block>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- hr -->
  <th:block th:replace="~{components/divider :: divider}" />

  <!-- sorting -->
  <th:block th:replace="~{components/sorting :: sorting}" />

  <!-- hr -->
  <th:block th:replace="~{components/divider :: divider}" />

  <!-- button -->
  <th:block th:replace="~{components/button :: button}" />

  <!-- hr -->
  <th:block th:replace="~{components/divider :: divider}" />

  <!-- pagination -->
  <th:block th:replace="~{components/pagination :: pagination}" />

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>