<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- head -->
  <th:block th:replace="~{layouts/head :: head}" />

  <!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layouts/navigation :: navigation}" />

  <!-- main -->
  <section class="container-fluid">
    <div class="row d-center">
      <div class="col-11 col-sm-11 col-md-10 col-lg-9 col-xl-8">
        <!-- form -->
        <form
          th:id="${'formData'}"
          th:name="${'formData'}"
          th:class="${'formData'}"
        >
          <!-- list -->
          <div class="row">
            <th:block th:each="LIST : ${LIST}">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 p-20px d-center">
                <div class="radius-2 shadow-1 w-100p h-300px w-max-500px object-cover p-relative">
                  <!-- image -->
                  <div
                    th:each="image, iterStat:${#strings.arraySplit(LIST['board_imgsUrl'], ',')}"
                    th:if="${iterStat.index == 0}"
                    th:attr="board-bg=@{|${STORAGE}/${page}/${image}|}"
                    th:id="${'board-bg'}"
                    th:name="${'board-bg'}"
                    th:class="${'radius-2 z-100'}"
                  ></div>
                  <!-- hover -->
                  <div class="board-hover radius-2 fadeIn p-20px">
                    <!-- title -->
                    <div class="d-row-center mb-3vh">
                      <div
                        th:id="${'board_title'}"
                        th:name="${'board_title'}"
                        th:class="${'fs-1-1rem fw-600 light-black'}"
                        th:text="${#strings.abbreviate(LIST['board_title'], 20)}"
                      ></div>
                    </div>
                    <!-- click read more -->
                    <div class="d-row-center mb-3vh">
                      <input
                        th:type="${'hidden'}"
                        th:id="${'board_number'}"
                        th:name="${'board_number'}"
                        th:value="${LIST['board_number']}"
                      />
                      <div
                        th:id="${'read-more'}"
                        th:name="${'read-more'}"
                        th:class="${'pointer-burgundy fs-1-0rem fw-700 upper'}"
                        th:onclick="goToPage('detail', [[${LIST['board_number']}]])"
                      >
                        More
                      </div>
                    </div>
                    <!-- date & view -->
                    <div class="d-row-between">
                      <div class="d-row-left">
                        <i class="far fa-calendar-alt"></i>
                        <div
                          th:class="${'fs-0-7rem fw-600 dark-grey ml-5px'}"
                          th:text="${#strings.substring((LIST['board_update'] != null ? LIST['board_update'] : LIST['board_date']), 0, 10)}"
                        ></div>
                      </div>
                      <div class="d-row-right">
                        <i class="fa fa-eye"></i>
                        <div
                          th:class="${'fs-0-7rem fw-600 dark-grey ml-5px'}"
                          th:text="${LIST['board_count']}"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </th:block>
          </div>
        </form>
      </div>
    </div>
  </section>

  <!-- script -->
  <script defer>
    // board-bg 이미지 삽입
    document.querySelectorAll('[board-bg]')?.forEach((bg) => {
      const bgUrl = bg.getAttribute('board-bg');
      Object.assign(bg.style, {
        backgroundImage: `url(${bgUrl})`,
        width: '100%',
        height: '100%',
        backgroundSize: 'cover',
        backgroundPosition: 'center',
      });
    });

    document.querySelectorAll('.board-hover').forEach((el) => {
      Object.assign(el.style, {
        position: 'absolute',
        width: '90%',
        minHeight: '50%',
        top: '30%',
        left: '5%',
        backgroundColor: 'rgb(255 255 255 / 77%)',
        display: 'block',
        zIndex: '300',
      });
      el.parentElement.addEventListener('mouseover', () => {
        Object.assign(el.style, {
          display: 'block',
          transition: 'transform 0.3s',
          transform: 'scale(1.1)',
        });
      });
      el.parentElement.addEventListener('mouseout', () => {
        Object.assign(el.style, {
          display: 'block',
          transition: 'transform 0.3s',
          transform: 'scale(1)',
        });
      });
    });
  </script>

  <!-- divider -->
  <th:block th:replace="~{components/divider :: divider}" />

  <!-- sorting -->
  <th:block th:replace="~{components/sorting :: sorting}" />

  <!-- divider -->
  <th:block th:replace="~{components/divider :: divider}" />

  <!-- button -->
  <th:block th:replace="~{components/button :: button}" />

  <!-- divider -->
  <th:block th:replace="~{components/divider :: divider}" />

  <!-- pagination -->
  <th:block th:replace="~{components/pagination :: pagination}" />

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>