<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- head -->
  <th:block th:replace="~{layout/head :: head}" />

  <!-- header -->
  <th:block th:replace="~{layout/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layout/navigation :: navigation}" />

  <!-- main -->
  <section class="container-fluid">
    <div class="row d-center">
      <div class="col-11 col-sm-11 col-md-10 col-lg-10 col-xl-10">
        <!-- form -->
        <form
          th:id="${'formData'}"
          th:name="${'formData'}"
          th:class="${'formData'}"
        >
          <!-- detail -->
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="border-1 radius-2 shadow-1 px-5vw py-6vh bg-light">
                <!-- title -->
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-center">
                      <div
                        th:id="${'success_title'}"
                        th:name="${'success_title'}"
                        th:class="${'fs-1-8rem fw-700 light-black'}"
                        th:text="${'주문이 완료되었습니다.'}"
                      ></div>
                    </div>
                  </div>
                </div>
                <!-- hr -->
                <div class="w-100p my-3vh bg-black h-1px"></div>
                <!-- image -->
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <th:block th:if="${product_imgsUrl == ''}">
                      <img
                        th:src="@{|${STORAGE}/icon/logo.png|}"
                        th:loading="${'lazy'}"
                        th:alt="${'image'}"
                        th:class="${'w-50p w-max-500px border-1 radius-1 shadow-0'}"
                      />
                    </th:block>
                    <th:block th:if="${product_imgsUrl != ''}">
                      <img
                        th:each="image, iterStat:${#strings.arraySplit(product_imgsUrl, ',')}"
                        th:if="${iterStat.index == 0}"
                        th:src="@{|${STORAGE}/product/${image}|}"
                        th:loading="${'lazy'}"
                        th:alt="${'image'}"
                        th:class="${'w-90p w-max-500px border-1 radius-1 shadow-0'}"
                      />
                    </th:block>
                  </div>
                </div>
                <!-- hr -->
                <div class="w-100p my-3vh bg-light-grey h-1px"></div>
                <!-- date -->
                <div class="row mb-3vh">
                  <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 d-row-right">
                    <div
                      th:id="${'success_date_prefix'}"
                      th:name="${'success_date_prefix'}"
                      th:class="${'fs-1-1rem fw-500 dark-grey mr-20px'}"
                      th:text="${'주문 일자'}"
                    ></div>
                    </div>
                  <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 d-row-left">
                    <div
                      th:id="${'success_date'}"
                      th:name="${'success_date'}"
                      th:class="${'fs-1-1rem fw-600 light-black'}"
                      th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}"
                    ></div>
                  </div>
                </div>
                <!-- product name -->
                <div class="row mb-3vh">
                  <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 d-row-right">
                    <div
                      th:id="${'success_product_name_prefix'}"
                      th:name="${'success_product_name_prefix'}"
                      th:class="${'fs-1-1rem fw-500 dark-grey mr-20px'}"
                      th:text="${'상품명'}"
                    ></div>
                  </div>
                  <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 d-row-left">
                    <div
                      th:id="${'success_product_name'}"
                      th:name="${'success_product_name'}"
                      th:class="${'fs-1-1rem fw-600 light-black'}"
                      th:text="${product_name}"
                    ></div>
                  </div>
                </div>
                <!-- quantity -->
                <div class="row mb-3vh">
                  <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 d-row-right">
                    <div
                      th:id="${'success_quantity_prefix'}"
                      th:name="${'success_quantity_prefix'}"
                      th:class="${'fs-1-1rem fw-500 dark-grey mr-20px'}"
                      th:text="${'수량'}"
                    ></div>
                  </div>
                  <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 d-row-left">
                    <div
                      th:id="${'success_quantity'}"
                      th:name="${'success_quantity'}"
                      th:class="${'fs-1-1rem fw-600 light-black'}"
                      th:text="${#numbers.formatInteger(orders_quantity, 1, 'COMMA') + '  개'}"
                    ></div>
                  </div>
                </div>
                <!-- total price -->
                <div class="row">
                  <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 d-row-right">
                    <div
                      th:id="${'success_orders_totalPrice_prefix'}"
                      th:name="${'success_orders_totalPrice_prefix'}"
                      th:class="${'fs-1-1rem fw-500 dark-grey mr-20px'}"
                      th:text="${'결제 금액'}"
                    ></div>
                  </div>
                  <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 d-row-left">
                    <div
                      th:id="${'success_orders_totalPrice'}"
                      th:name="${'success_orders_totalPrice'}"
                      th:class="${'fs-1-1rem fw-600 light-black'}"
                      th:text="${#numbers.formatInteger(orders_totalPrice, 0, 'COMMA') + '  원'}"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <!-- divider -->
  <th:block th:replace="~{interface/divider :: divider}" />

  <!-- button -->
  <th:block th:replace="~{interface/button :: button}" />

  <!-- footer -->
  <th:block th:replace="~{layout/footer :: footer}" />

</html>