<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- footer -->
  <footer th:fragment="footer" th:class="|container-fluid bg-black mt-50 p-30|">
    <div class="row">
      <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8">
        <div class="row">
          <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 d-col-left">
            <img
              th:src="@{${STORAGE} + '/icon/logo.png'}"
              th:loading="|lazy|"
              th:alt="|logo|"
              th:width="|80px|"
              th:height="|80px|"
              th:class="|pointer|"
              th:onclick="|location.href='@{/}'|"
            />
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 d-col-left">
            <div class="fs-1-0rem fw-800 light-grey mb-10">
              Shopping
            </div>
            <ul>
              <li
                class="fs-0-8rem fw-600 grey hover pointer mb-10"
                th:onclick="|location.href='@{/product/getProductList}'|"
              >
                Clothing
              </li>
              <li
                class="fs-0-8rem fw-600 grey hover pointer mb-10"
                th:onclick="|location.href='@{/product/getProductList}'|"
              >
                Trending
              </li>
              <li
                class="fs-0-8rem fw-600 grey hover pointer mb-10"
                th:onclick="|location.href='@{/product/getProductList}'|"
              >
                Accessories
              </li>
            </ul>
          </div>
          <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 d-col-left">
            <div class="fs-1-0rem fw-800 light-grey mb-10">
              Info
            </div>
            <ul>
              <li
                class="fs-0-8rem fw-600 grey hover pointer mb-10"
                th:onclick="|location.href='@{/qna/getQnaList}'|"
              >
                QnA
              </li>
              <li
                class="fs-0-8rem fw-600 grey hover pointer mb-10"
                th:onclick="|location.href='@{/notice/getNoticeList}'|"
              >
                Notice
              </li>
              <li
                class="fs-0-8rem fw-600 grey hover pointer mb-10"
                th:onclick="|location.href='@{/contact}'|"
              >
                contact
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="bg-grey">
    <div class="row d-row-center">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="fs-0-8rem fw-600 light-grey">
          2024 JUNGHQLO. All Rights Reserved.
        </div>
      </div>
    </div>
  </footer>

</html>