<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  lang="en"
>
  <!-- footer -->
  <footer th:fragment="footer" class="container mt-50">
    <div class="row justify-content-center">
      <div class="col-lg-2 col-md-6 col-sm-6 col-12 mb-3">
        <div class="footer-about">
          <div class="footer-logo" style="margin-left: -20p">
            <a th:href="@{/}"><img th:src="@{https://storage.googleapis.com/jungho-bucket/JUNGHQLO/IMAGE/icon/logo.png}" width="150px" height="150px"/></a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6 col-6 mb-3">
        <div class="footer-widget">
          <h6>Shopping</h6>
          <ul>
            <li><a th:href="@{/product/getProductList}">Clothing Store</a></li>
            <li><a th:href="@{/product/getProductList}">Trending Shoes</a></li>
            <li><a th:href="@{/product/getProductList}">Accessories</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6 col-6 mb-3">
        <div class="footer-widget">
          <h6>Shopping</h6>
          <ul>
            <li><a th:href="@{/qna/getQnaList}">QnA</a></li>
            <li><a th:href="@{/notice/getNoticeList}">Notice</a></li>
            <li><a th:href="@{/contact}">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-3">
        <div class="footer-widget">
          <h6>NewLetter</h6>
          <div class="footer-newslatter">
            <p class="p">Be the first to know about new arrivals!</p>
            <form action="">
              <input type="text" placeholder="Your email">
              <button type="submit"><span class="icon_mail_alt"></span></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="footer-copyright-text">
          <p class="p">JUNGHQLO(주) ⓒ 2023 JUNGHQLO. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>

</html>