<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- header -->
  <header th:fragment="header" th:class="|container-fluid|">

    <!-- loader -->
    <th:block th:replace="~{layouts/loader :: loader}" />

    <!-- off-canvas -->
    <th:block th:replace="~{layouts/offcanvas :: offcanvas}" />

    <!-- container 1 -->
    <div class="container bg-black">
      <div class="row p-20">
        <div class="d-none d-sm-block col-sm-7 col-md-7 col-lg-7 col-xl-7">
          <span class="fs-0-9rem fw-400 white">
            Free shipping, 30-day return or refund guarantee.
          </span>
        </div>
        <div class="col-10 col-sm-5 col-md-5 col-lg-5 col-xl-5 d-row-right">
          <a
            th:if="${session.member_id == null}"
            th:href="@{/member/addMember}"
          >
            <span class="upper-text white hover me-20">
              SignUp
            </span>
          </a>
          <a
            th:if="${session.member_id == null}"
            th:href="@{/member/loginMember}"
          >
            <span class="upper-text white hover me-20">
              Login
            </span>
          </a>
          <a
            th:if="${session.member_id != null}"
            th:href="@{/member/getMemberDetails}"
          >
            <span class="upper-text white hover me-20">
              MyPage
            </span>
          </a>
          <a
            th:if="${session.member_id != null}"
            th:onclick="logoutMember()"
          >
            <span class="upper-text white hover me-20">
              Logout
            </span>
          </a>
          <div class="header-top-hover">
            <span class="upper-text white hover">
              Admin
            </span>
            <ul th:if ="${session.member_id == ADMIN}">
              <li>
                <a th:href="@{https://dashboard.stripe.com/test/dashboard}">
                  AdminPage
                </a>
              </li>
              <li>
                <a th:href="@{/member/getMemberList}">
                  MemberList
                </a>
              </li>
              <li>
                <a th:href="@{/product/addProduct}">
                  AddProduct
                </a>
              </li>
              <li>
                <a th:href="@{/notice/addNotice}">
                  AddNotice
                </a>
              </li>
            </ul>
            <ul th:if ="${session.member_id != ADMIN}">
              <li>
                <a th:onclick="adminAlert()">
                  AdminPage
                </a>
              </li>
              <li>
                <a th:onclick="adminAlert()">
                  MemberList
                </a>
              </li>
              <li>
                <a th:onclick="adminAlert()">
                  AddProduct
                </a>
              </li>
              <li>
                <a th:onclick="adminAlert()">
                  AddNotice
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- container 2 -->
    <div class="container bg-white">
      <div class="row d-row-center p-10">
        <!-- logo -->
        <div class="col-4 col-sm-2 col-md-2 col-lg-2 col-xl-2">
          <img
            th:src="|${STORAGE}/icon/logo.png|"
            th:loading="|lazy|"
            th:alt="|logo|"
            th:width="|70px|"
            th:height="|70px|"
            th:class="|pointer ms-n20|"
            th:onclick="|location.href='@{/}'|"
          />
        </div>
        <!-- menu -->
        <div class="d-none d-sm-block col-sm-10 col-md-10 col-lg-6 col-xl-6">
          <div
            th:class="|fs-0-9rem fw-700 upper-text pointer-burgundy ls-1 ms-n30 me-2vw|"
            th:onclick="|location.href='@{/product/getProductList}'|"
          >
            Products
          </div>
          <div
            th:class="|fs-0-9rem fw-700 upper-text pointer-burgundy ls-1 me-2vw|"
            th:if="${session.member_id != null}"
            th:onclick="|location.href='@{/orders/getOrdersList}'|"
          >
            Orders
          </div>
          <div
            th:class="|fs-0-9rem fw-700 upper-text pointer-burgundy ls-1 me-2vw|"
            th:if="${session.member_id == null}"
            th:onclick="return sessionAlert()"
          >
            Orders
          </div>
          <div
            th:class="|fs-0-9rem fw-700 upper-text pointer-burgundy ls-1 me-2vw|"
            th:onclick="|location.href='@{/board/getBoardList}'|"
          >
            Blog
          </div>
          <div
            th:class="|fs-0-9rem fw-700 upper-text pointer-burgundy ls-1 me-2vw|"
            th:onclick="|location.href='@{/notice/getNoticeList}'|"
          >
            Notice
          </div>
          <div
            th:class="|fs-0-9rem fw-700 upper-text pointer-burgundy ls-1 me-2vw|"
            th:onclick="|location.href='@{/qna/getQnaList}'|"
          >
            QnA
          </div>
          <div
            th:class="|fs-0-9rem fw-700 upper-text pointer-burgundy ls-1|"
            th:onclick="|location.href='@{/contact/getContactList}'|"
          >
            Contact
          </div>
        </div>
        <!-- search -->
        <div class="d-none d-lg-block col-lg-4 col-xl-4">
          <form
            id="searchForm"
            class="d-row-center"
            th:method="|GET|"
            th:action="@{/product/searchProduct}"
          >
            <select
              th:id="|searchType|"
              th:name="|searchType|"
              th:class="|form-control me-10|"
            >
              <option value="name">이름</option>
              <option value="details">상세정보</option>
            </select>
            <input
              th:type="search"
              th:id="|keyword|"
              th:name="|keyword|"
              th:placeholder="|상품 검색|"
              class="form-control w-max150 me-10"
              required
            />
            <i class="fas fa-search fa-lg pointer"></i>
          </form>
        </div>
        <!-- mobile menu -->
        <div class="col-8 d-sm-none">
          <div class="mobile-toggle d-row-right me-20">
            <i class="fa fa-bars fs-1-8rem pointer hover"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- hidden -->
    <input
      th:type="|hidden|"
      th:id="|sessionId|"
      th:name="|sessionId|"
      th:value="${session.member_id}"
    />
    <input
      th:type="|hidden|"
      th:id="|memberNumber|"
      th:name="|memberNumber|"
      th:value="${session.member_number}"
    />

  </header>

</html>