### General ###
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
.settings/
target/
.mvn/


# files
*.properties
*.log
*.classpath
*.project
*.settings
*.pmd
*.bat
*.sh
*.cmd

# folders
.settings/
.vscode/

