# .gitattributes

# text
* text eol=lf

# linguist-detectable
* linguist-detectable=true
*.json linguist-detectable=false
*.yml linguist-detectable=false
*.yaml linguist-detectable=false
*.lock linguist-detectable=false
*.log linguist-detectable=false
*.md linguist-detectable=false
*.txt linguist-detectable=false

# linguist-vendored
**/lib/** linguist-vendored=true
**/font/** linguist-vendored=true
**/image/** linguist-vendored=true
**/type/** linguist-vendored=true

# linguist-language
*.java linguist-language=Java
*.jsp linguist-language=Java
*.html linguist-language=Java