[mysqld]
# 메모리 최적화: InnoDB 버퍼 풀 크기 설정 (RAM의 70% 권장, 용량에 따라 조정 가능)
innodb_buffer_pool_size = 128M

# 정렬 및 조인 성능 향상: 버퍼 크기 조정
join_buffer_size = 128M
sort_buffer_size = 2M
read_rnd_buffer_size = 2M

# 외부 접근 허용 설정
bind-address = 0.0.0.0

# 커넥션 시간 절약: thread_cache_size 증가로 재사용 가능 스레드 수 조정
thread_cache_size = 50

# 기본 설정
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
