<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- head -->
	<th:block th:replace="~{layouts/head :: head}" />

  <!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layouts/navigation :: navigation (
    icon = 'fas fa-user-cog',
    text1 = ${PAGE},
    text2 = ${THEME}
  )}" />

  <!-- main -->
  <main class="container-fluid px-30">
    <div class="row d-row-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
        <!-- form -->
        <form
          th:method="${'POST'}"
          th:onsubmit="|event.preventDefault(); updateMemberPw()|"
        >
          <!-- title -->
          <div class="row d-row-center mb-20">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="fs-1-8rem fw-800 light-black">
                비밀번호 변경
              </div>
            </div>
          </div>
          <!-- pw -->
          <div class="row mb-20">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="d-row-left mb-10">
                <div class="fs-0-9rem fw-800 me-5">
                  비밀번호
                </div>
                <div class="fs-0-9rem fw-800 burgundy">
                  *
                </div>
              </div>
              <input
                th:type="${'password'}"
                th:id="${'member_pw'}"
                th:name="${'member_pw'}"
                th:class="${'form-control'}"
                th:placeholder="${'변경할 비밀번호를 입력하세요'}"
              />
            </div>
          </div>
          <!-- pw confirm -->
          <div class="row mb-20">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="d-row-left mb-10">
                <div class="fs-0-9rem fw-800 light-black">
                  비밀번호 확인
                </div>
                <div class="fs-0-9rem fw-800 burgundy">
                  *
                </div>
              </div>
              <input
                th:type="${'password'}"
                th:id="${'member_pw2'}"
                th:name="${'member_pw2'}"
                th:class="${'form-control'}"
                th:placeholder="${'변경할 비밀번호를 다시 입력하세요'}"
              />
            </div>
          </div>
          <!-- hr -->
          <hr class="mt-20 mb-20" />
          <!-- button -->
          <div class="row mb-20">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <button
                th:type="${'submit'}"
                th:class="${'btn btn-dark w-100p'}"
              >
                비밀번호 변경
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>