<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- head -->
	<th:block th:replace="~{layouts/head :: head}" />

	<!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layouts/navigation :: navigation}" />

  <!-- main -->
  <section class="container-fluid">
    <div class="row d-center">
      <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8">
        <!-- hidden -->
        <input
          th:type="${'hidden'}"
          th:name="${'member_number'}"
          th:id="${'member_number'}"
          th:value="${memberModel.member_number}"
        />
        <!-- title -->
        <div class="row d-row-center mb-20">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="fs-1-8rem fw-800 light-black">
              회원 상세정보
            </div>
          </div>
        </div>
        <!-- ID -->
        <div class="row mb-20">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="d-row-left mb-10">
              <div class="fs-0-9rem fw-800 me-5">
                ID
              </div>
              <div class="fs-0-9rem fw-800 burgundy">
                *
              </div>
            </div>
            <input
              readonly
              th:type="${'text'}"
              th:name="${'member_id'}"
              th:id="${'member_id'}"
              th:placeholder="${'ID'}"
              th:value="${memberModel.member_id}"
              th:class="${'form-control'}"
            />
          </div>
        </div>
        <!-- PW -->
        <div class="row mb-20">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="d-row-left mb-10">
              <div class="fs-0-9rem fw-800 light-black">
                PW
              </div>
              <div class="fs-0-9rem fw-800 burgundy">
                *
              </div>
            </div>
            <input
              readonly
              th:type="${'password'}"
              th:id="${'member_pw'}"
              th:name="${'member_pw'}"
              th:value="${memberModel.member_pw}"
              th:class="${'form-control'}"
            />
          </div>
        </div>
        <!-- name -->
        <div class="row mb-20">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="d-row-left mb-10">
              <div class="fs-0-9rem fw-800 light-black">
                이름
              </div>
              <div class="fs-0-9rem fw-800 burgundy">
                *
              </div>
            </div>
            <input
              readonly
              th:type="${'text'}"
              th:id="${'member_name'}"
              th:name="${'member_name'}"
              th:value="${memberModel.member_name}"
              th:class="${'form-control'}"
            />
          </div>
        </div>
        <!-- phone -->
        <div class="row mb-20">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="d-row-left mb-10">
              <div class="fs-0-9rem fw-800 light-black">
                전화번호
              </div>
              <div class="fs-0-9rem fw-800 burgundy">
                *
              </div>
            </div>
            <input
              readonly
              th:type="${'text'}"
              th:id="${'member_phone'}"
              th:name="${'member_phone'}"
              th:value="${memberModel.member_phone}"
              th:class="${'form-control'}"
            />
          </div>
        </div>
        <!-- email -->
        <div class="row mb-20">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="d-row-left mb-10">
              <div class="fs-0-9rem fw-800 light-black">
                이메일
              </div>
              <div class="fs-0-9rem fw-800 burgundy">
                *
              </div>
            </div>
            <input
              readonly
              th:type="${'email'}"
              th:name="${'email_front'}"
              th:id="${'email_front'}"
              th:value="${memberModel.member_email}"
              th:class="${'form-control'}"
            />
          </div>
        </div>
        <!-- date -->
        <div class="row mb-20">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="d-row-left mb-10">
              <div class="fs-0-9rem fw-800 light-black">
                가입일
              </div>
              <div class="fs-0-9rem fw-800 burgundy">
                *
              </div>
            </div>
            <input
              readonly
              th:type="${'text'}"
              th:name="${'member_date'}"
              th:id="${'member_date'}"
              th:value="${memberModel.member_update != null ? memberModel.member_update+'(수정)' : memberModel.member_date+'(최초)'}"
              th:class="${'form-control'}"
            />
          </div>
        </div>
        <!-- address -->
        <div class="row mb-20">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="d-row-left mb-10">
              <div class="fs-0-9rem fw-800 light-black">
                주소
              </div>
              <div class="fs-0-9rem fw-800 burgundy">
                *
              </div>
            </div>
            <input
              readonly
              th:type="${'text'}"
              th:name="${'member_address1'}"
              th:id="${'member_address1'}"
              th:value="${memberModel.member_address1}"
              th:class="${'form-control'}"
            />
          </div>
        </div>
        <!-- address2 -->
        <div class="row mb-20">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="d-row-left mb-10">
              <div class="fs-0-9rem fw-800 light-black">
                상세주소
              </div>
              <div class="fs-0-9rem fw-800 burgundy">
                *
              </div>
            </div>
            <input
              readonly
              th:type="${'text'}"
              th:name="${'member_address2'}"
              th:id="${'member_address2'}"
              th:value="${memberModel.member_address2}"
              th:class="${'form-control'}"
            />
          </div>
        </div>
        <!-- hr -->
        <hr
          th:id="${'hr'}"
          th:name="${'hr'}"
          th:class="${'mt-20 mb-20'}"
        />
        <!-- link -->
        <div class="row mb-20">
          <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 d-row-right">
            <div
              class="fs-0-9rem fw-700 light-black hover"
              th:onclick="|'location.href=\'' + @{/member/updateMember} + '\''|"
            >
              회원정보 수정
            </div>
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 d-row-center">
            <div
              class="fs-0-9rem fw-700 light-black hover"
              th:onclick="|'location.href=\'' + @{/member/updateMemberPw} + '\''|"
            >
              비밀번호 수정
            </div>
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 d-row-left">
            <div
              class="fs-0-9rem fw-700 burgundy hover"
              th:onclick="|'location.href=\'' + @{/member/deleteMember?member_number={member_number}(member_number=${memberModel.member_number})} + '\''|"
            >
              회원 탈퇴
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>