<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- head -->
	<th:block th:replace="~{layouts/head :: head}" />

	<!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layouts/navigation :: navigation}" />

  <!-- main -->
  <section class="container-fluid">
    <div class="row d-center">
      <div class="col-11 col-sm-11 col-md-10 col-lg-10 col-xl-10">
        <!-- form -->
        <form
          th:id="${'formData'}"
          th:name="${'formData'}"
          th:class="${'formData'}"
        >
          <!-- detail -->
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <!-- title -->
              <div class="row d-row-center mb-3vh">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="fs-1-8rem fw-800 light-black">
                    로그인
                  </div>
                </div>
              </div>
              <!-- ID -->
              <div class="row mb-3vh">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="d-row-left mb-2vh">
                    <div class="fs-0-9rem fw-800">
                      ID
                    </div>
                    <div class="fs-0-9rem fw-800 burgundy ml-5px">
                      *
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <input
                    th:type="${'text'}"
                    th:id="${'member_id'}"
                    th:name="${'member_id'}"
                    th:class="${'form-control'}"
                    th:placeholder="${'아이디를 입력하세요'}"
                    autocomplete="username"
                  />
                </div>
              </div>
              <!-- pw -->
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="d-row-left mb-2vh">
                    <div class="fs-0-9rem fw-800 light-black">
                      PW
                    </div>
                    <div class="fs-0-9rem fw-800 burgundy ml-5px">
                      *
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <input
                    th:type="${'password'}"
                    th:id="${'member_pw'}"
                    th:name="${'member_pw'}"
                    th:class="${'form-control'}"
                    th:placeholder="${'비밀번호를 입력하세요'}"
                    autocomplete="current-password"
                  />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <!-- divider -->
  <th:block th:replace="~{components/divider :: divider}" />

  <!-- button -->
  <th:block th:replace="~{components/button :: button}" />

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>