<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- head -->
	<th:block th:replace="~{layouts/head :: head}" />

	<!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layouts/navigation :: navigation (icon='fas fa-user-cog', text1='Member', text2='Find Id')}" />

  <!-- main -->
  <main class="container px-30">
    <div class="row">
      <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8">
        <!-- form -->
        <form
          th:method="|POST|"
          th:onsubmit="|event.preventDefault(); findMemberId()|"
        >
          <!-- title -->
          <div class="row d-row-center mb-20">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="fs-1-8rem fw-800 light-black">
                아이디 찾기
              </div>
            </div>
          </div>
          <!-- name -->
          <div class="row mb-20">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="d-row-left mb-10">
                <div class="fs-0-9rem fw-800 me-5">
                  이름
                </div>
                <div class="fs-0-9rem fw-800 burgundy">
                  *
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <input
                th:type="|text|"
                th:id="|member_name|"
                th:name="|member_name|"
                th:class="|form-control|"
                th:placeholder="|이름을 입력하세요|"
              />
            </div>
          </div>
          <!-- email -->
          <div class="row mb-20">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="d-row-left mb-10">
                <div class="fs-0-9rem fw-800 light-black">
                  이메일
                </div>
                <div class="fs-0-9rem fw-800 burgundy">
                  *
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <input
                th:type="|email|"
                th:id="|member_email|"
                th:name="|member_email|"
                th:class="|form-control|"
                th:placeholder="|이메일을 입력하세요|"
              />
            </div>
          </div>
          <!-- hr -->
          <hr class="mt-20 mb-20" />
          <!-- button -->
          <div class="row mb-20">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <button
                th:type="|submit|"
                class="btn btn-dark w-100p"
              >
                아이디 찾기
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>