<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  lang="en"
>
	<!-- head -->
	<th:block th:replace="~{layouts/head :: head}" />

	<!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layouts/navigation :: navigation (icon='fas fa-user-cog', text1='Member', text2='Delete')}" />

  <!-- main -->
  <main class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <form th:action="@{/member/deleteMember}" onsubmit="return deleteMember()" method="POST" >

          <!-- hidden -->
          <input th:type="hidden" th:id=member_number th:name="member_number" th:value="${memberModel.member_number}"/>
          <input th:type="hidden" th:id="member_agree" th:name="member_agree" th:value="${memberModel.member_agree}"/>

          <h6 class="checkout-title">회원 탈퇴</h6>
          <div class="row">
            <!-- ID -->
            <div class="col-lg-6">
              <div class="checkout-input">
                <p class="p">I D</p>
                <input type="text" th:name="member_id" th:id="member_id" th:value="${memberModel.member_id}" readonly/>
              </div>
            </div>
            <!-- reg date -->
            <div class="col-lg-6">
              <div class="checkout-input">
                <p class="p"> 가입일</p>
                <input type="text" th:name="member_date" th:id="member_date"
                th:value="${memberModel.member_update != null ? memberModel.member_update+'(수정)' : memberModel.member_date+'(최초)'}" readonly/>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- name -->
            <div class="col-lg-6">
              <div class="checkout-input">
                <p class="p">이름</p>
                <input type="text" th:id="member_name" th:name="member_name" th:value="${memberModel.member_name}" readonly/>
              </div>
            </div>
            <div class="col-lg-6">
              <!-- phone -->
              <div class="checkout-input">
                <p class="p"> 전화번호</p>
                <input type="text" th:id="member_phone" th:name="member_phone" th:value="${memberModel.member_phone}" readonly/>
              </div>
            </div>
          </div>
          <!-- email -->
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="checkout-input">
                <p class="p"> 이메일</p>
                <input type="email" th:name="member_email" th:id="member_email" th:value="${memberModel.member_email}"/>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- address -->
            <div class="col-lg-6">
              <div class="checkout-input">
                <p class="p"> 주소</p>
                <input type="text" th:name="member_address1" th:id="member_address1"
                th:value="${memberModel.member_address1}" readonly/>
              </div>
            </div>
            <!-- address detail -->
            <div class="col-lg-6">
              <div class="checkout-input">
                <p class="p"> 상세주소</p>
                <input type="text" th:name="member_address2" th:id="member_address2"
                th:value="${memberModel.member_address2}" readonly/>
              </div>
            </div>
          </div>
          <!-- PW -->
          <div class="row">
            <div class="col-lg-6">
              <div class="checkout-input">
                <p class="p">P W<span> * 필수입력</span></p>
                <input type="password" th:id="member_pw" th:name="member_pw" placeholder="비밀번호를 입력하세요."/>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="checkout-input">
                <p class="p">P W 확인<span> * 필수입력</span></p>
                <input type="password" th:id="member_pw2" th:name="member_pw2" placeholder="비밀번호를 다시 입력하세요."/>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- button -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="checkout-input">
                <button type="submit" class="jungho-button" th:onClick="return deleteMember()">회원탈퇴</button>
                <button type="button" class="jungho-button" th:onClick="'window.location.href=\'' + @{/} + '\''"> 홈으로 </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div th:replace="components/slider :: slider"></div>
      </div>
    </div>
  </main>

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>