<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- head -->
  <th:block th:replace="~{layouts/head :: head}" />

  <!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layouts/navigation :: navigation}" />

  <!-- main -->
  <section class="container-fluid">
    <div class="row d-center">
      <div class="col-11 col-sm-11 col-md-10 col-lg-9 col-xl-8">
        <!-- form -->
        <form
          th:method="${'POST'}"
          th:action="@{|/member/updateMember}"
          th:onsubmit="|updateMember()|"
        >
          <!-- hidden -->
          <input
            th:type="${'hidden'}"
            th:id="${'member_number'}"
            th:name="${'member_number'}"
            th:value="${memberModel.member_number}"
          />
          <input
            th:type="${'hidden'}"
            th:id="${'member_agree'}"
            th:name="${'member_agree'}"
            th:value="${memberModel.member_agree}"
          />
          <!-- title -->
          <div class="row d-row-center mb-20">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="fs-1-8rem fw-800 light-black">
                회원정보 수정
              </div>
            </div>
          </div>
          <!-- ID -->
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="d-row-left mb-10">
                <div class="fs-0-9rem fw-800">
                  ID
                </div>
                <div class="fs-0-6rem fw-800 burgundy">
                  *   수정불가능
                </div>
              </div>
              <input
                readonly
                th:type="${'text'}"
                th:name="${'member_id'}"
                th:id="${'member_id'}"
                th:value="${memberModel.member_id}"
                th:class="${'form-control'}"
              />
            </div>
          </div>
          <!-- PW -->
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="d-row-left mb-10">
                <div class="fs-0-9rem fw-800 light-black">
                  PW
                </div>
                <div class="fs-0-6rem fw-800 burgundy">
                  *   비밀번호변경 탭에서 가능
                </div>
              </div>
              <input
                readonly
                th:type="${'password'}"
                th:id="${'member_pw'}"
                th:name="${'member_pw'}"
                th:value="${memberModel.member_pw}"
                th:class="${'form-control'}"
              />
            </div>
          </div>
          <!-- name -->
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="d-row-left mb-10">
                <div class="fs-0-9rem fw-800">
                  이름
                </div>
                <div class="fs-0-6rem fw-800 burgundy">
                  *   수정불가능
                </div>
              </div>
              <input
                readonly
                th:type="${'text'}"
                th:id="${'member_name'}"
                th:name="${'member_name'}"
                th:value="${memberModel.member_name}"
                th:class="${'form-control'}"
              />
            </div>
          </div>
          <!-- phone -->
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="d-row-left mb-10">
                <div class="fs-0-9rem fw-800 light-black">
                  전화번호
                </div>
              </div>
              <input
                th:type="${'text'}"
                th:id="${'member_phone'}"
                th:name="${'member_phone'}"
                th:value="${memberModel.member_phone}"
                th:class="${'form-control'}"
              />
            </div>
          </div>
          <!-- email -->
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="d-row-left mb-10">
                <div class="fs-0-9rem fw-800 light-black">
                  이메일
                </div>
              </div>
              <input
                th:type="${'email'}"
                th:name="${'member_email'}"
                th:id="${'member_email'}"
                th:value="${memberModel.member_email}"
                th:class="${'form-control'}"
              />
            </div>
          </div>
          <!-- address -->
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="d-row-left mb-10">
                <div class="fs-0-9rem fw-800 light-black">
                  주소
                </div>
              </div>
              <input
                readonly
                th:type="${'text'}"
                th:name="${'member_address1'}"
                th:id="${'member_address1'}"
                th:value="${memberModel.member_address1}"
                th:onclick="|openDaumPostcode()|"
                th:class="${'form-control'}"
              />
            </div>
          </div>
          <!-- address detail -->
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="d-row-left mb-10">
                <div class="fs-0-9rem fw-800 light-black">
                  상세주소
                </div>
              </div>
              <input
                th:type="${'text'}"
                th:name="${'member_address2'}"
                th:id="${'member_address2'}"
                th:value="${memberModel.member_address2}"
                th:class="${'form-control'}"
              />
            </div>
          </div>
          <!-- hr -->
          <hr
          	th:id="${'hr'}"
          	th:name="${'hr'}"
          	th:class="${'mt-20 mb-20'}"
          />
          <!-- button -->
          <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <button
                th:type="${'submit'}"
                th:class="${'btn btn-dark w-90p'}"
              >
                수정
              </button>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <button
                th:type="${'button'}"
                th:class="${'btn btn-dark w-90p'}"
                th:onclick="|return goHome()|"
              >
                홈으로
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>