<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- head -->
	<th:block th:replace="~{layouts/head :: head}" />

	<!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layouts/navigation :: navigation (icon='fas fa-user-cog', text1='Member', text2='List')}" />

  <!-- main -->
  <main class="container px-30">
    <div class="row">
      <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8">
        <!-- title -->
        <div class="row d-row-center mb-20">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="fs-1-8rem fw-800 light-black">
              회원 목록
            </div>
          </div>
        </div>
        <!-- sort & search -->
        <div class="row mb-20">
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <form
              th:method="|GET|"
              th:action="@{/member/getMemberList}"
              th:onchange="|this.submit()|"
              th:class="|d-row-left w-90p|"
            >
              <i
                th:id="|sortIcon|"
                th:class="|fas fa-sort-amount-down fa-lg me-10|"
              ></i>
              <select name="sort" class="form-control">
                <option value="default">정렬</option>
                <option value="idASC">아이디순(오름차순)</option>
                <option value="idDESC">아이디순(내림차순)</option>
                <option value="nameASC">이름순(내림차순)</option>
                <option value="nameDESC">이름순(오름차순)</option>
                <option value="dateASC">가입일순(오름차순)</option>
                <option value="dateDESC">가입일순(내림차순)</option>
              </select>
            </form>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <form
              th:id="|searchForm|"
              th:method="|GET|"
              th:action="@{/member/searchMember}"
              th:class="|d-row-right|"
            >
              <select class="form-control" name="searchType">
                <option value="id">아이디</option>
                <option value="name">이름</option>
              </select>
              <input
                th:type="|search|"
                th:id="|keyword|"
                th:name="|keyword|"
                th:placeholder="|search|"
                th:class="|form-control|"
              />
              <i
                th:id="|searchIcon|"
                th:class="|fas fa-search fa-lg ms-10|"
              ></i>
              <button
                th:type="|submit|"
                th:id="|hiddenSubmit|"
                th:name="|hiddenSubmit|"
                th:class="|hiddenSubmit d-none|"
              ></button>
            </form>
          </div>
        </div>
        <!-- member list -->
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <th:block th:each="member:${memberList}">
              <div class="d-col-center border-1 radius-2 shadow-1 p-30 mb-20">
                <!-- logo + name -->
                <div class="d-row-left w-100p mb-20">
                  <img
                    th:src="@{|${STORAGE}/icon/logo.png|}"
                    th:loading="|lazy|"
                    th:alt="|logo|"
                    th:width="|30px|"
                    th:height="|30px|"
                    th:class="|radius-2 me-10|"
                  />
                  <div
                    th:id="|member_name|"
                    th:name="|member_name|"
                    th:value="${member.member_name}"
                    th:class="|fs-1-2rem fw-700 burgundy hover|"
                    th:text="${member.member_name}"
                    th:onclick="|location.href='@{/member/viewMemberDetails(member_number=${member.member_number})}'|"
                  >
                  </div>
                  <div
                    th:id="|member_number|"
                    th:name="|member_number|"
                    th:value="${member.member_number}"
                    th:text="${member.member_number}"
                    th:class="|fs-0-9rem fw-600 grey ms-auto|"
                  >
                  </div>
                </div>
                <!-- ID -->
                <div class="d-row-left w-100p mb-10">
                  <div
                    th:id="|member_id|"
                    th:name="|member_id|"
                    th:value="${member.member_id}"
                    th:class="|fs-0-9rem fw-600 light-black|"
                    th:text="'-   ' + ${member.member_id}"
                  >
                  </div>
                </div>
                <!-- PW -->
                <div class="d-row-left w-100p mb-10">
                  <div
                    th:id="|member_pw|"
                    th:name="|member_pw|"
                    th:value="${member.member_pw}"
                    th:class="|fs-0-9rem fw-600 light-black|"
                    th:text="'-   ' + ${member.member_pw}"
                  >
                  </div>
                </div>
                <!-- email -->
                <div class="d-row-left w-100p mb-10">
                  <div
                    th:id="|member_email|"
                    th:name="|member_email|"
                    th:value="${member.member_email}"
                    th:class="|fs-0-9rem  fw-600 light-black|"
                    th:text="'-   ' + ${member.member_email}"
                  >
                  </div>
                </div>
                <!-- phone -->
                <div class="d-row-left w-100p mb-10">
                  <div
                    th:id="|member_phone|"
                    th:name="|member_phone|"
                    th:value="${member.member_phone}"
                    th:class="|fs-0-9rem fw-600 light-black|"
                    th:text="'-   ' + ${member.member_phone}"
                  >
                  </div>
                </div>
                <!-- address 1 -->
                <div class="d-row-left w-100p mb-10">
                  <div
                    th:id="|member_address1|"
                    th:name="|member_address1|"
                    th:value="${member.member_address1}"
                    th:class="|fs-0-9rem fw-600 light-black|"
                    th:text="'-   ' + ${member.member_address1}"
                  >
                  </div>
                </div>
                <!-- address 2 -->
                <div class="d-row-left w-100p mb-10">
                  <div
                    th:id="|member_address2|"
                    th:name="|member_address2|"
                    th:value="${member.member_address2}"
                    th:class="|fs-0-9rem fw-600 light-black|"
                    th:text="'-   ' + ${member.member_address2}"
                  >
                  </div>
                </div>
              </div>
            </th:block>
          </div>
        </div>
        <!-- hr -->
        <hr class="mt-20 mb-20" />
        <!-- button -->
        <div class="row d-row-center">
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <button
              th:type="|button|"
              th:class="|btn btn-dark w-90p|"
              th:onclick="|location.href='@{/member/addMember}'|"
            >
              회원 추가
            </button>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <button
              th:type="|button|"
              th:class="|btn btn-dark w-90p|"
              th:onclick="|location.href='@{/}'|"
            >
              홈으로
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- pagination -->
  <th:block th:replace="~{components/pagination :: pagination (
    prefix = ${PAGE},
    suffix = ${PAGE_UP}
  )}" />

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>