<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  lang="en"
>

	<!-- head -->
	<th:block th:replace="~{layouts/head :: head}"></th:block>

	<!-- body -->
	<body>

		<!-- header -->
    <th:block th:replace="~{layouts/header :: header}"></th:block>

    <!-- navigation -->
    <div th:with="icon='fas fa-user-cog', text1='Member', text2='Member Update Pw'">
      <div th:replace="components/navigation :: navigation"></div>
    </div>

    <!-- section -->
    <section class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <!-- form -->
              <form method="POST" onsubmit="return updateMemberPw()">
                <h6 class="checkout-title">비밀번호 변경</h6>
                <!-- pw -->
                <div class="row">
                  <div class="col-lg-12">
                    <div class="checkout-input">
                      <p class="p">비밀번호 <span>*</span></p>
                      <input type="text" th:id="member_pw" th:name="member_pw" placeholder="변경할 비밀번호를 입력하세요"/>
                    </div>
                  </div>
                </div><br>
                <!-- pw -->
                <div class="row">
                  <div class="col-lg-12">
                    <div class="checkout-input">
                      <p class="p">비밀번호 확인<span>*</span></p>
                      <input type="password" th:id="member_pw2" th:name="member_pw2" placeholder="변경할 비밀번호를 다시 입력하세요"/>
                    </div>
                  </div>
                </div>
                <!-- button -->
                <div class="row">
                  <div class="col-lg-12 mt-3">
                    <button type="submit" class="jungho-button">비밀번호 변경</button>
                  </div>
                </div>
              </form>

            </div>

             <!-- slider -->
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div th:replace="components/slider :: jungho-slider"></div>
            </div>

          </div>
        </div>
      </div>
    </section>


	  <!-- footer -->
    <th:block th:replace="~{layouts/footer :: footer}"></th:block>

</html>