<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en, ko">

  <!-- head --------------------------------------------------------------------------------------->
  <head>
    <div th:replace="common/head :: head"></div>
  </head>

  <!-- body --------------------------------------------------------------------------------------->
	<body>

    <!-- header ----------------------------------------------------------------------------------->
    <div th:replace="common/header :: header"></div>

    <!-- navigation -->
    <div th:with="icon='fas fa-bell', text1='Notice', text2='Notice Update'">
      <div th:replace="common/navigation :: navigation"></div>
    </div>

    <!-- section ---------------------------------------------------------------------------------->
    <section class="checkout spad">
      <div class="container">
        <div class="checkout__form">

          <!-- form ------------------------------------------------------------------------------->
          <form th:action="@{/notice/updateNotice}" method="POST" enctype="multipart/form-data">

            <!-- hidden --------------------------------------------------------------------------->
            <input type="hidden" th:name="notice_number" th:value="${noticeModel.notice_number}" th:id="notice_number"/>
            <input type="hidden" th:name="notice_writer" th:value="${noticeModel.notice_writer}" th:id="notice_writer"/>
            <input type="hidden" th:name="notice_count" th:value="${noticeModel.notice_count}" th:id="notice_count"/>
            <input type="hidden" th:name="notice_like" th:value="${noticeModel.notice_like}" th:id="notice_like"/>
            <input type="hidden" th:name="notice_dislike" th:value="${noticeModel.notice_dislike}" th:id="notice_dislike"/>
            <input type="hidden" th:name="notice_imgsUrl" th:value="${noticeModel.notice_imgsUrl}" th:id="notice_imgsUrl"/>

            <div class="row">
              <div class="col-lg-6 col-md-6">
                <h6 class="checkout__title">게시물 수정</h6>
                <!-- name -->
                <div class="row">
                  <div class="col-lg-12">
                    <div class="checkout__input">
                      <p class="p">제목<span>*</span></p>
                      <input type="text" placeholder="Title" th:name="notice_title" th:value="${noticeModel.notice_title}" th:id="notice_title"/>
                    </div>
                  </div>
                </div>
                <!-- content -->
                <div class="row">
                  <div class="col-lg-12">
                    <div class="checkout__input">
                      <p class="p">내용<span>*</span></p>
                      <textarea placeholder="Contents" th:id="notice_contents" th:name="notice_contents" th:text="${noticeModel.notice_contents}">
                      </textarea>
                    </div>
                  </div>
                </div>
                <!-- image -->
                <div class="row">
                  <div class="col-lg-5 col-md-5 col-sm-5">
                    <div class="checkout__input">
                    <p class="p">기존 이미지<span>*</span></p>
                    <img th:src="${noticeModel.notice_imgsUrl}" style="width: 150px; height: 150px; border-radius: 10px; box-shadow: 0px 10px 10px rgba(0, 0.5, 0.5, 0.5);" th:id="existingImage" th:name="existingImage" th:value="existingImage"/>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="checkout__input">
                      <p class="p"> 게시물 이미지<span>*</span></p>
                      <label for="notice_imgsFile">선택하기</label>
                      <input type="file" th:id="notice_imgsFile" th:name="notice_imgsFile"  style="display:none" class="imageFile" oninput="junghoPreview();"/>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 mt-3">
                    <button type="submit" th:onclick="return updateCheck();" class="jungho-button">
                    수정하기
                    </button>
                  </div>
                </div>
              </div>
              <!-- preview -->
              <div class="col-lg-6 col-md-6 col-sm-6 ps-4">
                <div class="jungho-preview">
                  <div class="border-dark justify-content-center">
                    <h4 class="order__title mb-4"><i class="fa fa-spinner"></i>&nbsp;Preview</h4>
                    <div class="imageLoader" th:id="imageLoader"></div>
                    <img class="imageBox" th:id="imageBox"/>
                  </div>
                </div>
              </div>

            </div>
          </form>
          <!-- /.form -->

        </div>
      </div>
    </section>
    <!-- /.section -->

    <!-- footer ----------------------------------------------------------------------------------->
    <div th:replace="common/footer :: footer"></div>

  </body>
</html>
<!-- /.html -->