<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- head -->
  <th:block th:replace="~{layouts/head :: head}" />

  <!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layouts/navigation :: navigation (
    icon = 'fas fa-map-marker-alt',
    text1 = ${PAGE},
    text2 = ${THEME}
  )}" />

  <!-- map -->
  <section class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12650.019124063203!2d126.96497476224326!3d37.56672970000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca2f332cb082b%3A0xe92b70ac420cf0a8!2z7ISc7Jq47Yq567OE7Iuc7LKt!5e0!3m2!1sko!2skr!4v1684723235393!5m2!1sko!2skr" width="600" height="450" style="border:0()" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </main>

  <!-- main -->
  <main class="container-fluid px-30">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
        <div class="contact-text">
          <ul>
            <li>
              <h4>
                <i class="fas fa-map-marker-alt"></i>
                &nbsp;&nbsp;서울
              </h4>
              <p class="fw-6">
                -  서울특별시 중구 중림로 10
                <br />
                -  정호빌딩 2층 201호
                <br />
                -  +82 02-1234-5678
                <br />
                -  운영 시간: 월-금 9AM-5PM
              </p>
            </li>
          </ul>
        </div>
      </div>
      <br/>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
        <div class="contact-text">
          <ul>
            <li>
              <h4>
                <i class="fas fa-map-marker-alt"></i>
                &nbsp;&nbsp;부산
              </h4>
              <p class="fw-6">
                -  부산광역시 중구 중앙대로 100
                <br />
                -  주연빌딩 3층 301호
                <br/>
                -  +82 051-1234-5678
                <br />
                -  운영 시간: 월-금 9AM-5PM
              </p>
            </li>
          </ul>
        </div>
      </div>
      <br/>
      <div class="col-xl-6 col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="contact-form">
          <form>
            <div class="row">
              <div class="col-lg-6">
                <input th:type="${'text" id="contactName" th:placeholder="이름" style="caret-color: black()" class="fw-6'}" required/>
              </div>
              <div class="col-lg-6">
                <input th:type="${'tel" id="contactTel" th:placeholder="연락처" style="caret-color: black()" class="fw-6'}" required/>
              </div>
              <div class="col-lg-6">
                <input th:type="${'email" id="contactEmail" th:placeholder="이메일" style="caret-color: black()" class="fw-6'}" required/>
              </div>
              <div class="col-lg-6 text-center">
                <button th:type="${'submit" class="site-btn" onclick="return contactAlert(event)'}">
                  상담 신청
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <br/>
    </div>
  </main>

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>