<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- head -->
  <th:block th:replace="~{layouts/head :: head}" />

  <!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layouts/navigation :: navigation (
    icon = 'fas fa-bell',
    text1 = ${PAGE},
    text2 = ${THEME}
  )}" />

  <!-- main -->
  <main class="container-fluid px-30">
    <div class="row d-row-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
        <!-- form -->
        <form
          th:method="${'POST'}"
          th:action="@{|/${page}/add${PAGE}|}"
          th:enctype="${'multipart/form-data'}"
        >
          <!-- detail -->
          <div class="row mb-20">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="border-1 radius-2 shadow-1 px-20 py-40">
                <!-- title -->
                <div class="row mb-20">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-left mb-10">
                      <div class="fs-0-9rem fw-800 me-5">
                        제목
                      </div>
                      <div class="fs-0-9rem fw-800 burgundy">
                        *
                      </div>
                    </div>
                    <div class="d-row-left">
                      <input
                        th:type="${'text'}"
                        th:id="${'qna_title'}"
                        th:name="${'qna_title'}"
                        th:class="${'form-control'}"
                      />
                    </div>
                  </div>
                </div>
                <!-- category -->
                <div class="row mb-20">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-left mb-10">
                      <div class="fs-0-9rem fw-800 me-5">
                        카테고리
                      </div>
                      <div class="fs-0-9rem fw-800 burgundy">
                        *
                      </div>
                    </div>
                    <div class="d-row-left w-100p">
                      <select
                        th:id="${'qna_category'}"
                        th:name="${'qna_category'}"
                        th:class="${'form-control'}"
                      >
                        <option value="goods">
                          상품 문의
                        </option>
                        <option value="exchange">
                          교환 문의
                        </option>
                        <option value="refund">
                          환불 문의
                        </option>
                        <option value="payment">
                          결제 문의
                        </option>
                        <option value="delivery">
                          배송 문의
                        </option>
                        <option value="etc">
                          기타 문의
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <!-- content -->
                <div class="row mb-20">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-left mb-10">
                      <div class="fs-0-9rem fw-800 light-black">
                        내용
                      </div>
                      <div class="fs-0-6rem fw-800 burgundy">
                        *
                      </div>
                    </div>
                    <div class="d-row-left">
                      <textarea
                        th:id="${'qna_contents'}"
                        th:name="${'qna_contents'}"
                        th:class="${'form-control h-20vh border-1 lh-1-7'}"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <!-- hr -->
                <hr class="mt-20 mb-20" />
                <!-- image -->
                <div class="row">
                  <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="d-row-center mb-10">
                      <div class="fs-0-9rem fw-800 light-black">
                        기존 이미지
                      </div>
                      <div class="fs-0-6rem fw-800 burgundy">
                        *
                      </div>
                    </div>
                    <div class="d-row-center">
                      <img
                        th:id="${'existingImage'}"
                        th:name="${'existingImage'}"
                        th:class="${'w-100 h-100 radius-2 shadow-1'}"
                        th:src="@{|${STORAGE}/icon/logo.png|}"
                      />
                    </div>
                  </div>
                  <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="d-row-center mb-10">
                      <div class="fs-0-9rem fw-800 light-black">
                        게시물 이미지
                      </div>
                      <div class="fs-0-6rem fw-800 burgundy">
                        <label
                          th:id="${'imageLabel'}"
                          th:name="${'imageLabel'}"
                          th:class="${'ms-10'}"
                          th:for="${'imageFile'}"
                        >
                          선택하기
                        </label>
                      </div>
                    </div>
                    <div class="d-row-center">
                      <input
                        th:type="${'file'}"
                        th:id="${'imageFile'}"
                        th:name="${'qna_imgsFile'}"
                        th:class="${'qna_imgsFile d-none'}"
                        th:onchange="|junghoPreview()|"
                      />
                      <div
                        th:id="${'imageLoader'}"
                        th:name="${'imageLoader'}"
                        th:class="${'imageLoader'}"
                      >
                      </div>
                      <img
                        th:id="${'imageBox'}"
                        th:name="${'imageBox'}"
                        th:class="${'imageBox w-100 h-100 radius-2 shadow-1'}"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- hr -->
          <hr class="mt-20 mb-20" />
          <!-- button -->
          <div class="row d-row-center">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <button
                th:type="${'submit'}"
                th:class="${'btn btn-dark w-90p'}"
                th:onclick="|return addQna()|"
              >
                등록
              </button>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <button
                th:type="${'button'}"
                th:class="${'btn btn-dark w-90p'}"
                th:onclick="|return goHome()|"
              >
                홈으로
              </button>
            </div>
          </div>
          <!-- hidden -->
          <div class="hidden-wrapper">
            <input
              th:type="${'hidden'}"
              th:id="${'qna_answer1'}"
              th:name="${'qna_answer1'}"
              th:value="${false}"
            />
            <input
              th:type="${'hidden'}"
              th:id="${'qna_answer2'}"
              th:name="${'qna_answer2'}"
              th:value="${''}"
            />
            <input
              th:type="${'hidden'}"
              th:id="${'qna_writer'}"
              th:name="${'qna_writer'}"
              th:value="${session.member_id}"
            />
            <input
              th:type="${'hidden'}"
              th:id="${'qna_count'}"
              th:name="${'qna_count'}"
              th:value="${'0'}"
            />
            <input
              th:type="${'hidden'}"
              th:id="${'qna_like'}"
              th:name="${'qna_like'}"
              th:value="${'0'}"
            />
            <input
              th:type="${'hidden'}"
              th:id="${'qna_dislike'}"
              th:name="${'qna_dislike'}"
              th:value="${'0'}"
            />
          </div>
        </form>
      </div>
    </div>
  </main>

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>