<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  lang="en"
>
  <!-- head -->
  <th:block th:replace="~{layouts/head :: head}"></th:block>

  <!-- header -->
  <th:block th:replace="~{layouts/header :: header}"></th:block>

  <!-- navigation -->
  <th:block th:replace="~{components/navigation :: navigation (icon='fas fa-question-circle', text1='Qna', text2='Qna Add')}"></th:block>

  <!-- section -->
  <section class="container">
    <form th:action="@{/qna/addQna}" method="POST" enctype="multipart/form-data">

      <!-- hidden -->
      <input th:type="hidden" th:id="qna_like" th:name="qna_like" th:value="0"/>
      <input th:type="hidden" th:id="qna_dislike" th:name="qna_dislike" th:value="0"/>
      <input th:type="hidden" th:id="qna_count" th:name="qna_count" th:value="0"/>
      <input th:type="hidden" th:id="qna_writer"th:name="qna_writer" th:value="${session.member_id}"/>
      <input th:type="hidden" th:id="qna_answer1" th:name="qna_answer1" th:value="0"/>
      <input th:type="hidden" th:id="qna_answer2" th:name="qna_answer2"th:value="답변준비중"/>

      <!-- row 1 -->
      <div class="row">

        <!-- col 1 -->
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-12">
          <h6 class="checkout-title">QnA 등록</h6>

          <!-- row 2 -->
          <div class="row">

            <!-- title -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
              <div class="checkout-input">
                <p class="p">제목<span>*</span></p>
                <input type="text" placeholder="Title"th:name="qna_title" th:id="qna_title"/>
              </div>
            </div>
            <!-- category -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
              <div class="checkout-input">
                <p class="p">카테고리<span>*</span></p>
                <select th:id="qna_category" th:name="qna_category">
                  <option selected disabled value="">선택</option>
                  <option value="상품문의">상품문의</option>
                  <option value="교환문의">교환문의</option>
                  <option value="환불문의">환불문의</option>
                  <option value="결제문의">결제문의</option>
                  <option value="배송문의">배송문의</option>
                  <option value="기타문의">기타문의</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- details -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
              <div class="checkout-input">
                <p class="p"> 내용 <span>*</span></p>
                <textarea placeholder="Details" th:id="qna_contents" th:name="qna_contents"></textarea>
              </div>
            </div>
          </div>
          <div class="row mb-5">
            <!-- existing image 1 -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
              <div class="checkout-input">
                <div class="previewExisting-group">
                  <p class="p">기존 이미지<span>*</span></p>
                  <img class="existingMiniBox" id="existingMiniBox" th:src="@{https://storage.googleapis.com/jungho-bucket/JUNGHQLO/IMAGE/icon/noimage.png}"/>
                </div>
              </div>
            </div>
            <!-- qna image 1 -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
              <div class="checkout-input">
                <div class="previewMini-group">
                  <p class="p"><label for="imageFile1">문의 이미지<span>*</span></label></p>
                  <input type="file" id="imageFile1" onchange="junghoPreview(1)" class="imageFile" name="qna_imgsFile"/>
                  <div class="imageMiniLoader" id="imageMiniLoader1"></div>
                  <img class="imageMiniBox" id="imageMiniBox1"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- preview -->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12">
          <div class="row">
            <!-- preview image -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
              <div class="previewImage-group">
                <h4 class="p"><i class="fa fa-image"></i>&nbsp;Preview</h4>
                <hr>
                <div class="imageLoader" id="imageLoader"></div>
                <img class="imageBox" id="imageBox"/>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- button -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
              <div class="previewButton-group">
                <button class="jungho-button" id="resetButton" type="reset"
                th:onClick="window.location.reload()">새로고침</button>
                <button class="jungho-button" id="submitButton" type="submit"
                th:onClick="return addQna()">등록하기</button>
                <button type="button" class="jungho-button" th:onClick="'window.location.href=\'' + @{/} + '\''"> 홈으로 </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}"></th:block>

</html>