<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  lang="en"
>
  <!-- head -->
  <th:block th:replace="~{layouts/head :: head}" />

  <!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layouts/navigation :: navigation (icon='fas fa-question-circle', text1='Qna', text2='Details')}" />

  <!-- main -->
  <main class="container px-30">
    <div class="row">
      <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8">
    <!-- row -->
    <div class="row d-flex justify-content-center">
      <!-- col -->
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <!-- image -->
        <div class="blog-details-pic">
          <img th:src="@{${qnaModel.qna_imgsUrl}}"/>
        </div>
      </div>
      <!-- col -->
      <div class="col-lg-8">
        <div class="blog-details-content">
          <div class="blog-details-quote">
            <div class="row">
              <div class="col-lg-8 md-8 sm-8">
                <i class="fa fa-quote-left ms-2"></i>
                <!-- title -->
                <div class="jungho-left mt-2">
                  <h6>제&nbsp;&nbsp;&nbsp;&nbsp;목 : </h6>
                  <p th:text="${qnaModel.qna_title}" class="p ms-1"></p>
                </div>
                <!-- writer -->
                <div class="jungho-left mt-2">
                  <h6>작성자 : </h6>
                  <p th:text="${qnaModel.qna_writer}" class="p ms-1"></p>
                  <input th:type="hidden" th:id="writerId" th:name="writerId" th:value="${qnaModel.qna_writer}"/>
                </div>
                <!-- date -->
                <div class="jungho-left mt-2">
                  <h6>작성일 : </h6>
                  <p th:text="${qnaModel.qna_update != null ? qnaModel.qna_update+'(수정)' : qnaModel.qna_date+'(원글)'}" class="p ms-1"></p>
                </div>
                <!-- count -->
                <div class="jungho-left mt-2">
                  <h6>조회수 : </h6>
                  <p th:text="${qnaModel.qna_count}" class="p ms-1"></p>
                </div>
                <!-- category -->
                <div class="jungho-left mt-2">
                  <h6>카테고리 : </h6>
                  <p th:text="${qnaModel.qna_category}" class="p ms-1"></p>
                </div>
                <!-- like -->
                <div class="jungho-left mt-1">
                  <h6>Like : </h6>
                  <div class="like-container" th:onclick="likeButton()" style="cursor:pointer">
                    <div class="ms-2">
                      <i class="far fa-thumbs-up" th:id="likeBtn"></i>
                      <h6 class="like-count" id="likeCount" th:text="${qnaModel.qna_like}">
                      </h6>
                    </div>
                  </div>
                  <!-- dislike -->
                  <div class="dislike-container" th:onclick="dislikeButton()" style="cursor:pointer">
                    <div class="ms-2">
                      <i class="far fa-thumbs-down mt-1" th:id="dislikeBtn"></i>
                      <h6 class="dislike-count" id="dislikeCount" th:text="${qnaModel.qna_dislike}"></h6>
                    </div>
                  </div>
                  <!-- hidden -->
                  <input th:type="hidden" th:id="uniqueNumber" th:value="${qnaModel.qna_number}" th:name="qna_number"/>
                </div>
              </div>
              <!-- share -->
              <div class="col-lg-4 md-4 sm-4">
                <h6 class="mb-3"> &nbsp; Share :</h6>
                <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                  <a class="a2a_button_kakao m-1"></a>
                  <a class="a2a_button_line m-1"></a>
                  <a class="a2a_button_google_gmail m-1"></a>
                  <a class="a2a_button_facebook m-1"></a>
                  <a class="a2a_button_twitter m-1"></a>
                  <a class="a2a_button_pinterest m-1"></a>
                  <a class="a2a_button_reddit m-1"></a>
                  <a class="a2a_button_yahoo_mail m-1"></a>
                  <a class="a2a_button_blogger m-1"></a>
                  <a class="a2a_button_evernote m-1"></a>
                  <a class="a2a_button_facebook_messenger m-1"></a>
                  <a class="a2a_button_outlook_com m-1"></a>
                </div>
                <script async src="https://static.addtoany.com/menu/page.js"></script>
              </div>
            </div>
          </div>
          <div class="jungho-horizon"></div>
          <!-- content -->
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="blog-details-author mt-3">
                <p th:text="${qnaModel.qna_contents}" class="p"></p>
              </div>
            </div>
          </div>
          <div class="jungho-horizon mb-4"></div>
          <!-- button -->
          <div class="form-group d-flex justify-content-center">
            <button class="jungho-button" th:onclick="updateAlert()">수정</button>
            <button class="jungho-button" th:onclick="deleteAlert()">삭제</button>
            <button class="jungho-button" th:onclick="@{|window.location.href='/JUNGHQLO/qna/getQnaList'|}">목록</button>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- fake pagination -->
  <th:block th:replace="~{components/pagination :: fake-pagination}" />

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>