<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- head -->
  <th:block th:replace="~{layouts/head :: head}" />

  <!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layouts/navigation :: navigation}" />

  <!-- main -->
  <section class="container-fluid">
    <div class="row d-center">
      <div class="col-11 col-sm-11 col-md-10 col-lg-9 col-xl-8">
        <!-- form -->
        <form
          th:id="${'formData'}"
          th:name="${'formData'}"
          th:class="${'formData'}"
        >
          <!-- detail -->
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="border-1 radius-2 shadow-1 px-5vw py-6vh">
                <!-- title -->
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-center">
                      <div
                        th:id="${'qna_title'}"
                        th:name="${'qna_title'}"
                        th:text="${MODEL['qna_title']}"
                        th:class="${'fs-1-8rem fw-800 light-black'}"
                      ></div>
                      <div
                        th:id="${'qna_category'}"
                        th:name="${'qna_category'}"
                        th:text="${MODEL['qna_category'] == 'goods' ? '상품문의' : MODEL['qna_category'] == 'exchange' ? '교환문의' : MODEL['qna_category'] == 'refund' ? '환불문의' : MODEL['qna_category'] == 'payment' ? '결제문의' : MODEL['qna_category'] == 'delivery' ? '배송문의' : MODEL['qna_category'] == 'etc' ? '기타문의' : '문의'}"
                        th:class="${'fs-1-2rem fw-600 grey ml-10px'}"
                      ></div>
                    </div>
                  </div>
                </div>
                <!-- hr -->
                <div class="w-100p my-3vh bg-burgundy h-2px"></div>
                <!-- image -->
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <th:block th:if="${MODEL['qna_imgsUrl'] == ''}">
                      <img
                        th:src="@{|${STORAGE}/icon/logo.png|}"
                        th:loading="${'lazy'}"
                        th:alt="${'image'}"
                        th:class="${'w-50p w-max-500px border-1 radius-1 shadow-0'}"
                      />
                    </th:block>
                    <th:block th:if="${MODEL['qna_imgsUrl'] != ''}">
                      <img
                        th:each="image : ${#strings.arraySplit(MODEL['qna_imgsUrl'], ',')}"
                        th:src="@{|${STORAGE}/${page}/${image}|}"
                        th:loading="${'lazy'}"
                        th:alt="${'image'}"
                        th:class="${'w-90p w-max-500px border-1 radius-1 shadow-0'}"
                      />
                    </th:block>
                  </div>
                </div>
                <!-- hr -->
                <div class="w-100p my-3vh bg-light-grey h-1px"></div>
                <!-- content -->
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <textarea
                      th:id="${'qna_contents'}"
                      th:name="${'qna_contents'}"
                      th:text="${MODEL['qna_contents']}"
                      th:class="${'form-control h-min-20vh border-0 lh-1-7'}"
                    ></textarea>
                  </div>
                </div>
                <!-- hr -->
                <div class="w-100p my-3vh bg-light-grey h-1px"></div>
                <!-- answer -->
                <div class="row mb-3vh">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-left mb-2vh">
                      <div class="fs-0-9rem fw-800 light-black">
                        답변 상태
                      </div>
                      <div class="fs-0-9rem fw-800 burgundy ml-5px">
                        *
                      </div>
                    </div>
                    <div class="d-row-left w-100p">
                      <input
                        th:type="${'text'}"
                        th:id="${'qna_answer'}"
                        th:name="${'qna_answer'}"
                        th:class="${'form-control disabled'}"
                        th:value="${MODEL['qna_answer']}"
                      />
                    </div>
                  </div>
                </div>
                <!-- hr -->
                <div class="w-100p my-3vh bg-light-grey h-2px"></div>
                <!-- like && dislike && count -->
                <div class="row mb-4vh">
                  <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 d-row-left">
                    <div class="d-row-center mr-1vw">
                      <i th:class="${'fa fa-thumbs-up fs-1-0rem mr-10px navy'}"></i>
                      <div
                        th:id="${'qna_like'}"
                        th:name="${'qna_like'}"
                        th:text="${MODEL['qna_like']}"
                        th:class="${'fs-1-0rem fw-600 dark'}"
                      ></div>
                    </div>
                    <div class="d-row-center ml-1vw">
                      <i th:class="${'fa fa-thumbs-down fs-1-0rem mr-10px burgundy'}"></i>
                      <div
                        th:id="${'qna_dislike'}"
                        th:name="${'qna_dislike'}"
                        th:text="${MODEL['qna_dislike']}"
                        th:class="${'fs-1-0rem fw-600 dark'}"
                      ></div>
                    </div>
                  </div>
                  <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <div class="d-row-right">
                      <i th:class="${'fa fa-eye fs-1-0rem mr-10px secondary'}"></i>
                      <div
                        th:id="${'qna_count'}"
                        th:name="${'qna_count'}"
                        th:text="${MODEL['qna_count']}"
                        th:class="${'fs-1-0rem fw-600 dark'}"
                      ></div>
                    </div>
                  </div>
                </div>
                <!-- date && writer -->
                <div class="row">
                  <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="d-row-left">
                      <i th:class="${'fa fa-calendar fs-1-0rem mr-10px'}"></i>
                      <div
                        th:id="${'qna_date'}"
                        th:name="${'qna_date'}"
                        th:class="${'fs-1-0rem fw-600 dark'}"
                        th:text="${#strings.substring((MODEL['qna_update'] != null ? MODEL['qna_update'] : MODEL['qna_date']), 0, 10)}"
                      ></div>
                    </div>
                  </div>
                  <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="d-row-right">
                      <i th:class="${'fa fa-user fs-1-0rem mr-10px'}"></i>
                      <div
                        th:id="${'qna_writer'}"
                        th:name="${'qna_writer'}"
                        th:text="${MODEL['qna_writer']}"
                        th:class="${'fs-1-0rem fw-600 dark'}"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- hidden -->
          <div class="hidden-wrapper">
            <input
              th:type="${'hidden'}"
              th:id="${'qna_number'}"
              th:name="${'qna_number'}"
              th:value="${MODEL['qna_number']}"
            />
            <input
              th:type="${'hidden'}"
              th:id="${'sessionId'}"
              th:name="${'sessionId'}"
              th:value="${session.member_id}"
            />
            <input
              th:type="${'hidden'}"
              th:id="${'writerId'}"
              th:name="${'writerId'}"
              th:value="${MODEL['qna_writer']}"
            />
          </div>
        </form>
      </div>
    </div>
  </section>

  <!-- divider -->
  <th:block th:replace="~{components/divider :: divider}" />

  <!-- button -->
  <th:block th:replace="~{components/button :: button}" />

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>