<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- head -->
  <th:block th:replace="~{layouts/head :: head}" />

  <!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layouts/navigation :: navigation}" />

  <!-- main -->
  <section class="container-fluid">
    <div class="row d-center">
      <div class="col-11 col-sm-11 col-md-10 col-lg-9 col-xl-8">
        <!-- form -->
        <form
          th:id="${'formData'}"
          th:name="${'formData'}"
          th:class="${'formData'}"
        >
          <!-- list -->
          <div class="row">
            <th:block th:each="LIST: ${LIST}">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div
                  th:class="${'border-1 radius-2 shadow-0 p-30'}"
                  th:classappend="${LISTStat.last ? '' : 'mb-0'}"
                >
                  <!-- logo + title -->
                  <div class="d-row-left w-100p mb-20">
                    <img
                      th:each="image, iterStat:${#strings.arraySplit(LIST['qna_imgsUrl'], ',')}"
                      th:if="${iterStat.index == 0}"
                      th:src="@{|${STORAGE}/${page}/${image}|}"
                      th:loading="${'lazy'}"
                      th:alt="${'logo'}"
                      th:width="${'30px'}"
                      th:height="${'30px'}"
                      th:class="${'radius-2 me-10'}"
                    />
                    <div
                      th:id="${'qna_title'}"
                      th:name="${'qna_title'}"
                      th:text="${#strings.abbreviate(LIST['qna_title'], 20)}"
                      th:class="${'fs-1-2rem fw-700 burgundy hover'}"
                      th:onclick="goToPage('detail', [[${LIST['qna_number']}]])"
                    ></div>
                    <div
                      th:id="${'qna_category'}"
                      th:name="${'qna_category'}"
                      th:text="${LIST['qna_category'] == 'goods' ? '상품문의' : LIST['qna_category'] == 'exchange' ? '교환문의' : LIST['qna_category'] == 'refund' ? '환불문의' : LIST['qna_category'] == 'payment' ? '결제문의' : LIST['qna_category'] == 'delivery' ? '배송문의' : LIST['qna_category'] == 'etc' ? '기타문의' : '문의'}"
                      th:class="${'fs-0-9rem fw-600 dark ms-auto'}"
                    ></div>
                  </div>
                  <!-- date & user -->
                  <div class="d-row-between w-100p">
                    <div class="d-row-center">
                      <i th:class="${'fa fa-calendar fs-0-7rem me-10'}"></i>
                      <div
                        th:id="${'qna_date'}"
                        th:name="${'qna_date'}"
                        th:class="${'fs-0-9rem fw-600 dark'}"
                        th:text="${#strings.substring((LIST['qna_update'] != null ? LIST['qna_update'] : LIST['qna_date']), 0, 10)}"
                      ></div>
                    </div>
                    <div class="d-row-center">
                      <i th:class="${'fa fa-user fs-0-7rem me-10'}"></i>
                      <div
                        th:id="${'qna_writer'}"
                        th:name="${'qna_writer'}"
                        th:text="${LIST['qna_writer']}"
                        th:class="${'fs-0-9rem fw-600 dark'}"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </th:block>
          </div>
        </form>
      </div>
    </div>
  </section>

  <!-- divider -->
  <th:block th:replace="~{components/divider :: divider}" />

  <!-- sorting -->
  <th:block th:replace="~{components/sorting :: sorting}" />

  <!-- divider -->
  <th:block th:replace="~{components/divider :: divider}" />

  <!-- button -->
  <th:block th:replace="~{components/button :: button}" />

  <!-- divider -->
  <th:block th:replace="~{components/divider :: divider}" />

  <!-- pagination -->
  <th:block th:replace="~{components/pagination :: pagination}" />

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>