<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- head -->
  <th:block th:replace="~{layouts/head :: head}" />

  <!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layouts/navigation :: navigation}" />

  <!-- main -->
  <section class="container-fluid">
    <div class="row d-center">
      <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8">
        <!-- form -->
        <form
          th:id="${'formData'}"
          th:name="${'formData'}"
          th:class="${'formData'}"
        >
          <!-- detail -->
          <div class="row mb-20">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="border-1 radius-2 shadow-1 px-15 py-35">
                <!-- title -->
                <div class="row mb-20">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-left mb-10">
                      <div class="fs-0-9rem fw-800">
                        제목
                      </div>
                      <div class="fs-0-9rem fw-800 burgundy ms-5">
                        *
                      </div>
                    </div>
                    <div class="d-row-left">
                      <input
                        th:type="${'text'}"
                        th:id="${'qna_title'}"
                        th:name="${'qna_title'}"
                        th:class="${'form-control'}"
                        th:value="${''}"
                      />
                    </div>
                  </div>
                </div>
                <!-- category -->
                <div class="row mb-20">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-left mb-10">
                      <div class="fs-0-9rem fw-800">
                        카테고리
                      </div>
                      <div class="fs-0-9rem fw-800 burgundy ms-5">
                        *
                      </div>
                    </div>
                    <div class="d-row-left w-100p">
                      <select
                        th:id="${'qna_category'}"
                        th:name="${'qna_category'}"
                        th:class="${'form-control'}"
                      >
                        <option value="goods">
                          상품 문의
                        </option>
                        <option value="exchange">
                          교환 문의
                        </option>
                        <option value="refund">
                          환불 문의
                        </option>
                        <option value="payment">
                          결제 문의
                        </option>
                        <option value="delivery">
                          배송 문의
                        </option>
                        <option value="etc">
                          기타 문의
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <!-- answer -->
                <div class="row mb-20">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-left mb-10">
                      <div class="fs-0-9rem fw-800 light-black">
                        답변 상태
                      </div>
                      <div class="fs-0-9rem fw-800 burgundy ms-5">
                        *
                      </div>
                    </div>
                    <div class="d-row-left w-100p">
                      <input
                        th:type="${'text'}"
                        th:id="${'qna_answer'}"
                        th:name="${'qna_answer'}"
                        th:class="${'form-control disabled'}"
                        th:value="${'답변대기'}"
                      />
                    </div>
                  </div>
                </div>
                <!-- content -->
                <div class="row mb-20">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-left mb-10">
                      <div class="fs-0-9rem fw-800 light-black">
                        내용
                      </div>
                      <div class="fs-0-9rem fw-800 burgundy ms-5">
                        *
                      </div>
                    </div>
                    <div class="d-row-left">
                      <textarea
                        th:id="${'qna_contents'}"
                        th:name="${'qna_contents'}"
                        th:class="${'form-control h-min20vh border-1 lh-1-7'}"
                        th:value="${''}"
                        th:text="${''}"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <!-- image new -->
                <div class="row mb-20">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-left mb-10">
                      <div class="fs-0-9rem fw-800 light-black">
                        이미지
                      </div>
                      <div
                        th:id="${'imgsLabel'}"
                        th:name="${'imgsLabel'}"
                        th:class="${'imgsLabel fs-0-9rem fw-800 burgundy ms-10 pointer'}"
                        th:onclick="|return createImgs()|"
                      >
                        선택하기 *
                      </div>
                    </div>
                    <div class="d-row-center">
                      <div
                        th:id="${'imgsContainer'}"
                        th:name="${'imgsContainer'}"
                        th:data-limit="${'3'}"
                        th:class="${'imgsContainer w-100p h-min100 p-20 border-1 radius-1'}"
                      >
                      </div>
                      <div
                        th:id="${'inputContainer'}"
                        th:name="${'inputContainer'}"
                        th:class="${'inputContainer d-none'}"
                      >
                      </div>
                    </div>
                  </div>
                </div>
                <!-- hidden -->
                <div class="hidden-wrapper">
                  <input
                    th:type="${'hidden'}"
                    th:id="${'qna_number'}"
                    th:name="${'qna_number'}"
                    th:value="${'0'}"
                  />
                  <input
                    th:type="${'hidden'}"
                    th:id="${'qna_writer'}"
                    th:name="${'qna_writer'}"
                    th:value="${session.member_id}"
                  />
                  <input
                    th:type="${'hidden'}"
                    th:id="${'qna_count'}"
                    th:name="${'qna_count'}"
                    th:value="${'0'}"
                  />
                  <input
                    th:type="${'hidden'}"
                    th:id="${'qna_like'}"
                    th:name="${'qna_like'}"
                    th:value="${'0'}"
                  />
                  <input
                    th:type="${'hidden'}"
                    th:id="${'qna_dislike'}"
                    th:name="${'qna_dislike'}"
                    th:value="${'0'}"
                  />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <!-- hr -->
  <th:block th:replace="~{components/divider :: divider}" />

  <!-- button -->
  <th:block th:replace="~{components/button :: button}" />

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>