<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- head -->
  <th:block th:replace="~{layout/head :: head}" />

  <!-- header -->
  <th:block th:replace="~{layout/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layout/navigation :: navigation}" />

  <!-- main -->
  <section class="container-fluid">
    <div class="row d-center">
      <div class="col-11 col-sm-11 col-md-10 col-lg-10 col-xl-10">
        <!-- form -->
        <form
          th:id="${'formData'}"
          th:name="${'formData'}"
          th:class="${'formData'}"
        >
          <!-- detail -->
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="border-1 radius-2 shadow-1 px-5vw py-6vh">
                <!-- title -->
                <div class="row mb-3vh">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-left mb-2vh">
                      <div class="fs-0-9rem fw-800">
                        제목
                      </div>
                      <div class="fs-0-9rem fw-800 burgundy ml-5px">
                        *
                      </div>
                    </div>
                    <div class="d-row-left">
                      <input
                        th:type="${'text'}"
                        th:id="${'board_title'}"
                        th:name="${'board_title'}"
                        th:class="${'form-control'}"
                        th:value="${MODEL['board_title']}"
                      />
                    </div>
                  </div>
                </div>
                <!-- content -->
                <div class="row mb-3vh">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-left mb-2vh">
                      <div class="fs-0-9rem fw-800 light-black">
                        내용
                      </div>
                      <div class="fs-0-9rem fw-800 burgundy ml-5px">
                        *
                      </div>
                    </div>
                    <div class="d-row-left">
                      <textarea
                        th:id="${'board_contents'}"
                        th:name="${'board_contents'}"
                        th:class="${'form-control h-min-20vh border-1 lh-1-7'}"
                        th:value="${MODEL['board_contents']}"
                        th:text="${MODEL['board_contents']}"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <!-- image new -->
                <div class="row mb-3vh">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-left mb-2vh">
                      <div class="fs-0-9rem fw-800 light-black">
                        이미지
                      </div>
                      <div
                        th:id="${'imgsLabel'}"
                        th:name="${'imgsLabel'}"
                        th:class="${'imgsLabel fs-0-9rem fw-800 burgundy ml-10px pointer'}"
                        th:onclick="createImgs()"
                      >
                        선택하기 *
                      </div>
                    </div>
                    <div class="d-row-center">
                      <div
                        th:id="${'imgsContainer'}"
                        th:name="${'imgsContainer'}"
                        th:data-limit="${'3'}"
                        th:class="${'imgsContainer w-100p h-min-100px p-20px border-1 radius-1'}"
                      ></div>
                      <div
                        th:id="${'inputContainer'}"
                        th:name="${'inputContainer'}"
                        th:class="${'inputContainer d-none'}"
                      ></div>
                    </div>
                  </div>
                </div>
                <!-- image existing -->
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-col-left">
                      <div
                        th:each="image,iterStat:${#strings.arraySplit(MODEL['board_imgsUrl'],',')}"
                        th:class="${'d-row-between w-80p'}"
                        th:classappend="${iterStat.last ? '' : 'mb-2vh'}"
                      >
                        <div class="d-row-center">
                          <img
                            th:src="@{|${STORAGE}/${page}/${image}|}"
                            th:loading="${'lazy'}"
                            th:id="${'existingImgs_' + image}"
                            th:name="${'existingImgs_' + image}"
                            th:class="${'w-30px h-30px radius-1'}"
                          />
                          <div
                            th:id="${'existingName_' + image}"
                            th:name="${'existingName_' + image}"
                            th:class="${'fs-0-8rem fw-600 grey ml-10px'}"
                            th:text="${#strings.abbreviate(image, 20)}"
                          ></div>
                        </div>
                        <div class="d-row-center">
                          <div
                            th:id="${'existingDelete_' + image}"
                            th:name="${'existingDelete_' + image}"
                            th:class="${'fs-1-0rem fw-600 burgundy pointer'}"
                            th:text="${'X'}"
                            th:onclick="deleteExistingImgs([[${image}]])"
                          ></div>
                        <div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- hidden -->
                <div class="hidden-wrapper">
                  <input
                    th:type="${'hidden'}"
                    th:id="${'sessionId'}"
                    th:name="${'sessionId'}"
                    th:value="${session.member_id}"
                  />
                  <input
                    th:type="${'hidden'}"
                    th:id="${'board_number'}"
                    th:name="${'board_number'}"
                    th:value="${MODEL['board_number']}"
                  />
                  <input
                    th:type="${'hidden'}"
                    th:id="${'board_writer'}"
                    th:name="${'board_writer'}"
                    th:value="${MODEL['board_writer']}"
                  />
                  <input
                    th:type="${'hidden'}"
                    th:id="${'board_count'}"
                    th:name="${'board_count'}"
                    th:value="${MODEL['board_count']}"
                  />
                  <input
                    th:type="${'hidden'}"
                    th:id="${'board_like'}"
                    th:name="${'board_like'}"
                    th:value="${MODEL['board_like']}"
                  />
                  <input
                    th:type="${'hidden'}"
                    th:id="${'board_dislike'}"
                    th:name="${'board_dislike'}"
                    th:value="${MODEL['board_dislike']}"
                  />
                  <input
                    th:type="${'hidden'}"
                    th:id="${'board_date'}"
                    th:name="${'board_date'}"
                    th:value="${MODEL['board_date']}"
                  />
                  <input
                    th:type="${'hidden'}"
                    th:id="${'board_imgsUrl'}"
                    th:name="${'board_imgsUrl'}"
                    th:value="${MODEL['board_imgsUrl']}"
                  />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <!-- divider -->
  <th:block th:replace="~{interface/divider :: divider}" />

  <!-- button -->
  <th:block th:replace="~{interface/button :: button}" />

  <!-- footer -->
  <th:block th:replace="~{layout/footer :: footer}" />

</html>