<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- head -->
  <th:block th:replace="~{layout/head :: head}" />

  <!-- header -->
  <th:block th:replace="~{layout/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layout/navigation :: navigation}" />

  <!-- main -->
  <section class="container-fluid">
    <div class="row d-center">
      <div class="col-11 col-sm-11 col-md-10 col-lg-10 col-xl-10">
        <!-- form -->
        <form
          th:id="${'formData'}"
          th:name="${'formData'}"
          th:class="${'formData'}"
        >
          <!-- detail -->
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="border-1 radius-2 shadow-1 px-5vw py-6vh">
                <!-- title -->
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="fs-1-8rem fw-800 light-black">
                      회원 상세정보
                    </div>
                  </div>
                </div>
                <!-- hr -->
                <div class="w-100p my-3vh bg-light-grey h-1px"></div>
                <!-- ID -->
                <div class="row mb-3vh">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-left mb-2vh">
                      <div class="fs-0-9rem fw-800 mr-5px">
                        ID
                      </div>
                      <div class="fs-0-9rem fw-800 burgundy">
                        *
                      </div>
                    </div>
                    <input
                      readonly
                      th:type="${'text'}"
                      th:name="${'member_id'}"
                      th:id="${'member_id'}"
                      th:placeholder="${'ID'}"
                      th:value="${MODEL['member_id']}"
                      th:class="${'form-control'}"
                    />
                  </div>
                </div>
                <!-- PW -->
                <div class="row mb-3vh">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-left mb-2vh">
                      <div class="fs-0-9rem fw-800 light-black">
                        PW
                      </div>
                      <div class="fs-0-9rem fw-800 burgundy">
                        *
                      </div>
                    </div>
                    <input
                      readonly
                      th:type="${'password'}"
                      th:id="${'member_pw'}"
                      th:name="${'member_pw'}"
                      th:value="${MODEL['member_pw']}"
                      th:class="${'form-control'}"
                    />
                  </div>
                </div>
                <!-- name -->
                <div class="row mb-3vh">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-left mb-2vh">
                      <div class="fs-0-9rem fw-800 light-black">
                        이름
                      </div>
                      <div class="fs-0-9rem fw-800 burgundy">
                        *
                      </div>
                    </div>
                    <input
                      readonly
                      th:type="${'text'}"
                      th:id="${'member_name'}"
                      th:name="${'member_name'}"
                      th:value="${MODEL['member_name']}"
                      th:class="${'form-control'}"
                    />
                  </div>
                </div>
                <!-- phone -->
                <div class="row mb-3vh">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-left mb-2vh">
                      <div class="fs-0-9rem fw-800 light-black">
                        전화번호
                      </div>
                      <div class="fs-0-9rem fw-800 burgundy">
                        *
                      </div>
                    </div>
                    <input
                      readonly
                      th:type="${'text'}"
                      th:id="${'member_phone'}"
                      th:name="${'member_phone'}"
                      th:value="${MODEL['member_phone']}"
                      th:class="${'form-control'}"
                    />
                  </div>
                </div>
                <!-- email -->
                <div class="row mb-3vh">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-left mb-2vh">
                      <div class="fs-0-9rem fw-800 light-black">
                        이메일
                      </div>
                      <div class="fs-0-9rem fw-800 burgundy">
                        *
                      </div>
                    </div>
                    <input
                      readonly
                      th:type="${'email'}"
                      th:name="${'email_front'}"
                      th:id="${'email_front'}"
                      th:value="${MODEL['member_email']}"
                      th:class="${'form-control'}"
                    />
                  </div>
                </div>
                <!-- date -->
                <div class="row mb-3vh">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-left mb-2vh">
                      <div class="fs-0-9rem fw-800 light-black">
                        가입일
                      </div>
                      <div class="fs-0-9rem fw-800 burgundy">
                        *
                      </div>
                    </div>
                    <input
                      readonly
                      th:type="${'text'}"
                      th:name="${'member_date'}"
                      th:id="${'member_date'}"
                      th:value="${#strings.substring((MODEL['member_update'] != null ? MODEL['member_update'] : MODEL['member_date']), 0, 10)}"
                      th:class="${'form-control'}"
                    />
                  </div>
                </div>
                <!-- address -->
                <div class="row mb-3vh">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-left mb-2vh">
                      <div class="fs-0-9rem fw-800 light-black">
                        주소
                      </div>
                      <div class="fs-0-9rem fw-800 burgundy">
                        *
                      </div>
                    </div>
                    <input
                      readonly
                      th:type="${'text'}"
                      th:name="${'member_address1'}"
                      th:id="${'member_address1'}"
                      th:value="${MODEL['member_address1']}"
                      th:class="${'form-control'}"
                    />
                  </div>
                </div>
                <!-- address2 -->
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-left mb-2vh">
                      <div class="fs-0-9rem fw-800 light-black">
                        상세주소
                      </div>
                      <div class="fs-0-9rem fw-800 burgundy">
                        *
                      </div>
                    </div>
                    <input
                      readonly
                      th:type="${'text'}"
                      th:name="${'member_address2'}"
                      th:id="${'member_address2'}"
                      th:value="${MODEL['member_address2']}"
                      th:class="${'form-control'}"
                    />
                  </div>
                </div>
                <!-- hidden -->
                <div class="hidden-wrapper">
                  <input
                    th:type="${'hidden'}"
                    th:id="${'member_number'}"
                    th:name="${'member_number'}"
                    th:value="${MODEL['member_number']}"
                  />
                  <input
                    th:type="${'hidden'}"
                    th:id="${'member_update'}"
                    th:name="${'member_update'}"
                    th:value="${MODEL['member_update']}"
                  />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <!-- divider -->
  <th:block th:replace="~{interface/divider :: divider}" />

  <!-- button -->
  <th:block th:replace="~{interface/button :: button}" />

  <!-- footer -->
  <th:block th:replace="~{layout/footer :: footer}" />

</html>