<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  lang="en"
>
  <!-- head -->
  <th:block th:replace="~{layouts/head :: head}" />

  <!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- hero -->
  <section class="hero">
    <div class="hero-slider owl-carousel">
      <th:block th:each="i : ${#numbers.sequence(1, 2)}">
        <div class="hero-items set-bg" th:attr="data-setbg=@{https://storage.googleapis.com/jungho-bucket/JUNGHQLO/IMAGE/main/main-{i}.png(i=${i})}">
          <div class="container w-100p">
            <div class="row">
              <div class="col-xl-5 col-lg-7 col-md-8">
                <div class="hero-text">
                  <h6>Summer Collection</h6>
                  <h2>Summer - Fall Collections 2023</h2>
                  <p class="p">A specialist label creating luxury essentials. Ethically crafted with an unwavering commitment to exceptional quality.</p>
                  <a th:href="@{/product/getProductList}" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </th:block>
    </div>
  </main>

  <!-- product -->
  <section class="product spad">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <!-- styling -->
          <ul class="filter-controls">
            <li data-filter=".new-arrivals" class="active">Modern Styles</li>
            <li data-filter=".hot-sales">Classic Styles</li>
          </ul>
        </div>
      </div>
      <div class="row product-filter">
        <!-- recommended 1~2 -->
        <th:block th:each="i : ${#numbers.sequence(1, 2)}">
          <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
            <div class="product-item">
              <div class="product-item-pic set-bg" th:attr="data-setbg=@{https://storage.googleapis.com/jungho-bucket/JUNGHQLO/IMAGE/recommend/recommend-{i}.jpg(i=${i})}"></div>
              <div class="product-item-text">
                <h6>Modern Styles</h6>
                <!-- prevent click -->
                <a class="add-cart" href="javascript:void(0)()">Modern Styles</a>
                <h5>
                  <i class="fas fa-won-sign fa-xs"></i>
                  <span th:id="'price-' + ${i}"></span>
                </h5>
                <!-- color -->
                <div class="product-color-select">
                  <label for="pc-1"><input type="radio" id="pc-1"></label>
                  <label class="active black" for="pc-2"><input type="radio" id="pc-2"></label>
                  <label class="grey" for="pc-3"><input type="radio" id="pc-3"></label>
                </div>
              </div>
            </div>
          </div>
        </th:block>

        <!-- recommended 5~6 -->
        <th:block th:each="i : ${#numbers.sequence(5, 6)}">
          <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
            <div class="product-item">
              <div class="product-item-pic set-bg" th:attr="data-setbg=@{https://storage.googleapis.com/jungho-bucket/JUNGHQLO/IMAGE/recommend/recommend-{i}.jpg(i=${i})}"></div>
              <div class="product-item-text">
                <h6>Casual Styles</h6>
                <a class="add-cart" href="javascript:void(0)()">Casual Styles</a>
                <h5>
                  <i class="fas fa-won-sign fa-xs"></i>
                  <span th:id="'price-' + ${i}"></span>
                </h5>
                <!-- color -->
                <div class="product-color-select">
                  <label for="pc-1"><input type="radio" id="pc-1"></label>
                  <label class="active black" for="pc-2"><input type="radio" id="pc-2"></label>
                  <label class="grey" for="pc-3"><input type="radio" id="pc-3"></label>
                </div>
              </div>
            </div>
          </div>
        </th:block>
        <!-- /.col -->

      </div>
    </div>
  </main>

  <!-- instagram -->
  <section class="instagram spad mt-n3">
    <div class="container">
      <div class="row">

          <div class="col-lg-8">
            <div class="instagram-pic">
              <th:block th:each="i : ${#numbers.sequence(1, 6)}">
              <div class="instagram-pic-item set-bg" th:attr="data-setbg=@{https://storage.googleapis.com/jungho-bucket/JUNGHQLO/IMAGE/instagram3/instagram-{i}.jpg(i=${i})}"></div>
              </th:block>
            </div>
          </div>

        <div class="col-lg-4">
          <div class="instagram-text">
            <h2>Instagram</h2>
            <p class="p">
              In a quaint village by the sea, young Amelia dreamed of adventure. She spent her days exploring the shoreline, collecting seashells and watching the ships sail by.
            </p>
            <h3>#JUNGHQLO</h3>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>