<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- head -->
  <th:block th:replace="~{layouts/head :: head}" />

  <!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layouts/navigation :: navigation (icon='fas fa-bell', text1='Notice', text2='Update')}" />

  <!-- main -->
  <main class="container px-30">
    <div class="row">
      <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8">
        <!-- form -->
        <form
          th:method="|POST|"
          th:action="@{/${PAGE}/update${PAGE_UP}}"
          th:onsubmit="|update${PAGE_UP}()|"
        >
          <!-- hidden -->
          <input
            th:type="|hidden|"
            th:id="|${PAGE}_number|"
            th:name="|${PAGE}_number|"
            th:value="${${PAGE}Model.${PAGE}_number}"
          />
          <input
            th:type="|hidden|"
            th:id="|${PAGE}_writer|"
            th:name="|${PAGE}_writer|"
            th:value="${${PAGE}Model.${PAGE}_writer}"
          />
          <input
            th:type="|hidden|"
            th:id="|${PAGE}_count|"
            th:name="|${PAGE}_count|"
            th:value="${${PAGE}Model.${PAGE}_count}"
          />
          <input
            th:type="|hidden|"
            th:id="|${PAGE}_like|"
            th:name="|${PAGE}_like|"
            th:value="${${PAGE}Model.${PAGE}_like}"
          />
          <input
            th:type="|hidden|"
            th:id="|${PAGE}_dislike|"
            th:name="|${PAGE}_dislike|"
            th:value="${${PAGE}Model.${PAGE}_dislike}"
          />
          <input
            th:type="|hidden|"
            th:id="|${PAGE}_imgsUrl|"
            th:name="|${PAGE}_imgsUrl|"
            th:value="${${PAGE}Model.${PAGE}_imgsUrl}"
          />
          <!-- title -->
          <div class="row d-row-center mb-20">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="fs-1-8rem fw-800 light-black">
                공지사항 수정
              </div>
            </div>
          </div>
          <!-- title -->
          <div class="row mb-20">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="d-row-left mb-10">
                <div class="fs-0-9rem fw-800 me-5">
                  제목
                </div>
                <div class="fs-0-6rem fw-800 burgundy">
                  *
                </div>
              </div>
              <input
                th:type="|text|"
                th:name="|${PAGE}_title|"
                th:id="|${PAGE}_title|"
                th:value="${${PAGE}Model.${PAGE}_title}"
                th:class="|form-control|"
              />
            </div>
          </div>
          <!-- content -->
          <div class="row mb-20">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="d-row-left mb-10">
                <div class="fs-0-9rem fw-800 light-black">
                  내용
                </div>
                <div class="fs-0-6rem fw-800 burgundy">
                  *
                </div>
              </div>
              <textarea
                th:id="|${PAGE}_contents|"
                th:name="|${PAGE}_contents|"
                th:text="${${PAGE}Model.${PAGE}_contents}"
                th:class="|form-control|"
              ></textarea>
            </div>
          </div>
          <!-- image -->
          <div class="row mb-20">
            <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
              <div class="fs-0-9rem fw-800 light-black">
                기존 이미지
              </div>
              <div class="fs-0-6rem fw-800 burgundy">
                *
              </div>
              <img
                th:src="${${PAGE}Model.${PAGE}_imgsUrl}"
                style="width: 150px; height: 150px; border-radius: 10px; box-shadow: 0px 10px 10px rgba(0, 0.5, 0.5, 0.5)()"
                th:id="|existingImage|"
                th:name="|existingImage|"
                th:value="|existingImage|"
              />
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <div class="fs-0-9rem fw-800 light-black">
                게시물 이미지
              </div>
              <div class="fs-0-6rem fw-800 burgundy">
                *
              </div>
              <label for="imageFile">선택하기</label>
              <input
                th:type="|file|"
                th:id="|imageFile|"
                th:name="|${PAGE}_imgsFile|"
                th:class="|imageFile d-none"
                th:onchange="|junghoPreview()|"
              />
            </div>
          </div>
          <!-- preview -->
          <div class="row mb-20">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div class="preview">
                <div class="border-dark justify-content-center">
                  <h4 class="order-title mb-4"><i class="fa fa-spinner"></i>&nbsp;Preview</h4>
                  <div class="imageLoader" th:id="|imageLoader|"></div>
                  <img class="imageBox" th:id="|imageBox|"/>
                </div>
              </div>
            </div>
          </div>
          <!-- hr -->
          <hr class="mt-20 mb-20" />
          <!-- button -->
          <div class="row mb-20">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <button
                th:type="|submit|"
                th:class="|btn btn-dark w-90p|"
                th:onclick="|updateCheck()|"
              >
                수정하기
              </button>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <button
                th:type="|button|"
                th:class="|btn btn-dark w-90p|"
                th:onclick="|location.href='@{/}'|"
              >
                홈으로
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>