<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  lang="en"
>
  <!-- head -->
  <th:block th:replace="~{layouts/head :: head}" />

  <!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layouts/navigation :: navigation (icon='fas fa-bell', text1='Notice', text2='Delete')}" />

  <!-- main -->
  <main class="container px-30">
    <div class="row">
      <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8">
    <!-- form -->
    <form th:action="@{/notice/deleteNotice}" method="POST" encth:type="multipart/form-data">

      <!-- hidden -->
      <input th:type="hidden" th:name="notice_number" th:value="${noticeModel.notice_number}" th:id="notice_number"/>
      <input th:type="hidden" th:name="notice_writer" th:value="${noticeModel.notice_writer}" th:id="notice_writer" disabled readonly>

      <div class="row">
        <div class="col-lg-6 col-md-6">
          <!-- title -->
          <div class="row d-row-center mb-20">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="fs-1-8rem fw-800 light-black">게시물 삭제</h6>
          <!-- name -->
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="checkout-input">
                <p class="p">제목<span>*</span></p>
                <input th:type="text" placeholder="Title" th:name="notice_title" th:value="${noticeModel.notice_title}" th:id="notice_title" disabled readonly>
              </div>
            </div>
          </div>
          <!-- content -->
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="checkout-input">
                <p class="p">내용<span>*</span></p>
                <textarea placeholder="Contents" th:id="notice_contents" th:name="notice_contents" th:text="${noticeModel.notice_contents}" disabled readonly>
                </textarea>
              </div>
            </div>
          </div>
          <!-- image -->
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5">
              <div class="checkout-input">
              <p class="p">기존 이미지<span>*</span></p>
              <img th:src="${noticeModel.notice_imgsUrl}" style="width: 150px; height: 150px; border-radius: 10px; box-shadow: 0px 10px 10px rgba(0, 0.5, 0.5, 0.5)()" th:id="existingImage" th:name="existingImage" th:value="existingImage"
              readonly/>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="checkout-input">
                <p class="p"> 게시물 이미지<span>*</span></p>
                <label for="notice_imgsFile">선택하기</label>
                <input th:type="file" th:id="notice_imgsFile" th:name="notice_imgsFile"  style="display:none" class="imageFile" oninput="junghoPreview()" readonly disabled/>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mt-3">
              <button th:type="submit" th:onclick="return deleteCheck()" class="jungho-button">
              삭제하기
              </button>
            </div>
          </div>
        </div>
        <!-- preview -->
        <div class="col-lg-6 col-md-6 col-sm-6 ps-4">
          <div class="preview">
            <div class="border-dark justify-content-center">
              <h4 class="order-title mb-4"><i class="fa fa-spinner"></i>&nbsp;Preview</h4>
              <div class="imageLoader" th:id="imageLoader"></div>
              <img class="imageBox" th:id="imageBox"/>
            </div>
          </div>
        </div>
      </div>
    </form>
  </main>

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>