<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <!-- head -->
  <th:block th:replace="~{layouts/head :: head}" />

  <!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layouts/navigation :: navigation (icon='fas fa-bell', text1='Notice', text2='List')}" />

  <!-- main -->
  <main class="container px-30">
    <div class="row">
      <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8">
    <!-- sorting + search -->
    <div class="row mb-3 jungho-inline">
      <!-- sorting -->
      <div class="col-lg-6 col-md-6 col-sm-6 col-6">
        <div class="jungho-left">
          <i class="fas fa-sort-amount-down fa-lg"></i>&nbsp;&nbsp;
          <form th:action="@{/notice/getNoticeList}" th:method="|GET|" onchange="this.submit()">
            <select name="sort" class="form-select">
              <option value="default">정렬</option>
              <option value="titleASC">제목순(오름차순)</option>
              <option value="titleDESC">제목순(내림차순)</option>
              <option value="countASC">조회수낮은순</option>
              <option value="countDESC">조회수높은순</option>
              <option value="dateASC">오래된순</option>
              <option value="dateDESC">최신순</option>
            </select>
          </form>
        </div>
      </div>
      <!-- search -->
      <div class="col-lg-6 col-md-6 col-sm-6 col-6">
        <form id="searchForm" th:method="|GET|" th:action="@{/notice/searchNotice}">
          <div class="jungho-right">
            <select class="ft-5 fw-8 ms-2 searchSelect" th:name="|searchType" th:id="searchType|">
              <option value="title">제목</option>
              <option value="contents">내용</option>
            </select>
            <input class="form-control ft-7 fw-7 me-1 searchBar" th:type="search" th:id="|keyword" th:placeholder="|search" th:name=|"keyword|" required/>
            <i class="fas fa-search fa-lg" th:id="|searchIcon|"></i>
            <button th:type="|submit|" id="hiddenSubmit" class="hiddenSubmit"></button>
          </div>
        </form>
      </div>
    </div>

    <!-- notice list -->
    <div class="row">
      <div class="col-12">
        <div class="junghoList-card card-margin">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <!-- notice row -->
                <div class="junghoList-container" th:each="notice:${noticeList}">
                  <div class="junghoList">
                    <div class="jungho-inline">
                      <!-- image -->
                      <div class="junghoList-emp-img">
                        <img th:src="@{https://storage.googleapis.com/jungho-bucket/JUNGHQLO/IMAGE/icon/logo.png}"/>
                      </div>
                      <!-- writer -->
                      <div class="junghoList-writer">
                        <span th:text="${notice.notice_writer}"></span>
                      </div>
                    </div>
                    <!-- title -->
                    <div class="junghoList-title">
                      <a th:id="|notice_title" th:value="notice_title" th:href="@{|/notice/getNoticeDetails?notice_number=${notice.notice_number}|}" th:text="${notice.notice_title}|"></a>
                    </div>
                    <!-- content -->
                    <div class="junghoList-contents">
                      <span th:text="${#strings.abbreviate(notice.notice_contents, 20)}"
                      th:id="|notice_contents" th:value="notice_contents|"></span>
                    </div>
                    <!-- view -->
                    <div class="junghoList-count">
                      <i class="fa fa-eye"></i>&nbsp;
                      <span th:text="${notice.notice_count}" th:id="|notice_count" th:value="${notice.notice_count}|"></span>
                    </div>
                    <!-- date -->
                    <div class="junghoList-date">
                      <i class="far fa-calendar-alt fa-xs"></i>&nbsp;
                      <span th:text="${#strings.substring((notice.notice_update != null ? notice.notice_update : notice.notice_date), 0, 10)}"></span>
                    </div>
                  </div>
                </div>
                <!-- /.notice row -->

                <!-- notice button -->
                <div class="col-lg-12 md-12 sm-12">
                  <div class="jungho-center">
                    <button th:type="|button|" class="jungho-button" th:if="${session.member_id != null}" th:onclick="'location.href=\'' + @{/notice/addNotice} + '\''">
                      작성하기
                    </button>
                    <button th:type="|button|" class="jungho-button" th:if="${session.member_id == null}" th:onclick="return sessionAlert()">
                      작성하기
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- pagination -->
  <th:block th:replace="~{components/pagination :: pagination (prefix='notice', subfix='Notice')}" />

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>