<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- head -->
  <th:block th:replace="~{layouts/head :: head}" />

  <!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layouts/navigation :: navigation (icon='fas fa-bell', text1='Notice', text2='Details')}" />

  <!-- main -->
  <main class="container px-30">
    <div class="row">
      <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8">
        <!-- hidden -->
        <input
          th:type="|hidden|"
          th:id="|uniqueNumber|"
          th:name="${PAGE + '_number'}"
          th:value="${MODEL[PAGE + '_number']}"
        />
        <!-- title -->
        <div class="row d-row-center mb-20">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="fs-1-8rem fw-800 light-black">
              공지사항 상세
            </div>
          </div>
        </div>
        <!-- title -->
        <div class="row mb-20">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="d-row-left mb-10">
              <div class="fs-0-9rem fw-800 me-5">
                제목
              </div>
              <div class="fs-0-6rem fw-800 burgundy">
                *
              </div>
            </div>
            <input
              readonly
              th:type="|text|"
              th:class="|form-control|"
              th:name="${PAGE + '_title'}"
              th:id="${PAGE + '_title'}"
              th:value="${MODEL[PAGE + '_title']}"
            />
          </div>
        </div>
        <!-- writer -->
        <div class="row mb-20">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="d-row-left mb-10">
              <div class="fs-0-9rem fw-800 me-5">
                작성자
              </div>
              <div class="fs-0-6rem fw-800 burgundy">
                *
              </div>
            </div>
            <input
              readonly
              th:type="|text|"
              th:class="|form-control|"
              th:name="${PAGE + '_writer'}"
              th:id="${PAGE + '_writer'}"
              th:value="${MODEL[PAGE + '_writer']}"
            />
          </div>
        </div>
        <!-- date -->
        <div class="row mb-20">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="d-row-left mb-10">
              <div class="fs-0-9rem fw-800 me-5">
                작성일
              </div>
              <div class="fs-0-6rem fw-800 burgundy">
                *
              </div>
            </div>
            <input
              readonly
              th:type="|text|"
              th:class="|form-control|"
              th:name="${PAGE + '_date'}"
              th:id="${PAGE + '_date'}"
              th:value="${MODEL[PAGE + '_update'] != null ? MODEL[PAGE + '_update']+'(수정)' : MODEL[PAGE + '_date']+'(원글)'}"
            />
          </div>
        </div>
        <!-- count -->
        <div class="row mb-20">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="d-row-left mb-10">
              <div class="fs-0-9rem fw-800 me-5">
                조회수
              </div>
              <div class="fs-0-6rem fw-800 burgundy">
                *
              </div>
            </div>
            <input
              readonly
              th:type="|text|"
              th:class="|form-control|"
              th:name="${PAGE + '_count'}"
              th:id="${PAGE + '_count'}"
              th:value="${MODEL[PAGE + '_count']}"
            />
          </div>
        </div>
        <!-- like -->
        <div class="row mb-20">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="d-row-left mb-10">
              <div class="fs-0-9rem fw-800 me-5">
                Like
              </div>
              <div class="fs-0-6rem fw-800 burgundy">
                *
              </div>
            </div>
            <input
              readonly
              th:type="|text|"
              th:class="|form-control|"
              th:name="${PAGE + '_like'}"
              th:id="${PAGE + '_like'}"
              th:value="${MODEL[PAGE + '_like']}"
            />
          </div>
        </div>
        <!-- dislike -->
        <div class="row mb-20">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="d-row-left mb-10">
              <div class="fs-0-9rem fw-800 me-5">
                Dislike
              </div>
              <div class="fs-0-6rem fw-800 burgundy">
                *
              </div>
            </div>
            <input
              readonly
              th:type="|text|"
              th:class="|form-control|"
              th:name="${PAGE + '_dislike'}"
              th:id="${PAGE + '_dislike'}"
              th:value="${MODEL[PAGE + '_dislike']}"
            />
          </div>
        </div>
        <!-- share -->
        <div class="row mb-20">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="d-row-left mb-10">
              <div class="fs-0-9rem fw-800 me-5">
                공유
              </div>
            </div>
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
              <a class="a2a_button_kakao m-1"></a>
              <a class="a2a_button_line m-1"></a>
              <a class="a2a_button_google_gmail m-1"></a>
              <a class="a2a_button_facebook m-1"></a>
              <a class="a2a_button_twitter m-1"></a>
              <a class="a2a_button_pinterest m-1"></a>
              <a class="a2a_button_reddit m-1"></a>
              <a class="a2a_button_yahoo_mail m-1"></a>
              <a class="a2a_button_blogger m-1"></a>
              <a class="a2a_button_evernote m-1"></a>
              <a class="a2a_button_facebook_messenger m-1"></a>
              <a class="a2a_button_outlook_com m-1"></a>
            </div>
            <script th:src="@{https://static.addtoany.com/menu/page.js}"></script>
          </div>
        </div>
        <!-- hr -->
        <hr class="mt-20 mb-20" />
        <!-- content -->
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <textarea
              th:class="|form-control|"
              th:id="${PAGE + '_contents'}"
              th:name="${PAGE + '_contents'}"
              th:text="${MODEL[PAGE + '_contents']}"
            ></textarea>
          </div>
        </div>
        <!-- hr -->
        <hr class="mt-20 mb-20" />
        <!-- button -->
        <div class="row mb-20">
          <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <button
              th:type="|submit|"
              th:class="|btn btn-dark w-90p|"
              th:onclick="|updateCheck()|"
            >
              수정
            </button>
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <button
              th:type="|submit|"
              th:class="|btn btn-danger w-90p|"
              th:onclick="|deleteCheck()|"
            >
              삭제
            </button>
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <button
              th:type="|submit|"
              th:class="|btn btn-secondary w-90p|"
              th:onclick="|location.href='| + @{${'/'+PAGE+'/get'+PAGE_UP+'List'}} + |'|"
            >
              목록
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- fake pagination -->
  <th:block th:replace="~{components/pagination :: fake-pagination}" />

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>