<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- head -->
  <th:block th:replace="~{layouts/head :: head}" />

  <!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layouts/navigation :: navigation (icon='fas fa-bell', text1='Notice', text2='${PAGE_UP}')}" />

  <!-- main -->
  <main class="container px-30">
    <div class="row">
      <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8">
        <!-- title -->
        <div class="row d-row-center mb-20">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="fs-1-8rem fw-800 light-black">
              공지사항
            </div>
          </div>
        </div>
        <!-- sort & search -->
        <div class="row mb-20">
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <form
              th:method="|GET|"
              th:action="@{${'/'+PAGE+'/get'+PAGE_UP+'List'}}"
              th:onchange="|this.submit()|"
              th:class="|d-row-left w-90p|"
            >
              <i
                th:id="|sortIcon|"
                th:class="|fas fa-sort-amount-down fa-lg me-10|"
              ></i>
              <select name="sort" class="form-control">
                <option value="default">정렬</option>
                <option value="titleASC">제목순(오름차순)</option>
                <option value="titleDESC">제목순(내림차순)</option>
                <option value="countASC">조회수낮은순</option>
                <option value="countDESC">조회수높은순</option>
                <option value="dateASC">오래된순</option>
                <option value="dateDESC">최신순</option>
              </select>
            </form>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <form
              th:id="|searchForm|"
              th:method="|GET|"
              th:action="@{${'/'+PAGE+'/search'+PAGE_UP}}"
              th:class="|d-row-right|"
            >
              <select class="form-control" name="searchType">
                <option value="title">제목</option>
                <option value="contents">내용</option>
              </select>
              <input
                th:type="|search|"
                th:id="|keyword|"
                th:name="|keyword|"
                th:placeholder="|search|"
                th:class="|form-control|"
              />
              <i
                th:id="|searchIcon|"
                th:class="|fas fa-search fa-lg ms-10|"
              ></i>
              <button
                th:type="|submit|"
                th:id="|hiddenSubmit|"
                th:name="|hiddenSubmit|"
                th:class="|hiddenSubmit d-none|"
              ></button>
            </form>
          </div>
        </div>
        <!-- notice list -->
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <th:block
              th:each="
                LIST: ${LIST}
              "
              th:with="
                number = |${PAGE}_number|,
                title = |${PAGE}_title|,
                contents = |${PAGE}_contents|,
                date = |${PAGE}_date|,
                update = |${PAGE}_update|,
                count = |${PAGE}_count|,
                getDetails = |/${PAGE}/get${PAGE_UP}Details|
              "
            >
              <div class="d-col-center border-1 radius-2 shadow-1 p-30 mb-20">
                <!-- logo + title -->
                <div class="d-row-left w-100p mb-20">
                  <img
                    th:src="@{|${STORAGE}/icon/logo.png|}"
                    th:loading="|lazy|"
                    th:alt="|logo|"
                    th:width="|30px|"
                    th:height="|30px|"
                    th:class="|radius-2 me-10|"
                  />
                  <div
                    th:id="|${title}|"
                    th:name="|${title}|"
                    th:value="|${LIST[title]}|"
                    th:text="|${LIST[title]}|"
                    th:class="|fs-1-2rem fw-700 burgundy hover|"
                    th:onclick="|location.href='@{|${getDetails}?${number}=${LIST[number]}|}'|"
                  >
                  </div>
                  <div
                    th:id="|${number}|"
                    th:name="|${number}|"
                    th:value="|${LIST[number]}|"
                    th:text="|${LIST[number]}|"
                    th:class="|fs-0-9rem fw-600 grey ms-auto|"
                  >
                  </div>
                </div>
                <!-- contents -->
                <div class="d-row-left w-100p mb-30">
                  <div
                    th:id="|${contents}|"
                    th:name="|${contents}|"
                    th:value="|${LIST[contents]}|"
                    th:text="|${#strings.abbreviate((LIST[contents]), 40)}|"
                    th:class="|fs-0-9rem fw-600 light-black|"
                  >
                  </div>
                </div>
                <!-- date & view count -->
                <div class="d-row-between w-100p">
                  <div class="d-row-center">
                    <i th:class="|fa fa-calendar fs-0-7rem me-10|"></i>
                    <div
                      th:id="|${date}|"
                      th:name="|${date}|"
                      th:value="|${LIST[date]}|"
                      th:class="|fs-0-9rem fw-600 dark|"
                      th:text="|${#strings.substring((LIST[update] != null ? LIST[update] : LIST[date]), 0, 10)}|"
                    >
                    </div>
                  </div>
                  <div class="d-row-center">
                    <i th:class="|fa fa-eye fs-0-7rem me-10|"></i>
                    <div
                      th:id="|${count}|"
                      th:name="|${count}|"
                      th:value="|${LIST[count]}|"
                      th:text="|${LIST[count]}|"
                      th:class="|fs-0-9rem fw-600 dark|"
                    >
                    </div>
                  </div>
                </div>
              </div>
            </th:block>
          </div>
        </div>
        <!-- hr -->
        <hr class="mt-20 mb-20" />
        <!-- button -->
        <div class="row d-row-center">
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <button
              th:type="|button|"
              th:class="|btn btn-dark w-90p|"
              th:if="|${session.member_id != null}|"
              th:onclick="|location.href='@{|/${PAGE}/add${PAGE_UP}|}'|"
            >
              공지사항 추가
            </button>
            <button
              th:type="|button|"
              th:class="|btn btn-dark w-90p|"
              th:if="|${session.member_id == null}|"
              th:onclick="|return sessionAlert()|"
            >
              공지사항 추가
            </button>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <button
              th:type="|button|"
              th:class="|btn btn-dark w-90p|"
              th:onclick="|location.href='@{/}'|"
            >
              홈으로
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- pagination -->
  <th:block th:replace="~{components/pagination :: pagination (
    prefix = ${PAGE},
    suffix = ${PAGE_UP}
  )}" />

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>