<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- head -->
  <th:block th:replace="~{layouts/head :: head}" />

  <!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layouts/navigation :: navigation}" />

  <!-- main -->
  <section class="container-fluid px-30">
    <div class="row d-center">
      <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8">
        <!-- form -->
        <form
          th:id="${'formData'}"
          th:name="${'formData'}"
          th:class="${'formData'}"
        >
          <div class="row">
            <!-- shop-sidebar -->
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
              <div class="shop-sidebar">
                <!-- categories -->
                <div class="shop-sidebar-accordion">
                  <div class="accordion" id="accordion">
                    <div class="card">
                      <div class="card-heading">
                        <a data-toggle="collapse" data-target="#collapseOne">
                          <i class="fas fa-list-ul"></i>
                          &nbsp;&nbsp;&nbsp;Categories&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <i class="fas fa-sort-down"></i>
                        </a>
                      </div>
                      <div id="collapseOne">
                        <div class="card-body">
                          <div class="shop-sidebar-tags">
                            <a th:href="@{|/product/listProduct|}">All</a>
                            <a th:href="@{|/product/categoryProduct?category=top|}">Top</a>
                            <a th:href="@{|/product/categoryProduct?category=bottom|}">Bottom</a>
                            <a th:href="@{|/product/categoryProduct?category=shoes|}">Shoes</a>
                            <a th:href="@{|/product/categoryProduct?category=acc|}">Acc</a>
                            <a th:href="@{|/product/categoryProduct?category=bag|}">Bag</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- sort -->
                <div class="shop-sidebar-accordion">
                  <div class="accordion" id="accordion">
                    <div class="card">
                      <div class="card-heading">
                        <a data-toggle="collapse" data-target="#collapseTwo">
                          <i class="fas fa-list-ul"></i>
                          &nbsp;&nbsp;&nbsp;Sort&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <i class="fas fa-sort-down"></i>
                        </a>
                      </div>
                      <div id="collapseTwo">
                        <div class="card-body">
                          <div class="shop-sidebar-tags">
                            <a th:href="@{|/product/listProduct?sort=nameASC|}">
                            Name&nbsp;&nbsp;&nbsp;<i class="fas fa-long-arrow-alt-up"></i></a>
                            <a th:href="@{|/product/listProduct?sort=nameDESC|}">
                            Name&nbsp;&nbsp;&nbsp;<i class="fas fa-long-arrow-alt-down"></i></a>
                            <a th:href="@{|/product/listProduct?sort=priceASC|}">
                            Price&nbsp;&nbsp;&nbsp;<i class="fas fa-long-arrow-alt-up"></i></a>
                            <a th:href="@{|/product/listProduct?sort=priceDESC|}">
                            Price&nbsp;&nbsp;&nbsp;<i class="fas fa-long-arrow-alt-down"></i></a>
                            <a th:href="@{|/product/listProduct?sort=dateASC|}">
                            Date&nbsp;&nbsp;&nbsp;  <i class="fas fa-long-arrow-alt-up"></i></a>
                            <a th:href="@{|/product/listProduct?sort=dateDESC|}">
                            Date&nbsp;&nbsp;&nbsp;  <i class="fas fa-long-arrow-alt-down"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- size -->
                <div class="shop-sidebar-accordion">
                  <div class="accordion" id="accordion">
                    <div class="card">
                      <div class="card-heading">
                        <a data-toggle="collapse" data-target="#collapseThree">
                          <i class="fas fa-list-ul"></i>
                          &nbsp;&nbsp;&nbsp;Size&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <i class="fas fa-sort-down"></i>
                        </a>
                      </div>
                      <div id="collapseThree">
                        <div class="card-body">
                          <div class="shop-sidebar-size">
                            <label for="xs">xs<input th:type="${'radio'}" th:id="${'xs'}"></label>
                            <label for="sm">s<input th:type="${'radio'}" th:id="${'sm'}"></label>
                            <label for="md">m<input th:type="${'radio'}" th:id="${'md'}"></label>
                            <label for="xl">xl<input th:type="${'radio'}" th:id="${'xl'}"></label>
                            <label for="2xl">2xl<input th:type="${'radio'}" th:id="${'2xl'}"></label>
                            <label for="xxl">xxl<input th:type="${'radio'}" th:id="${'xxl'}"></label>
                            <label for="3xl">3xl<input th:type="${'radio'}" th:id="${'3xl'}"></label>
                            <label for="4xl">4xl<input th:type="${'radio'}" th:id="${'4xl'}"></label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- color -->
                <div class="shop-sidebar-accordion">
                  <div class="accordion" id="accordion">
                    <div class="card">
                      <div class="card-heading">
                        <a data-toggle="collapse" data-target="#collapseFour">
                          <i class="fas fa-list-ul"></i>
                          &nbsp;&nbsp;&nbsp;Colors&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <i class="fas fa-sort-down"></i>
                        </a>
                      </div>
                      <div id="collapseFour">
                        <div class="card-body">
                          <div class="shop-sidebar-color">
                            <label class="c-1" for="sp-1"><input th:type="${'radio'}" th:id="${'sp-1'}"></label>
                            <label class="c-2" for="sp-2"><input th:type="${'radio'}" th:id="${'sp-2'}"></label>
                            <label class="c-3" for="sp-3"><input th:type="${'radio'}" th:id="${'sp-3'}"></label>
                            <label class="c-4" for="sp-4"><input th:type="${'radio'}" th:id="${'sp-4'}"></label>
                            <label class="c-5" for="sp-5"><input th:type="${'radio'}" th:id="${'sp-5'}"></label>
                            <label class="c-6" for="sp-6"><input th:type="${'radio'}" th:id="${'sp-6'}"></label>
                            <label class="c-7" for="sp-7"><input th:type="${'radio'}" th:id="${'sp-7'}"></label>
                            <label class="c-8" for="sp-8"><input th:type="${'radio'}" th:id="${'sp-8'}"></label>
                            <label class="c-9" for="sp-9"><input th:type="${'radio'}" th:id="${'sp-9'}"></label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- list -->
            <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
              <div class="row">
                <th:block th:each="LIST : ${LIST}">
                  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 p-50">
                    <div class="border-1 radius-2 shadow-3 w-200 h-200 object-cover">
                      <div
                        th:id="${'product-bg'}"
                        th:name="${'product-bg'}"
                        th:class="${'radius-1 z-100'}"
                        th:attr="product-bg=@{|${STORAGE}/${page}/${LIST['product_imgsUrl']}|}"
                      >
                      </div>
                      <div class="product-hover">
                        <div class="d-row-center ms-10 mb-10">
                          <i class="far fa-heart light-black me-10"></i>
                          <div
                            th:id="${'like'}"
                            th:name="${'like'}"
                            th:class="${'fs-0-7rem fw-600 light-black'}"
                          >
                            Like
                          </div>
                        </div>
                        <div class="d-row-center ms-10 mb-10">
                          <i class="fas fa-exchange-alt light-black me-10"></i>
                          <div
                            th:id="${'compare'}"
                            th:name="${'compare'}"
                            th:class="${'fs-0-7rem fw-600 light-black'}"
                          >
                            Compare
                          </div>
                        </div>
                        <div class="d-row-center ms-10">
                          <i class="fas fa-search light-black me-10"></i>
                          <div
                            th:id="${'view'}"
                            th:name="${'view'}"
                            th:class="${'fs-0-7rem fw-600 light-black'}"
                            th:onclick="goDetail([[${LIST['product_number']}]])"
                          >
                            View
                          </div>
                        </div>
                      </div>
                      <div class="product-item-text">
                        <div
                          th:id="${'product_name'}"
                          th:name="${'product_name'}"
                          th:class="${'fs-1-0rem fw-700 light-black'}"
                          th:text="${#strings.abbreviate(LIST['product_name'], 20)}"
                        >
                        </div>
                        <a
                          th:href="@{|/product/detailProduct?product_number=${LIST['product_number']}|}"
                          class="save-cart"
                        >
                          + Buy
                        </a>
                        <div
                          th:id="${'product_company'}"
                          th:name="${'product_company'}"
                          th:class="${'fs-0-7rem fw-600 dark-grey'}"
                          th:text="${LIST['product_company']}"
                        >
                        </div>
                        <div
                          th:id="${'product_price'}"
                          th:name="${'product_price'}"
                          th:class="${'fs-0-9rem fw-600 dark-grey'}"
                          th:text="${LIST['product_price']}"
                        >
                        </div>
                      </div>
                    </div>
                  </div>
                </th:block>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <!-- script -->
  <script defer>
    // product-bg 이미지 삽입
    const productBg = document.querySelectorAll('[product-bg]');
    productBg.forEach((bg) => {
      const bgUrl = bg.getAttribute('product-bg');
      bg.style.backgroundImage = `url(${bgUrl})`;
      bg.style.width = '100%';
      bg.style.height = '100%';
      bg.style.backgroundSize = 'cover';
      bg.style.backgroundPosition = 'center';
    });
    // product-hover 호버했을때 효과
    const productItemHover = document.querySelectorAll('.product-hover');
    productItemHover.forEach((el) => {
      el.style.position = 'absolute';
      el.style.width = '100%';
      el.style.height = '50%';
      el.style.top = '25%';
      el.style.backgroundColor = 'rgba(0, 0, 0, 0.5)';
    });
    productItemHover.forEach((el) => {
      el.addEventListener('mouseover', () => {
        el.style.display = 'block';
      });
      el.addEventListener('mouseout', () => {
        el.style.display = 'none';
      });
    });
  </script>

  <!-- hr -->
  <th:block th:replace="~{components/divider :: divider}" />

  <!-- sorting -->
  <th:block th:replace="~{components/sorting :: sorting}" />

  <!-- hr -->
  <th:block th:replace="~{components/divider :: divider}" />

  <!-- button -->
  <th:block th:replace="~{components/button :: button}" />

  <!-- hr -->
  <th:block th:replace="~{components/divider :: divider}" />

  <!-- pagination -->
  <th:block th:replace="~{components/pagination :: pagination}" />

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>