<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  lang="en"
>
  <!-- head -->
  <th:block th:replace="~{layouts/head :: head}" />

  <!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layouts/navigation :: navigation (icon='fas fa-shopping-bag', text1='Shop', text2='Search')}" />

  <!-- main -->
  <main class="container">
    <div class="row">

      <!-- side bar -->
      <div class="col-lg-3 d-none d-lg-block">
        <div class="shop-sidebar">

          <!-- categories -->
          <div class="shop-sidebar-accordion">
            <div class="accordion" id="accordion">
              <div class="card">
                <div class="card-heading">
                  <a data-toggle="collapse" data-target="#collapseOne">
                  <i class="fas fa-list-ul"></i>&nbsp;&nbsp;&nbsp;
                  Categories &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-sort-down"></i>
                  </a>
                </div>
                <div id="collapseOne">
                  <div class="card-body">
                    <div class="shop-sidebar-tags">
                      <a th:href="@{/product/getProductList}">All</a>
                      <a th:href="@{/product/getProductCategory?category=top}">Top</a>
                      <a th:href="@{/product/getProductCategory?category=bottom}">Bottom</a>
                      <a th:href="@{/product/getProductCategory?category=shoes}">Shoes</a>
                      <a th:href="@{/product/getProductCategory?category=acc}">Acc</a>
                      <a th:href="@{/product/getProductCategory?category=bag}">Bag</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- sort -->
          <div class="shop-sidebar-accordion">
            <div class="accordion" id="accordion">
              <div class="card">
                <div class="card-heading">
                  <a data-toggle="collapse" data-target="#collapseTwo">
                  <i class="fas fa-list-ul"></i>&nbsp;&nbsp;&nbsp;
                  Sort &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-sort-down"></i>
                  </a>
                </div>
                <div id="collapseTwo">
                  <div class="card-body">
                    <div class="shop-sidebar-tags">
                      <a th:href="@{/product/getProductList?sort=nameASC}">
                      Name&nbsp;&nbsp;&nbsp;<i class="fas fa-long-arrow-alt-up"></i></a>
                      <a th:href="@{/product/getProductList?sort=nameDESC}">
                      Name&nbsp;&nbsp;&nbsp;<i class="fas fa-long-arrow-alt-down"></i></a>
                      <a th:href="@{/product/getProductList?sort=priceASC}">
                      Price&nbsp;&nbsp;&nbsp;<i class="fas fa-long-arrow-alt-up"></i></a>
                      <a th:href="@{/product/getProductList?sort=priceDESC}">
                      Price&nbsp;&nbsp;&nbsp;<i class="fas fa-long-arrow-alt-down"></i></a>
                      <a th:href="@{/product/getProductList?sort=dateASC}">
                      Date&nbsp;&nbsp;&nbsp;  <i class="fas fa-long-arrow-alt-up"></i></a>
                      <a th:href="@{/product/getProductList?sort=dateDESC}">
                      Date&nbsp;&nbsp;&nbsp;  <i class="fas fa-long-arrow-alt-down"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- size -->
          <div class="shop-sidebar-accordion">
            <div class="accordion" id="accordion">
              <div class="card">
                <div class="card-heading">
                  <a data-toggle="collapse" data-target="#collapseThree">
                  <i class="fas fa-list-ul"></i>&nbsp;&nbsp;&nbsp;
                  Size &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-sort-down"></i>
                  </a>
                </div>
                <div id="collapseThree">
                  <div class="card-body">
                    <div class="shop-sidebar-size">
                      <label for="xs">xs<input type="radio" id="xs"></label>
                      <label for="sm">s<input type="radio" id="sm"></label>
                      <label for="md">m<input type="radio" id="md"></label>
                      <label for="xl">xl<input type="radio" id="xl"></label>
                      <label for="2xl">2xl<input type="radio" id="2xl"></label>
                      <label for="xxl">xxl<input type="radio" id="xxl"></label>
                      <label for="3xl">3xl<input type="radio" id="3xl"></label>
                      <label for="4xl">4xl<input type="radio" id="4xl"></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- color -->
          <div class="shop-sidebar-accordion">
            <div class="accordion" id="accordion">
              <div class="card">
                <div class="card-heading">
                  <a data-toggle="collapse" data-target="#collapseFour">
                  <i class="fas fa-list-ul"></i>&nbsp;&nbsp;&nbsp;
                  Colors &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-sort-down"></i>
                  </a>
                </div>
                <div id="collapseFour">
                  <div class="card-body">
                    <div class="shop-sidebar-color">
                      <label class="c-1" for="sp-1"><input type="radio" id="sp-1"></label>
                      <label class="c-2" for="sp-2"><input type="radio" id="sp-2"></label>
                      <label class="c-3" for="sp-3"><input type="radio" id="sp-3"></label>
                      <label class="c-4" for="sp-4"><input type="radio" id="sp-4"></label>
                      <label class="c-5" for="sp-5"><input type="radio" id="sp-5"></label>
                      <label class="c-6" for="sp-6"><input type="radio" id="sp-6"></label>
                      <label class="c-7" for="sp-7"><input type="radio" id="sp-7"></label>
                      <label class="c-8" for="sp-8"><input type="radio" id="sp-8"></label>
                      <label class="c-9" for="sp-9"><input type="radio" id="sp-9"></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- sorting + search -->
      <div class="col-lg-9">
        <div class="shop-product-option">
          <div class="row mb-3">
            <!-- sorting -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-6 mb-2">
              <div class="jungho-left">
                <i class="fas fa-sort-amount-down fa-lg"></i>&nbsp;&nbsp;
                <form th:action="@{/product/getProductList}" method="GET" onchange="this.submit()" th:id="searchForm">
                  <select name="sort" class="form-select">
                    <option value="default">정렬</option>
                    <option value="nameASC">이름순(오름차순)</option>
                    <option value="nameDESC">이름순(내림차순)</option>
                    <option value="priceASC">가격낮은순</option>
                    <option value="priceDESC">가격높은순</option>
                    <option value="dateASC">오래된순</option>
                    <option value="dateDESC">최신순</option>
                  </select>
                </form>
              </div>
            </div>
            <!-- search -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
              <form id="searchForm" method="GET" th:action="@{/product/searchProduct}">
                <div class="jungho-right">
                  <select class="ft-5 fw-8 ms-2 searchSelect" th:name="searchType" th:id="searchType">
                    <option value="name">Name</option>
                    <option value="details">Details</option>
                  </select>
                  <input class="form-control ft-7 fw-7 me-1 searchBar" type="search" th:id="keyword" placeholder="search" th:name="keyword" required/>
                  <i class="fas fa-search fa-lg" th:id="searchIcon"></i>
                  <button type="submit" id="hiddenSubmit" class="hiddenSubmit"></button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- row -->
        <div class="row">
          <th:block th:each="product:${productList}">
            <!-- col 1 -->
            <div class="col-lg-4 col-md-6 col-sm-6 mix new-arrivals">
              <div class="product-item">
                <!-- 이미지 -->
                <div class="product-item-pic set-bg" th:attr="data-setbg=@{${product.product_imgsUrl1}}">
                  <ul class="product-hover">
                    <li><a th:href="@{/your_link_here}">
                    <img th:src="@{https://storage.googleapis.com/jungho-bucket/JUNGHQLO/IMAGE/icon/heart.png}"/><span>Like</span>
                    </a></li>
                    <li><a th:href="@{/your_link_here}">
                    <img th:src="@{https://storage.googleapis.com/jungho-bucket/JUNGHQLO/IMAGE/icon/compare.png}"/><span>Compare</span>
                    </a></li>
                    <li><a th:href="@{|/product/getProductDetails?product_number=${product.product_number}|}"><img th:src="@{https://storage.googleapis.com/jungho-bucket/JUNGHQLO/IMAGE/icon/search.png}"/><span>View more</span>
                    </a></li>
                  </ul>
                </div>
                <div class="product-item-text">
                  <div class="jungho-inline">
                    <!-- 이름 -->
                    <h6 th:value="product_name" th:id="product_name" th:href="@{|/product/getProductDetails?product_number=${product.product_number}|}" th:text="${product.product_name}"></h6>
                    <!-- 구매 -->
                    <a th:href="@{|/product/getProductDetails?product_number=${product.product_number}|}" class="add-cart">+ 구매</a>
                    <!-- 회사 -->
                    <h6 th:text="${product.product_company}" th:id="product_company" th:value="product_company"></h6>
                  </div>
                  <div class="jungho-inline">
                    <!-- 가격 -->
                    <h5 th:text="'₩  ' +${#numbers.formatInteger(product.product_price, 3, 'COMMA')}" th:id="product_price" th:value="product_price"></h5>
                  </div>
                </div>
              </div>
            </div>
          </th:block>
        </div>
      </div>
    </div>
  </main>

  <!-- pagination -->
  <th:block th:replace="~{components/pagination :: pagination (prefix='product', subfix='Product')}" />

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>