<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- head -->
  <th:block th:replace="~{layouts/head :: head}" />

  <!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layouts/navigation :: navigation}" />

  <!-- main -->
  <section class="container-fluid">
    <div class="row d-center">
      <div class="col-11 col-sm-11 col-md-10 col-lg-9 col-xl-8">
        <!-- form -->
        <form
          th:id="${'formData'}"
          th:name="${'formData'}"
          th:class="${'formData'}"
        >
          <!-- detail -->
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="border-1 radius-2 shadow-1 px-5vw py-6vh">
                <!-- name -->
                <div class="row mb-3vh">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-left mb-2vh">
                      <div class="fs-0-9rem fw-800">
                        상품명
                      </div>
                      <div class="fs-0-9rem fw-800 burgundy ms-5">
                        *
                      </div>
                    </div>
                    <div class="d-row-left">
                      <input
                        th:type="${'text'}"
                        th:id="${'product_name'}"
                        th:name="${'product_name'}"
                        th:class="${'form-control'}"
                        th:value="${MODEL['product_name']}"
                      />
                    </div>
                  </div>
                </div>
                <!-- price -->
                <div class="row mb-3vh">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-left mb-2vh">
                      <div class="fs-0-9rem fw-800 light-black">
                        가격
                      </div>
                      <div class="fs-0-9rem fw-800 burgundy ms-5">
                        *
                      </div>
                    </div>
                    <div class="d-row-left">
                      <input
                        th:type="${'text'}"
                        th:id="${'product_price'}"
                        th:name="${'product_price'}"
                        th:class="${'form-control'}"
                        th:value="${MODEL['product_price']}"
                      />
                    </div>
                  </div>
                </div>
                <!-- stock -->
                <div class="row mb-3vh">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-left mb-2vh">
                      <div class="fs-0-9rem fw-800 light-black">
                        재고
                      </div>
                      <div class="fs-0-9rem fw-800 burgundy ms-5">
                        *
                      </div>
                    </div>
                    <div class="d-row-left">
                      <input
                        th:type="${'text'}"
                        th:id="${'product_stock'}"
                        th:name="${'product_stock'}"
                        th:class="${'form-control'}"
                        th:value="${MODEL['product_stock']}"
                      />
                    </div>
                  </div>
                </div>
                <!-- brand -->
                <div class="row mb-3vh">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-left mb-2vh">
                      <div class="fs-0-9rem fw-800 light-black">
                        제조사
                      </div>
                      <div class="fs-0-9rem fw-800 burgundy ms-5">
                        *
                      </div>
                    </div>
                    <div class="d-row-left">
                      <input
                        th:type="${'text'}"
                        th:id="${'product_brand'}"
                        th:name="${'product_brand'}"
                        th:class="${'form-control'}"
                        th:value="${MODEL['product_brand']}"
                      />
                    </div>
                  </div>
                </div>
                <!-- category -->
                <div class="row mb-3vh">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-left mb-2vh">
                      <div class="fs-0-9rem fw-800 light-black">
                        카테고리
                      </div>
                      <div class="fs-0-9rem fw-800 burgundy ms-5">
                        *
                      </div>
                    </div>
                    <div class="d-row-left">
                      <select
                        th:id="${'product_category'}"
                        th:name="${'product_category'}"
                        th:class="${'form-control'}"
                      >
                        <option
                          th:id="${'option-outer'}"
                          th:name="${'option-outer'}"
                          th:value="${'outer'}"
                          th:selected="${MODEL['product_category'] == 'outer'}"
                        >
                          아우터
                        </option>
                        <option
                          th:id="${'option-top'}"
                          th:name="${'option-top'}"
                          th:value="${'top'}"
                          th:selected="${MODEL['product_category'] == 'top'}"
                        >
                          상의
                        </option>
                        <option
                          th:id="${'option-bottom'}"
                          th:name="${'option-bottom'}"
                          th:value="${'bottom'}"
                          th:selected="${MODEL['product_category'] == 'bottom'}"
                        >
                          하의
                        </option>
                        <option
                          th:id="${'option-shoes'}"
                          th:name="${'option-shoes'}"
                          th:value="${'shoes'}"
                          th:selected="${MODEL['product_category'] == 'shoes'}"
                        >
                          신발
                        </option>
                        <option
                          th:id="${'option-bag'}"
                          th:name="${'option-bag'}"
                          th:value="${'bag'}"
                          th:selected="${MODEL['product_category'] == 'bag'}"
                        >
                          가방
                        </option>
                        <option
                          th:id="${'option-acc'}"
                          th:name="${'option-acc'}"
                          th:value="${'acc'}"
                          th:selected="${MODEL['product_category'] == 'acc'}"
                        >
                          악세사리
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <!-- origin -->
                <div class="row mb-3vh">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-left mb-2vh">
                      <div class="fs-0-9rem fw-800 light-black">
                        원산지
                      </div>
                      <div class="fs-0-9rem fw-800 burgundy ms-5">
                        *
                      </div>
                    </div>
                    <div class="d-row-left">
                      <select
                        th:id="${'product_origin'}"
                        th:name="${'product_origin'}"
                        th:class="${'form-control'}"
                      >
                        <option
                          th:id="${'option-ko'}"
                          th:name="${'option-ko'}"
                          th:value="${'ko'}"
                          th:selected="${MODEL['product_origin'] == 'ko'}"
                        >
                          한국
                        </option>
                        <option
                          th:id="${'option-ch'}"
                          th:name="${'option-ch'}"
                          th:value="${'ch'}"
                          th:selected="${MODEL['product_origin'] == 'ch'}"
                        >
                          중국
                        </option>
                        <option
                          th:id="${'option-jp'}"
                          th:name="${'option-jp'}"
                          th:value="${'jp'}"
                          th:selected="${MODEL['product_origin'] == 'jp'}"
                        >
                          일본
                        </option>
                        <option
                          th:id="${'option-us'}"
                          th:name="${'option-us'}"
                          th:value="${'us'}"
                          th:selected="${MODEL['product_origin'] == 'us'}"
                        >
                          미국
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <!-- detail -->
                <div class="row mb-3vh">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-left mb-2vh">
                      <div class="fs-0-9rem fw-800 light-black">
                        상품 상세설명
                      </div>
                      <div class="fs-0-9rem fw-800 burgundy ms-5">
                        *
                      </div>
                    </div>
                    <div class="d-row-left">
                      <textarea
                        th:id="${'product_detail'}"
                        th:name="${'product_detail'}"
                        th:class="${'form-control'}"
                        th:value="${MODEL['product_detail']}"
                        th:text="${MODEL['product_detail']}"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <!-- image new -->
                <div class="row mb-3vh">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-left mb-2vh">
                      <div class="fs-0-9rem fw-800 light-black">
                        이미지
                      </div>
                      <div
                        th:id="${'imgsLabel'}"
                        th:name="${'imgsLabel'}"
                        th:class="${'imgsLabel fs-0-9rem fw-800 burgundy ms-10 pointer'}"
                        th:onclick="createImgs()"
                      >
                        선택하기 *
                      </div>
                    </div>
                    <div class="d-row-center">
                      <div
                        th:id="${'imgsContainer'}"
                        th:name="${'imgsContainer'}"
                        th:data-limit="${'2'}"
                        th:class="${'imgsContainer w-100p h-min100 p-20 border-1 radius-1'}"
                      ></div>
                      <div
                        th:id="${'inputContainer'}"
                        th:name="${'inputContainer'}"
                        th:class="${'inputContainer d-none'}"
                      ></div>
                    </div>
                  </div>
                </div>
                <!-- image existing -->
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-col-left">
                      <div
                        th:each="image,iterStat:${#strings.arraySplit(MODEL['product_imgsUrl'],',')}"
                        th:class="${'d-row-between w-80p'}"
                        th:classappend="${iterStat.last ? '' : 'mb-2vh'}"
                      >
                        <div class="d-row-center">
                          <img
                            th:src="@{|${STORAGE}/${page}/${image}|}"
                            th:loading="${'lazy'}"
                            th:id="${'existingImgs_' + image}"
                            th:name="${'existingImgs_' + image}"
                            th:class="${'w-30 h-30 radius-1'}"
                          />
                          <div
                            th:id="${'existingName_' + image}"
                            th:name="${'existingName_' + image}"
                            th:class="${'fs-0-8rem fw-600 grey ms-10'}"
                            th:text="${#strings.abbreviate(image, 20)}"
                          ></div>
                        </div>
                        <div class="d-row-center">
                          <div
                            th:id="${'existingDelete_' + image}"
                            th:name="${'existingDelete_' + image}"
                            th:class="${'fs-1-0rem fw-600 burgundy pointer'}"
                            th:text="${'X'}"
                            th:onclick="deleteExistingImgs([[${image}]])"
                          ></div>
                        <div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- hidden -->
                <div class="hidden-wrapper">
                  <input
                    th:type="${'hidden'}"
                    th:id="${'product_number'}"
                    th:name="${'product_number'}"
                    th:value="${MODEL['product_number']}"
                  />
                  <input
                    th:type="${'hidden'}"
                    th:id="${'sessionId'}"
                    th:name="${'sessionId'}"
                    th:value="${session.member_id}"
                  />
                  <input
                    th:type="${'hidden'}"
                    th:id="${'product_stripe_id'}"
                    th:name="${'product_stripe_id'}"
                    th:value="${MODEL['product_stripe_id']}"
                  />
                  <input
                    th:type="${'hidden'}"
                    th:id="${'product_stripe_price'}"
                    th:name="${'product_stripe_price'}"
                    th:value="${MODEL['product_stripe_price']}"
                  />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <!-- divider -->
  <th:block th:replace="~{components/divider :: divider}" />

  <!-- button -->
  <th:block th:replace="~{components/button :: button}" />

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>