<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- head -->
  <th:block th:replace="~{layouts/head :: head}" />

  <!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layouts/navigation :: navigation}" />

  <!-- main -->
  <section class="container-fluid">
    <div class="row d-center">
      <div class="col-11 col-sm-11 col-md-10 col-lg-9 col-xl-8">
        <!-- form -->
        <form
          th:id="${'formData'}"
          th:name="${'formData'}"
          th:class="${'formData'}"
        >
          <!-- detail -->
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <!-- image -->
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-col-center">
                  <img
                    th:each="image : ${#strings.arraySplit(MODEL['product_imgsUrl'], ',')}"
                    th:src="@{|${STORAGE}/${page}/${image}|}"
                    th:loading="${'lazy'}"
                    th:alt="${'image'}"
                    th:class="${'w-100p w-max600 border-1 radius-1 shadow-1'}"
                  />
                </div>
              </div>
              <!-- hr -->
              <hr class="mt-30 mb-20 bg-light-grey" />
              <!-- name -->
              <div class="row px-20 mb-20">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-row-center">
                  <div
                    th:id="${'product_name'}"
                    th:name="${'product_name'}"
                    th:text="${MODEL['product_name']}"
                    th:class="${'fs-1-7rem fw-600 light-black'}"
                  >
                  </div>
                </div>
              </div>
              <!-- price && brand -->
              <div class="row px-20 mb-30">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 d-row-left">
                  <div
                    th:id="${'product_price'}"
                    th:name="${'product_price'}"
                    th:text="${'₩   ' + #numbers.formatInteger(MODEL['product_price'], 3, 'COMMA')}"
                    th:class="${'fs-1-2rem fw-500 light-black'}"
                  >
                  </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 d-row-right">
                  <div
                    th:id="${'product_brand'}"
                    th:name="${'product_brand'}"
                    th:text="${MODEL['product_brand']}"
                    th:class="${'fs-1-2rem fw-600 dark'}"
                  >
                  </div>
                </div>
              </div>
              <!-- category && origin && stock && delivery -->
              <div class="row px-20 mb-20">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-row-left mb-10">
                  <div
                    th:id="${'product_category_prefix'}"
                    th:name="${'product_category_prefix'}"
                    th:text="${'스 타 일 : '}"
                    th:class="${'fs-1-0rem fw-500 dark me-10'}"
                  >
                  </div>
                  <div
                    th:id="${'product_category'}"
                    th:name="${'product_category'}"
                    th:text="${MODEL['product_category']}"
                    th:class="${'fs-1-0rem fw-500 light-black'}"
                  >
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-row-left mb-10">
                  <div
                    th:id="${'product_origin_prefix'}"
                    th:name="${'product_origin_prefix'}"
                    th:text="${'원 산 지 : '}"
                    th:class="${'fs-1-0rem fw-500 dark me-10'}"
                  >
                  </div>
                  <div
                    th:id="${'product_origin'}"
                    th:name="${'product_origin'}"
                    th:text="${MODEL['product_origin']}"
                    th:class="${'fs-1-0rem fw-500 light-black'}"
                  >
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-row-left mb-10">
                  <div
                    th:id="${'product_stock_prefix'}"
                    th:name="${'product_stock_prefix'}"
                    th:text="${'재고 수량 : '}"
                    th:class="${'fs-1-0rem fw-500 dark me-10'}"
                  >
                  </div>
                  <div
                    th:id="${'product_stock'}"
                    th:name="${'product_stock'}"
                    th:text="${MODEL['product_stock']}"
                    th:class="${'fs-1-0rem fw-500 light-black'}"
                  >
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-row-left">
                  <div
                    th:id="${'product_delivery_prefix'}"
                    th:name="${'product_delivery_prefix'}"
                    th:text="${'배송 안내 : '}"
                    th:class="${'fs-1-0rem fw-500 dark me-10'}"
                  >
                  </div>
                  <div
                    th:id="${'product_delivery'}"
                    th:name="${'product_delivery'}"
                    th:text="${'영업일 기준 2-3일'}"
                    th:class="${'fs-1-0rem fw-500 light-black'}"
                  >
                  </div>
                </div>
              </div>
              <!-- hr -->
              <hr class="mt-20 mb-20 bg-light-grey" />
              <!-- detail -->
              <div class="row px-20">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-row-left">
                  <div
                    th:id="${'product_detail'}"
                    th:name="${'product_detail'}"
                    th:text="${MODEL['product_detail']}"
                    th:class="${'fs-1-0rem fw-400 dark-grey lh-1-7'}"
                  >
                  </div>
                </div>
              </div>
              <!-- hr -->
              <hr class="mt-20 mb-20 bg-light-grey" />
              <!-- quantity -->
              <div class="row px-20 mb-30">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-row-left">
                  <div
                    th:id="${'orders_quantity_prefix'}"
                    th:name="${'orders_quantity_prefix'}"
                    th:text="${'수   량 : '}"
                    th:class="${'fs-1-0rem fw-500 dark me-30'}"
                  >
                  </div>
                  <div class="p-relative w-70p ms-auto">
                    <input
                      th:id="${'orders_quantity'}"
                      th:name="${'orders_quantity'}"
                      th:type="${'number'}"
                      th:min="${'1'}"
                      th:value="${'1'}"
                      th:max="${MODEL['product_stock']}"
                      th:class="${'form-control'}"
                    />
                    <i
                      th:id="${'minus'}"
                      th:name="${'minus'}"
                      th:class="${'fa fa-minus fs-0-9rem dark-grey pointer p-absolute'}"
                      th:style="${'top: 50%; right: 40px; transform: translateY(-50%);'}"
                    ></i>
                    <i
                      th:id="${'plus'}"
                      th:name="${'plus'}"
                      th:class="${'fa fa-plus fs-0-9rem dark-grey pointer p-absolute'}"
                      th:style="${'top: 50%; right: 10px; transform: translateY(-50%);'}"
                    ></i>
                  </div>
                </div>
              </div>
              <!-- total price && buy -->
              <div class="row px-20">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-row-left">
                  <div
                    th:id="${'orders_totalPrice_prefix'}"
                    th:name="${'orders_totalPrice_prefix'}"
                    th:text="${'총 금액 : '}"
                    th:class="${'fs-1-0rem fw-500 dark me-20'}"
                  >
                  </div>
                  <div
                    th:id="${'orders_totalPrice'}"
                    th:name="${'orders_totalPrice'}"
                    th:text="${'₩   ' + #numbers.formatInteger(MODEL['product_price'], 3, 'COMMA')}"
                    th:class="${'fs-1-2rem fw-500 light-black'}"
                  >
                  </div>
                  <div
                    th:id="${'getOrders'}"
                    th:name="${'getOrders'}"
                    th:class="${'fs-1-1rem fw-600 dark pointer-black ms-auto'}"
                    th:text="${'구매하기'}"
                    th:onclick="getOrders()"
                  >
                  </div>
                </div>
              </div>
              <!-- hidden -->
              <div class="hidden-wrapper">
                <input
                  th:type="${'hidden'}"
                  th:id="${'product_number'}"
                  th:name="${'product_number'}"
                  th:value="${MODEL['product_number']}"
                />
                <input
                  th:type="${'hidden'}"
                  th:id="${'sessionId'}"
                  th:name="${'sessionId'}"
                  th:value="${session.member_id}"
                />
                <input
                  th:type="${'hidden'}"
                  th:id="${'product_name'}"
                  th:name="${'product_name'}"
                  th:value="${MODEL['product_name']}"
                />
                <input
                  th:type="${'hidden'}"
                  th:id="${'product_price'}"
                  th:name="${'product_price'}"
                  th:value="${MODEL['product_price']}"
                />
                <input
                  th:type="${'hidden'}"
                  th:id="${'product_stock'}"
                  th:name="${'product_stock'}"
                  th:value="${MODEL['product_stock']}"
                />
                <input
                  th:type="${'hidden'}"
                  th:id="${'product_imgsUrl'}"
                  th:name="${'product_imgsUrl'}"
                  th:value="${MODEL['product_imgsUrl']}"
                />
                <input
                  th:type="${'hidden'}"
                  th:id="${'product_category'}"
                  th:name="${'product_category'}"
                  th:value="${MODEL['product_category']}"
                />
                <input
                  th:type="${'hidden'}"
                  th:id="${'product_origin'}"
                  th:name="${'product_origin'}"
                  th:value="${MODEL['product_origin']}"
                />
                <input
                  th:type="${'hidden'}"
                  th:id="${'product_brand'}"
                  th:name="${'product_brand'}"
                  th:value="${MODEL['product_brand']}"
                />
                <input
                  th:type="${'hidden'}"
                  th:id="${'product_detail'}"
                  th:name="${'product_detail'}"
                  th:value="${MODEL['product_detail']}"
                />
                <input
                  th:type="${'hidden'}"
                  th:id="${'product_stock'}"
                  th:name="${'product_stock'}"
                  th:value="${MODEL['product_stock']}"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <script defer>
    // 총 금액 계산
    function calcTotalPrice() {
      const productPrice = document.getElementById('product_price').innerText;
      const ordersQuantity = document.getElementById('orders_quantity').value;
      const ordersTotalPrice = document.getElementById('orders_totalPrice');
      const totalPrice = parseInt(productPrice.replace(/[^0-9]/g, '')) * ordersQuantity;
      ordersTotalPrice.innerText = '₩   ' + totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
    }

    // 수량 감소
    document.getElementById('minus').addEventListener('click', () => {
      const ordersQuantity = document.getElementById('orders_quantity');
      if (parseInt(ordersQuantity.value) > 1) {
        ordersQuantity.value = parseInt(ordersQuantity.value) - 1;
        calcTotalPrice();
      }
    });

    // 수량 증가
    document.getElementById('plus').addEventListener('click', () => {
      const ordersQuantity = document.getElementById('orders_quantity');
      if (parseInt(ordersQuantity.value) < parseInt(ordersQuantity.max)) {
        ordersQuantity.value = parseInt(ordersQuantity.value) + 1;
        calcTotalPrice();
      }
    });

    // 수량 변경
    document.getElementById('orders_quantity').addEventListener('change', () => {
      calcTotalPrice();
    });

    // 총 금액 초기화
    calcTotalPrice();
  </script>

  <!-- divider -->
  <th:block th:replace="~{components/divider :: divider}" />

  <!-- button -->
  <th:block th:replace="~{components/button :: button}" />

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>