<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- head -->
  <th:block th:replace="~{layouts/head :: head}" />

  <!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layouts/navigation :: navigation}" />

  <!-- main -->
  <section class="container-fluid">
    <div class="row d-center">
      <div class="col-11 col-sm-11 col-md-10 col-lg-9 col-xl-8">
        <!-- form -->
        <form
          th:id="${'formData'}"
          th:name="${'formData'}"
          th:class="${'formData'}"
        >
          <!-- detail -->
          <div class="row">
            <!-- section 1 -->
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <!-- image -->
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-col-center">
                  <img
                    th:each="image, iterStat : ${#strings.arraySplit(MODEL['product_imgsUrl'], ',')}"
                    th:src="@{|${STORAGE}/${page}/${image}|}"
                    th:loading="${'lazy'}"
                    th:alt="${'image'}"
                    th:class="${'w-100p w-max-500px border-0 radius-1 shadow-1'}"
                    th:classappend="${iterStat.index == 0} ? 'mb-3vh' : ''"
                  />
                </div>
              </div>
            </div>
            <!-- y -->
            <div class="d-none d-md-block col-md-1 col-lg-1 col-xl-1">
              <div class="h-98p mt-2vh bg-light w-1px m-auto"></div>
            </div>
            <!-- x -->
            <div class="col-12 col-sm-12 d-md-none d-lg-none d-xl-none">
              <div class="w-100p my-1vh bg-light h-1px"></div>
            </div>
            <!-- section 2 -->
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
              <!-- top -->
              <div class="row px-5vw">
                <div class="d-none d-md-block col-md-12 col-lg-12 col-xl-12">
                  <div class="w-100p mt-5vh"></div>
                </div>
              </div>
              <!-- name -->
              <div class="row px-5vw mb-4vh">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-row-center">
                  <div
                    th:id="${'product_name'}"
                    th:name="${'product_name'}"
                    th:text="${MODEL['product_name']}"
                    th:class="${'fs-1-7rem fw-600 light-black'}"
                  ></div>
                </div>
              </div>
              <!-- price & brand -->
              <div class="row px-5vw">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 d-row-left">
                  <div
                    th:id="${'product_price'}"
                    th:name="${'product_price'}"
                    th:text="${'₩   ' + #numbers.formatInteger(MODEL['product_price'], 3, 'COMMA')}"
                    th:class="${'fs-1-2rem fw-500 light-black'}"
                  ></div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 d-row-right">
                  <div
                    th:id="${'product_brand'}"
                    th:name="${'product_brand'}"
                    th:text="${MODEL['product_brand']}"
                    th:class="${'fs-1-2rem fw-600 dark'}"
                  ></div>
                </div>
              </div>
              <div class="w-100p my-3vh bg-light h-1px"></div>
              <!-- category & origin & stock & delivery -->
              <div class="row px-5vw">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-row-left mb-2vh">
                  <div
                    th:id="${'product_category_prefix'}"
                    th:name="${'product_category_prefix'}"
                    th:text="${'스 타 일'}"
                    th:class="${'fs-0-8rem fw-500 dark mr-10px'}"
                  ></div>
                  <div
                    th:id="${'product_category'}"
                    th:name="${'product_category'}"
                    th:text="${MODEL['product_category']}"
                    th:class="${'fs-0-9rem fw-500 light-black'}"
                  ></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-row-left mb-2vh">
                  <div
                    th:id="${'product_origin_prefix'}"
                    th:name="${'product_origin_prefix'}"
                    th:text="${'원 산 지'}"
                    th:class="${'fs-0-8rem fw-500 dark mr-10px'}"
                  ></div>
                  <div
                    th:id="${'product_origin'}"
                    th:name="${'product_origin'}"
                    th:text="${MODEL['product_origin']}"
                    th:class="${'fs-0-9rem fw-500 light-black'}"
                  ></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-row-left mb-2vh">
                  <div
                    th:id="${'product_stock_prefix'}"
                    th:name="${'product_stock_prefix'}"
                    th:text="${'재고 수량'}"
                    th:class="${'fs-0-8rem fw-500 dark mr-10px'}"
                  ></div>
                  <div
                    th:id="${'product_stock'}"
                    th:name="${'product_stock'}"
                    th:text="${MODEL['product_stock']}"
                    th:class="${'fs-0-9rem fw-500 light-black'}"
                  ></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-row-left">
                  <div
                    th:id="${'product_delivery_prefix'}"
                    th:name="${'product_delivery_prefix'}"
                    th:text="${'배송 안내'}"
                    th:class="${'fs-0-8rem fw-500 dark mr-10px'}"
                  ></div>
                  <div
                    th:id="${'product_delivery'}"
                    th:name="${'product_delivery'}"
                    th:text="${'영업일 기준 2-3일'}"
                    th:class="${'fs-0-9rem fw-500 light-black'}"
                  ></div>
                </div>
              </div>
              <div class="w-100p my-3vh bg-light h-1px"></div>
              <!-- detail -->
              <div class="row px-5vw">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-row-left">
                  <div
                    th:id="${'product_detail'}"
                    th:name="${'product_detail'}"
                    th:text="${MODEL['product_detail']}"
                    th:class="${'fs-0-9rem fw-400 dark-grey lh-1-7'}"
                  ></div>
                </div>
              </div>
              <div class="w-100p my-3vh bg-light h-1px"></div>
              <!-- quantity & total price & buy -->
              <div class="row px-5vw">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-row-left mb-4vh">
                  <div
                    th:id="${'orders_quantity_prefix'}"
                    th:name="${'orders_quantity_prefix'}"
                    th:text="${'수 량'}"
                    th:class="${'fs-0-9rem fw-500 dark mr-30px'}"
                  ></div>
                  <div class="p-relative w-70p ml-auto">
                    <input
                      th:id="${'orders_quantity'}"
                      th:name="${'orders_quantity'}"
                      th:type="${'number'}"
                      th:min="${'1'}"
                      th:value="${'1'}"
                      th:max="${MODEL['product_stock']}"
                      th:class="${'form-control h-30px'}"
                    />
                    <i
                      th:id="${'minus'}"
                      th:name="${'minus'}"
                      th:class="${'fa fa-minus fs-0-9rem dark-grey pointer p-absolute'}"
                      th:style="${'top: 50%; right: 40px; transform: translateY(-50%);'}"
                    ></i>
                    <i
                      th:id="${'plus'}"
                      th:name="${'plus'}"
                      th:class="${'fa fa-plus fs-0-9rem dark-grey pointer p-absolute'}"
                      th:style="${'top: 50%; right: 10px; transform: translateY(-50%);'}"
                    ></i>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-row-left mb-4vh">
                  <div
                    th:id="${'orders_totalPrice_prefix'}"
                    th:name="${'orders_totalPrice_prefix'}"
                    th:class="${'fs-0-9rem fw-500 dark mr-20px'}"
                    th:text="${'총 금액'}"
                  ></div>
                  <input
                    th:type="${'hidden'}"
                    th:id="${'orders_totalPrice'}"
                    th:name="${'orders_totalPrice'}"
                  />
                  <div
                    th:id="${'orders_totalPrice'}"
                    th:name="${'orders_totalPrice'}"
                    th:text="${#numbers.formatInteger(MODEL['product_price'], 3, 'COMMA')}"
                    th:class="${'fs-1-0rem fw-500 light-black ml-auto mr-auto'}"
                  ></div>
                  <div
                    th:id="${'getOrders'}"
                    th:name="${'getOrders'}"
                    th:class="${'fs-1-0rem fw-700 black pointer-burgundy ml-auto'}"
                    th:text="${'구매하기'}"
                    th:onclick="getOrders()"
                  ></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-row-left">
                  <div
                    th:id="${'orders_card'}"
                    th:name="${'orders_card'}"
                    th:class="${'fs-0-9rem fw-500 dark mr-20px'}"
                    th:text="${'테스트카드'}"
                  ></div>
                  <div
                    th:id="${'orders_card'}"
                    th:name="${'orders_card'}"
                    th:class="${'fs-0-8rem fw-500 black ml-auto'}"
                    th:text="${'4242 4242 4242 4242'}"
                  ></div>
                  <div
                    th:id="${'orders_card'}"
                    th:name="${'orders_card'}"
                    th:class="${'fs-0-8rem fw-500 black ml-auto'}"
                    th:text="${'12/34 / 567'}"
                  ></div>
                </div>
              </div>
              <div class="w-100p mt-5vh mb-3vh bg-light-grey h-1px"></div>
              <!-- information -->
              <div class="row px-5vw">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-col-left">
                  <div
                    th:id="${'info-title'}"
                    th:name="${'info-title'}"
                    th:text="${'■ 상품 정보 제공 고시'}"
                    th:class="${'fs-0-8rem fw-500 dark mb-2vh'}"
                  ></div>
                  <div
                    th:id="${'info-content'}"
                    th:name="${'info-content'}"
                    th:class="${'fs-0-7rem fw-400 grey lh-1-7'}"
                    th:text="${'상품 정보 제공 고시[전자상거래에 관한 상품정보 제공에 관한 고시] 항목에 의해 등록된 정보입니다. 품질보증기준 관련법규 및 소비자 보호법에 따름 A/S 책임자와 주문후 예상 배송기간 2~3일소요 구매, 교환, 반품, 배송, 설치 등과 관련하여 추가비용, 제한조건 등의 특이사항이 있는 경우 소비자가 전자상거래등에서 소비자 보호에 관한 법률 제 17조 제1항 또는 제3항에 따라 청약철회를 하고 동법 제 18조 제1항 에 따라 청약철회한 물품을 판매자에게 반환하였음에도 불구 하고 결제 대금의 환급이 3영업일을 넘게 지연된 경우, 소비자 는 전자상거래등에서 소비자보호에 관한 법률 제18조 제2항 및 동법 시행령 제21조 2에 따라 지연일수에 대하여 전상법 시행령으로 정하는 이율을 곱하여 산정한 지연이자(“지연배상금”)를 신청할 수 있습니다.'}"
                  ></div>
                </div>
                <div class="w-100p my-1vh bg-light h-1px"></div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-col-left">
                  <div
                    th:id="${'info-title'}"
                    th:name="${'info-title'}"
                    th:text="${'■ 필수 고시 사항'}"
                    th:class="${'fs-0-8rem fw-500 dark mb-2vh'}"
                  ></div>
                  <div
                    th:id="${'info-content'}"
                    th:name="${'info-content'}"
                    th:class="${'fs-0-7rem fw-400 grey lh-1-7'}"
                    th:text="${'전자상거래 등에서의 소비자보호법에 관한 법률에 의거하여 미성년자가 물품을 구매하는 경우, 법정대리인이 동의하지 않으면 미성년자 본인 또는 법정대리인이 구매를 취소할 수 있습니다. 등록된 판매 상품과 상품의 내용, 거래 정보 및 가격은 판매자가 등록한 것으로 해당 내용에 대하여 일체의 책임을 지지 않습니다.'}"
                  ></div>
                </div>
                <div class="w-100p my-1vh bg-light h-1px"></div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-col-left">
                  <div
                    th:id="${'info-title'}"
                    th:name="${'info-title'}"
                    th:text="${'■ 교환 정보'}"
                    th:class="${'fs-0-8rem fw-500 dark mb-2vh'}"
                  ></div>
                  <div
                    th:id="${'info-content'}"
                    th:name="${'info-content'}"
                    th:class="${'fs-0-7rem fw-400 grey lh-1-7'}"
                    th:text="${'반품/교환 기준 상품 수령 후 7일 이내에 신청하실 수 있습니다. 단, 제품이 표시·광고 내용과 다르거나, 계약과 다르게 이행된 경우는 제품 수령일부터 3개월 이내, 그 사실을 안 날 또는 알 수 있었던 날부터 30일 이내에 교환/반품이 가능합니다. 추가적으로 다음의 경우 해당하는 반품/교환은 신청이 불가능할 수 있습니다.'}"
                  ></div>
                </div>
              </div>
            </div>
            <!-- hidden -->
            <div class="hidden-wrapper">
              <input
                th:type="${'hidden'}"
                th:id="${'product_number'}"
                th:name="${'product_number'}"
                th:value="${MODEL['product_number']}"
              />
              <input
                th:type="${'hidden'}"
                th:id="${'sessionId'}"
                th:name="${'sessionId'}"
                th:value="${session.member_id}"
              />
              <input
                th:type="${'hidden'}"
                th:id="${'orders_member_id'}"
                th:name="${'orders_member_id'}"
                th:value="${session.member_id}"
              />
              <input
                th:type="${'hidden'}"
                th:id="${'product_name'}"
                th:name="${'product_name'}"
                th:value="${MODEL['product_name']}"
              />
              <input
                th:type="${'hidden'}"
                th:id="${'product_price'}"
                th:name="${'product_price'}"
                th:value="${MODEL['product_price']}"
              />
              <input
                th:type="${'hidden'}"
                th:id="${'product_stock'}"
                th:name="${'product_stock'}"
                th:value="${MODEL['product_stock']}"
              />
              <input
                th:type="${'hidden'}"
                th:id="${'product_imgsUrl'}"
                th:name="${'product_imgsUrl'}"
                th:value="${MODEL['product_imgsUrl']}"
              />
              <input
                th:type="${'hidden'}"
                th:id="${'product_category'}"
                th:name="${'product_category'}"
                th:value="${MODEL['product_category']}"
              />
              <input
                th:type="${'hidden'}"
                th:id="${'product_origin'}"
                th:name="${'product_origin'}"
                th:value="${MODEL['product_origin']}"
              />
              <input
                th:type="${'hidden'}"
                th:id="${'product_brand'}"
                th:name="${'product_brand'}"
                th:value="${MODEL['product_brand']}"
              />
              <input
                th:type="${'hidden'}"
                th:id="${'product_detail'}"
                th:name="${'product_detail'}"
                th:value="${MODEL['product_detail']}"
              />
              <input
                th:type="${'hidden'}"
                th:id="${'product_stock'}"
                th:name="${'product_stock'}"
                th:value="${MODEL['product_stock']}"
              />
              <input
                th:type="${'hidden'}"
                th:id="${'product_stripe_id'}"
                th:name="${'product_stripe_id'}"
                th:value="${MODEL['product_stripe_id']}"
              />
              <input
                th:type="${'hidden'}"
                th:id="${'product_stripe_price'}"
                th:name="${'product_stripe_price'}"
                th:value="${MODEL['product_stripe_price']}"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <!-- script -->
  <script defer>
    // 총 금액 계산
    function calcTotalPrice() {
      const productPrice = document.querySelector(`div[id='product_price']`).innerText;
      const ordersQuantity = document.querySelector(`input[id='orders_quantity']`).value;
      const ordersTotalPriceDiv = document.querySelector(`div[id='orders_totalPrice']`);
      const ordersTotalPriceInput = document.querySelector(`input[id='orders_totalPrice']`);

      const totalPrice = parseInt(productPrice.replace(/[^0-9]/g, '')) * ordersQuantity;
      const fmtTotalPrice = `₩ ${totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')}`;

      ordersTotalPriceDiv.innerText = fmtTotalPrice;
      ordersTotalPriceInput.value = totalPrice;
    }

    // 수량 감소
    document.getElementById('minus').addEventListener('click', () => {
      const ordersQuantity = document.getElementById('orders_quantity');
      if (parseInt(ordersQuantity.value) > 1) {
        ordersQuantity.value = parseInt(ordersQuantity.value) - 1;
        calcTotalPrice();
      }
    });

    // 수량 증가
    document.getElementById('plus').addEventListener('click', () => {
      const ordersQuantity = document.getElementById('orders_quantity');
      if (parseInt(ordersQuantity.value) < parseInt(ordersQuantity.max)) {
        ordersQuantity.value = parseInt(ordersQuantity.value) + 1;
        calcTotalPrice();
      }
    });

    // 수량 변경
    document.getElementById('orders_quantity').addEventListener('change', () => {
      calcTotalPrice();
    });

    // 총 금액 초기화
    calcTotalPrice();
  </script>

  <!-- divider -->
  <th:block th:replace="~{components/divider :: divider}" />

  <!-- button -->
  <th:block th:replace="~{components/button :: button}" />

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>