<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- head -->
  <th:block th:replace="~{layouts/head :: head}" />

  <!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layouts/navigation :: navigation}" />

  <!-- main -->
  <section class="container-fluid">
    <div class="row d-center">
      <div class="col-11 col-sm-11 col-md-10 col-lg-9 col-xl-8">
        <!-- form -->
        <form
          th:id="${'formData'}"
          th:name="${'formData'}"
          th:class="${'formData'}"
        >
          <!-- detail -->
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="border-1 radius-2 shadow-1 px-20 py-40 bg-light">
                <!-- title -->
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="d-row-center">
                      <div
                        th:id="${'order_date'}"
                        th:name="${'order_date'}"
                        th:class="${'fs-1-8rem fw-700 light-black ms-auto'}"
                        th:text="${#strings.substring((MODEL['orders_update'] != null ? MODEL['orders_update'] : MODEL['orders_date']), 0, 10)}"
                      ></div>
                      <div
                        th:id="${'order_number'}"
                        th:name="${'order_number'}"
                        th:class="${'fs-1-1rem fw-700 dark-grey ms-auto'}"
                        th:text="${MODEL['orders_number']}"
                      ></div>
                    </div>
                  </div>
                </div>
                <!-- hr -->
                <div class="w-100p my-30 bg-black h-1"></div>
                <!-- image -->
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <th:block th:if="${MODEL['orders_imgsUrl'] == ''}">
                      <img
                        th:src="@{|${STORAGE}/icon/logo.png|}"
                        th:loading="${'lazy'}"
                        th:alt="${'image'}"
                        th:class="${'w-100p w-max500 border-1 radius-1 shadow-0'}"
                      />
                    </th:block>
                    <th:block th:if="${MODEL['orders_imgsUrl'] != ''}">
                      <img
                        th:each="image, iterStat:${#strings.arraySplit(MODEL['orders_imgsUrl'], ',')}"
                        th:if="${iterStat.index == 0}"
                        th:src="@{|${STORAGE}/product/${image}|}"
                        th:loading="${'lazy'}"
                        th:alt="${'image'}"
                        th:class="${'w-90p w-max500 border-1 radius-1 shadow-0'}"
                      />
                    </th:block>
                  </div>
                </div>
                <!-- hr -->
                <div class="w-100p my-20 bg-light-grey h-1"></div>
                <!-- product name -->
                <div class="row mb-20">
                  <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 d-row-right">
                    <div
                      th:id="${'product_name_prefix'}"
                      th:name="${'product_name_prefix'}"
                      th:class="${'fs-1-1rem fw-500 dark-grey me-20'}"
                      th:text="${'상품명'}"
                    ></div>
                  </div>
                  <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 d-row-left">
                    <div
                      th:id="${'product_name'}"
                      th:name="${'product_name'}"
                      th:class="${'fs-1-1rem fw-600 light-black'}"
                      th:text="${MODEL['orders_product_name']}"
                    ></div>
                  </div>
                </div>
                <!-- date -->
                <div class="row mb-20">
                  <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 d-row-right">
                    <div
                      th:id="${'orders_date_prefix'}"
                      th:name="${'orders_date_prefix'}"
                      th:class="${'fs-1-1rem fw-500 dark-grey me-20'}"
                      th:text="${'주문 일자'}"
                    ></div>
                    </div>
                  <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 d-row-left">
                    <div
                      th:id="${'orders_date'}"
                      th:name="${'orders_date'}"
                      th:class="${'fs-1-1rem fw-600 light-black'}"
                      th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}"
                    ></div>
                  </div>
                </div>
                <!-- quantity -->
                <div class="row mb-20">
                  <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 d-row-right">
                    <div
                      th:id="${'orders_quantity_prefix'}"
                      th:name="${'orders_quantity_prefix'}"
                      th:class="${'fs-1-1rem fw-500 dark-grey me-20'}"
                      th:text="${'수량'}"
                    ></div>
                  </div>
                  <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 d-row-left">
                    <div
                      th:id="${'orders_quantity'}"
                      th:name="${'orders_quantity'}"
                      th:class="${'fs-1-1rem fw-600 light-black'}"
                      th:text="${#numbers.formatInteger(MODEL['orders_quantity'], 1, 'COMMA') + '  개'}"
                    ></div>
                  </div>
                </div>
                <!-- total price -->
                <div class="row">
                  <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 d-row-right">
                    <div
                      th:id="${'orders_totalPrice_prefix'}"
                      th:name="${'orders_totalPrice_prefix'}"
                      th:class="${'fs-1-1rem fw-500 dark-grey me-20'}"
                      th:text="${'결제 금액'}"
                    ></div>
                  </div>
                  <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 d-row-left">
                    <div
                      th:id="${'orders_totalPrice'}"
                      th:name="${'orders_totalPrice'}"
                      th:class="${'fs-1-1rem fw-600 light-black'}"
                      th:text="${#numbers.formatInteger(MODEL['orders_totalPrice'], 0, 'COMMA') + '  원'}"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>