<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <!-- head -->
  <th:block th:replace="~{layouts/head :: head}" />

  <!-- header -->
  <th:block th:replace="~{layouts/header :: header}" />

  <!-- navigation -->
  <th:block th:replace="~{layouts/navigation :: navigation (icon='fas fa-credit-card', text1='Orders', text2='Fail')}" />

  <!-- main -->
  <main class="container px-30">
    <div class="row">
      <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8">
    <div class="row jungho-center">
      <div class="col-lg-6 col-md-6">
        <div class="checkout-order">
          <h4 class="order-title">주문이 실패하였습니다.</h4>
          <button th:type="|button|" class="jungho-button" th:onclick="|location.href='@{/}'|"><i class="fa fa-barcode fa-lg"></i>&nbsp;홈으로
          </button>
        </div>
      </div>
    </div>
  </main>

  <!-- footer -->
  <th:block th:replace="~{layouts/footer :: footer}" />

</html>