/** Hero ******************************************************************************************/
.hero-slider.owl-carousel
.owl-item.active
.hero-text h6 {
  top: 0;
  opacity: 1;
}
.hero-slider.owl-carousel
.owl-item.active
.hero-text h2 {
  top: 0;
  opacity: 1;
}
.hero-slider.owl-carousel
.owl-item.active
.hero-text p {
  top: 0;
  opacity: 1;
}
.hero-slider.owl-carousel
.owl-item.active
.hero-text
.primary-btn {
  top: 0;
  opacity: 1;
}
.hero-slider.owl-carousel
.owl-nav button {
  font-size: 36px;
  color: #333333;
  position: absolute;
  left: 75px;
  top: 50%;

  line-height: 29px;
}
.hero-slider.owl-carousel
.owl-nav button.owl-next {
  left: auto;
  right: 75px;
}
.hero-items {
  height: 700px;
  padding-top: 230px;
}
.hero-text h6 {
  color: #800020;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;

  position: relative;
  top: 100px;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.hero-text h2 {
  color: #111111;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  position: relative;
  top: 100px;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.hero-text p {
  font-size: 16px;
  line-height: 28px;
  position: relative;
  top: 100px;
  opacity: 0;
  -webkit-transition: all, 0.9s;
  -o-transition: all, 0.9s;
  transition: all, 0.9s;
}
.hero-text
.primary-btn {
  position: relative;
  top: 100px;
  opacity: 0;
  -webkit-transition: all, 1.1s;
  -o-transition: all, 1.1s;
  transition: all, 1.1s;
}
.hero-text
.primary-btn span {
  font-size: 20px;
  position: relative;
  top: 4px;
  font-weight: 700;
}
.hero-social a {
  font-size: 16px;
  color: #3d3d3d;
  display: inline-block;
}

/** off-canvas ************************************************************************************/
.canvas-open {
  display: block;
  font-size: 22px;
  color: #111111;
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #111111;
  border-radius: 2px;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 25px;
}
.off-canvas-menu-wrapper {
  display: none;
}
.off-canvas-menu-wrapper.active {
  display: block;
}
.off-canvas-menu-overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  content: "";
  z-index: 98;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  visibility: hidden;
}
.off-canvas-menu-overlay.active {
  visibility: visible;
}
.off-canvas-menu-wrapper {
  position: fixed;
  left: -300px;
  width: 300px;
  height: 100%;
  background: #ffffff;
  padding: 30px 30px 30px 30px;
  display: block;
  z-index: 10000;
  overflow-y: auto;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 0;
}
.off-canvas-menu-wrapper.active {
  opacity: 1;
  left: 0;
  transition: all 0.4s ease-in-out;
}
.off-canvas-menu {
  display: none;
}
.slicknav_btn {
  display: none;
}
.slicknav_menu {
  background: transparent;
  padding: 0;
}
.slicknav_nav ul {
  margin: 0;
}
.slicknav_nav a {
  background: transparent;
  color: #111111;
  padding: 20px 0;
  margin: 0;
  font-weight: 600;
  font-size: 1.0rem;
}
.slicknav_nav
.slicknav_arrow {
  color: #111111;
}
.slicknav_nav
.slicknav_row:hover {
  border-radius: 0;
  background: transparent;
  color: #111111;
}
.slicknav_nav a:hover {
  border-radius: 0;
  background: transparent;
  color: #111111;
}
.slicknav_nav {
  display: block !important;
}
.off-canvas-option {
  text-align: center;
}
.off-canvas-links {
  display: inline-block;
}
.off-canvas-links a {
  color: #111111;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 600;
}
.off-canvas-top-hover {
  display: inline-block;
  position: relative;
}
.off-canvas-top-hover:hover ul {
  top: 24px;
  opacity: 1;
  visibility: visible;
}
.off-canvas-top-hover span {
  color: #111111;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
}
.off-canvas-top-hover span i {
  font-size: 20px;
  position: relative;
  top: 3px;
  right: 2px;
}
.off-canvas-top-hover ul {
  background: #ffffff;
  display: inline-block;
  padding: 2px 0;
  position: absolute;
  left: 0;
  top: 44px;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.off-canvas-top-hover ul li {
  list-style: none;
  font-size: 13px;
  color: #111111;
  padding: 2px 15px;
  cursor: pointer;
}
.off-canvas-nav-option {
  text-align: center;
}
.off-canvas-nav-option a {
  display: inline-block;
  position: relative;
}
.off-canvas-nav-option a span {
  color: #0d0d0d;
  font-size: 11px;
  position: absolute;
  left: 5px;
  top: 8px;
}
.off-canvas-nav-option
.price {
  font-size: 15px;
  color: #111111;
  font-weight: 700;
  display: inline-block;
  position: relative;
  top: 3px;
}
.primary-btn {
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
  color: #ffffff;
  background: #000000;
  letter-spacing: 4px;
}

/** Header ***************************************************************************************/
.header {
  background: #ffffff;
}
.header-top {
  background: #111111;
  padding: 10px 0;
}
.header-top-left p {
  color: #ffffff;
}
.header-top-right {
  text-align: right;
}
.header-top-links {
  display: inline-block;
}
.header-top-links a {
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
}
.header-top-links a:hover {
  font-weight: 900;
}
.header-top-links a:active {
  font-weight: 900;
}
a:not([href]):hover {
  font-weight: 900;
  color: #ffffff;
}
.header-top-hover:hover ul {
  top: 24px;
  opacity: 1;
  visibility: visible;
}
.header-top-hover span {
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  cursor: pointer;
}
.header-top-hover span i {
  font-size: 20px;
  position: relative;
  top: 3px;
  right: 2px;
}
.header-top-hover span:hover {
  font-weight: 900;
}
.header-top-hover ul {
  background: #ffffff;
  display: inline-block;
  padding: 10px 0px;
  position: absolute;
  right: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 50;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header-top-hover ul li {
  list-style: none;
  font-size: 13px;
  color: #111111;
  padding: 10px 15px;
  cursor: pointer;
}
.header-logo {
  padding: 10px 0;
}
.header-logo a {
  display: inline-block;
}
.header-menu {
  text-align: center;
  padding: 30px 0 10px;
}
.header-menu ul li {
  list-style: none;
  display: inline-block;
  position: relative;
}
.header-menu ul li.active a:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.header-menu ul li:hover a:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.header-menu ul li:hover
.dropdown {
  top: 32px;
  opacity: 1;
  visibility: visible;
}
.header-menu ul li
.dropdown {
  position: absolute;
  left: 0;
  top: 56px;
  width: 150px;
  background: #111111;
  text-align: left;
  padding: 5px 0;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header-menu ul li
.dropdown li {
  display: block;
}
.header-menu ul li
.dropdown li a {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  padding: 5px 20px;
  text-transform: capitalize;
}
.header-menu ul li
.dropdown li a:after {
  display: none;
}
.header-menu ul li a {
  font-size: 18px;
  color: #111111;
  display: block;
  font-weight: 600;
  position: relative;
  padding: 3px 0;
}
.header-menu ul li a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #800020;
  content: "";
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.header-nav-option {
  text-align: right;
  padding: 30px 0;
}
.header-nav-option a {
  display: inline-block;
  position: relative;
}
.header-nav-option a span {
  color: #0d0d0d;
  font-size: 11px;
  position: absolute;
  left: 5px;
  top: 8px;
}
.header-nav-option
.price {
  font-size: 15px;
  color: #111111;
  font-weight: 700;
  display: inline-block;
  position: relative;
  top: 3px;
}

/** ETC ******************************************************************************************/
[class^="container"] {
  padding: 0;
  margin: 0;
  max-width: 100vw;
}
[class^="row"] {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
[class^="col-"] {
  padding: 0;
  margin: 0;
}
.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.form-control {
  width: 100%;
  height: 40px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding:
.375rem
.75rem;
}