<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<!-- pagination -->
  <section th:fragment="pagination" class="container-fluid">
    <div class="row d-row-center">
      <div class="col-11 col-sm-11 col-md-10 col-lg-10 col-xl-10">
        <div class="d-row-center">
          <!-- prev -->
          <th:block th:if="${pageHandler.pageNumber > 1}">
            <div
              th:id="${'prev'}"
              th:name="${'prev'}"
              th:class="${'fs-1-6rem fw-700 h-30px w-30px d-center black pointer'}"
              th:onclick="|location.href='@{|/${page}/list${PAGE}?pageNumber=${pageHandler.pageNumber-1}&itemsPer=${pageHandler.itemsPer}|}'|"
              th:text="${'&laquo;'}"
            ></div>
          </th:block>
          <th:block th:if="${pageHandler.pageNumber <= 1}">
            <div
              th:id="${'prev'}"
              th:name="${'prev'}"
              th:class="${'fs-1-6rem fw-700 h-30px w-30px d-center grey'}"
              th:text="${'&laquo;'}"
            ></div>
          </th:block>
          <!-- number -->
          <th:block th:each="pageNumber, iter : ${#numbers.sequence(1, pageHandler.totalPages > 0 ? pageHandler.totalPages : 1)}">
            <th:block th:if="${pageNumber == pageHandler.pageNumber}">
              <div
                th:id="${'number'}"
                th:name="${'number'}"
                th:class="${'fs-1-0rem fw-700 h-30px w-30px border-1 radius-50 d-center ml-1vw mr-1vw bg-black white pointer'}"
                th:text="${pageNumber}"
              ></div>
            </th:block>
            <th:block th:if="${pageNumber != pageHandler.pageNumber}">
              <div
                th:id="${'number'}"
                th:name="${'number'}"
                th:class="${'fs-1-0rem fw-700 h-30px w-30px border-1 radius-50 d-center ml-1vw mr-1vw bg-white black pointer'}"
                th:onclick="|location.href='@{|/${page}/list${PAGE}?pageNumber=${pageNumber}&itemsPer=${pageHandler.itemsPer}|}'|"
                th:text="${pageNumber}"
              ></div>
            </th:block>
          </th:block>
          <!-- next -->
          <th:block th:if="${pageHandler.pageNumber < pageHandler.totalPages}">
            <div
              th:id="${'next'}"
              th:name="${'next'}"
              th:class="${'fs-1-6rem fw-700 h-30px w-30px d-center black pointer'}"
              th:onclick="|location.href='@{|/${page}/list${PAGE}?pageNumber=${pageHandler.pageNumber+1}&itemsPer=${pageHandler.itemsPer}|}'|"
              th:text="${'&raquo;'}"
            ></div>
          </th:block>
          <th:block th:if="${pageHandler.pageNumber >= pageHandler.totalPages}">
            <div
              th:id="${'next'}"
              th:name="${'next'}"
              th:class="${'fs-1-6rem fw-700 h-30px w-30px d-center grey'}"
              th:text="${'&raquo;'}"
            ></div>
          </th:block>
        </div>
      </div>
    </div>
  </section>

  <!-- fake pagination -->
  <section th:fragment="fake-pagination" class="container-fluid mt-4vh">
    <div class="row d-row-center">
      <div class="col-11 col-sm-11 col-md-10 col-lg-10 col-xl-10">
        <div class="d-row-center">
          <!-- prev -->
          <div
            th:id="${'prev'}"
            th:name="${'prev'}"
            th:class="${'fs-1-6rem fw-700 h-30px w-30px d-center pointer'}"
            th:text="${'&laquo;'}"
          ></div>
          <!-- number -->
          <div
            th:id="${'number'}"
            th:name="${'number'}"
            th:class="${'fs-1-0rem fw-700 h-30px w-30px border-1 radius-50 d-center pointer ml-1vw mr-1vw'}"
            th:text="${'1'}"
          ></div>
          <!-- next -->
          <div
            th:id="${'next'}"
            th:name="${'next'}"
            th:class="${'fs-1-6rem fw-700 h-30px w-30px d-center pointer'}"
            th:text="${'&raquo;'}"
          ></div>
        </div>
      </div>
    </div>
  </section>

</html>
